{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <style type="text/css">

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                   $('#export_button').attr('disabled', true);
                   $("#id_student").chosen();

                $(document).on("click", "#save", function (e) {

                    if( Number($("#id_voucher_amount").val()) <= Number($("#id_scholarship_fee").val())){

                        if( $("#id_voucher_date").val() != "" ) {
                            $('#form_sample_1').submit();
                            $("#data_error_msg").hide();
                        }else{
                            $("#data_error_msg").show();
                            return false;
                        }
                    }else{
                        $("#error_msg").show();
                        return false;
                    }

                });


                $(document).on("change", "#id_student", function (e) {
                     $("#error_msg").hide();
                     $("#data_error_msg").hide();
                    var student = $(this).val();
                    $('#id_student_details').val(student)
                    $('#form_sample_get').submit()
                    {% comment %}var url = '/accounting/get_donor_recipt_for_org_payment/';
                    get_voucher_data(url, student);
                     $('#export_button').attr('disabled', false);
                      $('#export_student_value').val(student);{% endcomment %}


                });

                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "bFilter": true,
                    "paging": true,
                    "info": true,

                    "aoColumnDefs": [
                        {'bSortable': false,
                        "scrollX": true,}
                    ],
                    dom: 'Bfrtip',
                    buttons: [
                        //'print',
                        {
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: ':visible'
                                //columns: [ 1,2, 3,4, 5, 6, 7 ]
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            exportOptions: {
                                //columns: [ 2, 3,4, 5, 6, 7 ]
                                columns: ':visible'
                            }
                        },
                    ],
                });


                {% comment %}function get_voucher_data(url, student) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            student: student,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            {#alert(JSON.stringify(data));#}

                            $('#id_app_id').val(data['application_rec']['id']);
                            $('#id_voucher_number').val(data['application_rec']['voucher_number']);
                            $('#id_voucher_number_id').val(data['application_rec']['voucher_number']);

                            if (data['application_rec']['semester'] != null) {
                                $('#id_semester').val(data['application_rec']['semester']['semester_name']);
                                $('#id_semester_id').val(data['application_rec']['semester']['semester_name']);
                            }


                            $('#id_scholarship_fee').val(data['application_rec']['scholarship_fee']);
                            $('#id_balance').val(data['outstanding_amount']);

                            if (data['application_rec']['country'] != null) {
                                $('#id_country').val(data['application_rec']['country']['country_name']);
                                $('#id_country_id').val(data['application_rec']['country']['country_name']);
                            }

                            if (data['application_rec']['university'] != null) {
                                $('#id_university').val(data['application_rec']['university']['university_name']);
                                $('#id_university_id').val(data['application_rec']['university']['university_name']);
                            }

                            if (data['application_rec']['scholarship'] != null) {
                                $('#id_scholarship').val(data['application_rec']['scholarship']['scholarship_name']);
                                $('#id_scholarship_id').val(data['application_rec']['scholarship']['scholarship_name']);
                            }

                            if (data['application_rec']['scholarship_fee'] != null) {
                                $('#id_scholarship_fee').val(data['application_rec']['scholarship_fee']);
                            }

                            if (data['application_rec']['degree'] != null) {
                                $('#id_degree').val(data['application_rec']['degree']['degree_name']);
                                {#$('#id_donor_id').val(data['application_rec']['donor']['user']['first_name']);#}
                            }

                            if (data['application_rec']['program'] != null) {
                                $('#id_program').val(data['application_rec']['program']['program_name']);
                                $('#id_program_id').val(data['application_rec']['program']['program_name']);
                            }


                            var output_html = "";

                            for(var i= 0; i< (data['voucher_rec']).length ; i++) {

                                if(data['voucher_rec'][i]['voucher_type'] == "debit") {
                                    output_html += "" +
                                    "<tr id='item"+ i +"' class='item'>"
                                    + "<td><input id='id_voucher_number"+ i +"' class='form-control data voucher_number' value='"+ data['voucher_rec'][i]['voucher_number'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_date"+ i +"' class='form-control data voucher_date' value='"+ data['voucher_rec'][i]['voucher_date'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_description"+ i +"' class='form-control data voucher_number' value='"+ data['voucher_rec'][i]['voucher_description'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_amount"+ i +"' class='form-control data voucher_number' value='" + data['voucher_rec'][i]['voucher_amount'] + "' disabled> </td>"

                                }

                                output_html+= "</tr>"
                            }

                             output_html+="<tr><td colspan='3'></td><td><input id='id_voucher_total' style='font-weight: bold;' class='form-control data voucher_number' value='" + data['total_amount'] + "' disabled> </td></tr>"

                            $("#tbody").html(output_html);

                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
{% endcomment %}
            });

        }
    </script>

{% endblock %}



{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'donor:template_donor_dashboard' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Student Payment Report </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Student Payment Report </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'accounting:save_student_receipt_voucher' %}" id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="id_app_id" name="application">
                    <div class="form-body">

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Student:</label>
                                <div class="col-md-2">
                                    <select id='id_student' title="Select country" name="student"
                                            autocomplete="off" class="form-control" data-live-search="true"
                                            required>
                                       {% if raw_dict.application_rec.student %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="{{ raw_dict.application_rec.student.id }}">{{ raw_dict.application_rec.student.get_all_name }}
                                            </option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="">Please Select
                                            </option>
                                        {% endif %}

                                        {% for rec in student_list %}
                                            <option value='{{ rec.student.id }}'>{{ rec.get_full_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Country:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Country" placeholder="Country"
                                           id="id_country" name="country" value="{{ raw_dict.application_rec.country.country_name }}"
                                           class="form-control" required disabled>

                                    <input type="text" id="id_country_id" name="country" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">University:</label>
                                <div class="col-md-2">
                                    <input type="text" title="University" placeholder="University"
                                           id="id_university" name="university" value="{{ raw_dict.application_rec.university.university_name }}"
                                           class="form-control" required disabled>

                                    <input type="text" id="id_university_id" name="university" hidden>
                                </div>
                            </div>

                        </div>

                        <br><br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Scholarship:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Scholarship" placeholder="Scholarship"
                                           id="id_scholarship" name="scholarship" value="{{ raw_dict.application_rec.scholarship.scholarship_name }}"
                                           class="form-control" required disabled>

                                    <input type="text" id="id_scholarship_id" name="scholarship" hidden>
                                </div>
                            </div>


                            <div class="">
                                <label class="col-md-2 control-label">Degree:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Degree" placeholder="Degree"
                                           id="id_degree" name="degree" value="{{ raw_dict.application_rec.degree.degree_name }}"
                                           class="form-control" required disabled>

                                     <input type="text" id="id_degree_id" name="Degree" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Program:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Program" placeholder="Program"
                                           id="id_program" name="program" value="{{ raw_dict.application_rec.program.program_name }}"
                                           class="form-control" required disabled>

                                     <input type="text" id="id_program_id" name="program" hidden>
                                </div>
                            </div>

                        </div>
                        <br><br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Scholarship Fee:</label>
                                <div class="col-md-2">
                                    <input type="number" title="Scholarship Fee" id="id_scholarship_fee"
                                           name="scholarship_fee" placeholder="0.00" value="{{ raw_dict.application_rec.scholarship_fee }}"
                                           class="form-control" required disabled>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Balance:</label>
                                <div class="col-md-2">
                                    <input type="number" title="Balance" placeholder="0.00"
                                           id="id_balance" name="balance"value="{{ raw_dict.application_rec.balance }}"
                                           class="form-control" required disabled>
                                </div>
                            </div>

                        </div>



                        <br><br>

                        <h3 class="form-section">Receipt Vouchers</h3>
                        <hr>


                    </div>
                </form>
            </div>
            {% comment %}<div class="col-md-2">
                <form method="post" action="{% url 'donor:student_payment_report_export' %}" id="">
                    {% csrf_token %}
                    <input hidden name="student_id" id="export_student_value" value="">

                    <button style="width: 100%" type="submit" value="Submit" id="export_button" class="btn blue">
                        Export
                    </button>
                </form>
            </div>
{% endcomment %}


        </div>

        <div class="portlet-body">
            <div class="table-toolbar">
            </div>

            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Voucher Date</th>
                        <th>Description</th>
                        <th>Debit</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for rec in raw_dict.voucher_rec %}
                        <tr id="{{ rec.id }}" class="item">
                            <td>
                                <p hidden>{{ rec.voucher_number }}</p>
                                <input id="id_voucher_number{{ forloop.counter }}" class="form-control voucher_number"
                                       value="{{ rec.voucher_number }}" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.voucher_date }}</p>
                                <input id="id_voucher_date{{ forloop.counter }}" class="form-control voucher_number"
                                       value="{{ rec.voucher_date }}" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.voucher_description  }}</p>
                                <input class="form-control voucher_description" name="voucher_description" type="text"
                                       id="voucher_description{{ forloop.counter }}"
                                       value="{{ rec.voucher_description  }}"
                                       required="True" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.voucher_amount  }}</p>
                                <input class="form-control voucher_amount" name="voucher_amount" type="text"
                                       id="voucher_description{{ forloop.counter }}"
                                       value="{{ rec.voucher_amount  }}"
                                       required="True" disabled>

                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                    <tr>
                        <td colspan="3"></td><td>
                            <input class="form-control data debit_total" name="debit_total"
                                   type="text"
                                   id="debit_total"
                                   value="{{ raw_dict.total_amount }}"
                                   required
                                   disabled>
                        </td>
                    </tr>


                </table>
            </form>

        </div>
        <form id="form_sample_get" class="form-horizontal" method="GET" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="">
                    <input type="text" id="id_student_details" name="student" hidden>


                </div>
            </div>
        </form>


    </div>

{% endblock %}
