{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block ScriptBlock %}
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        window.onload = function () {

            $(document).ready(function () {
                $(document).on("click", "#button_pdf_id", function (e) {
                    $('#form_pdf_id').submit();
                });

                $(document).on("change", "#id_accept_student", function (e) {

                    if (e.target.checked) {
                        $('#id_accept_student_model').modal();
                    } else {
                        $('#id_accept_student').prop('checked', false);
                    }

                });

                $(document).on("click", "#cancel_model", function (e) {

                    $('#id_accept_student').prop('checked', false);

                });
            });
        }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                {% if user.is_student %}
                    <a href="{% url 'student:student_home' %}">Home</a>
                {% elif user.is_donor %}
                    <a href="{% url 'donor:template_donor_dashboard' %}">Home</a>
                {% elif user.is_partner %}
                    <a href="{% url 'accounts:home' %}">Home</a>
                {% else %}
                    <a href="{% url 'accounts:home' %}">Home</a>
                {% endif %}
                <i class="fa fa-angle-right"></i>
            </li>
            {% if user.is_donor %}
                <li>
                    <span> Scholarship</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{% url 'donor:template_student_selection' %}"> Student Selection </a>
                    <i class="fa fa-angle-right"></i>
                </li>

            {% else %}
                <li>
                    <a href="{% url 'donor:template_student_selection' %}">Student Selection</a>
                    <i class="fa fa-angle-right"></i>
                </li>



            {% endif %}

            <li>
                <span> Applications Details</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Applications Details</span>
                <span style="margin-left: 800px">
                <button type="button" id="button_pdf_id" class="btn green" id="save">PDF</button>
                    </span>

            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> PERSONAL INFO</span>
                </div>
                <form action="{% url 'partner:application_all_details_pdf' application_obj.id %}" id="form_pdf_id"
                      class="form-horizontal" target="_blank"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" style="margin-top: -20px">

                    </div>
                </form>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">First Name:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.first_name }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Middle Name:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.middle_name }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Last Name:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.last_name }}</span>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">DOB:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.birth_date|date:"Y-m-d" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Gender:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.gender }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Nationality:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.nationality }}</span>

                        </div>
                    </div>
                </div>

                <br>


                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">ID no:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.id_number }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Passport no:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.passport_number }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Country of Issuer:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.passport_issue_country }}</span>

                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">E-mail:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.email }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Telephone no (HP):</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.telephone_hp }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Telephone no (Home):</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.telephone_home }}</span>
                        </div>
                    </div>
                </div>


                <br>

                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">Religion:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.religion }}</span>
                        </div>
                    </div>


                    <div class="">
                        <label class="col-md-2 control-label">Residential/Postal Address:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.address.residential_address }}</span>

                        </div>
                    </div>
                </div>

                <br>

                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">Premise/Sub-Locality-2:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.address.street }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Sub-Locality:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.address.sub_locality }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">Postcode:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.address.post_code }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">District:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.address.district|title }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">State/Province:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.address.state|title }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.address.country.country_name|title }}</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">Photo:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.image }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> WIFE INFO</span>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Wife Name:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.wife_name }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">DOB:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.wife_dob|date:"Y-m-d" }}</span>
                        </div>
                    </div>
                </div>

                <br>


                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">Income($):</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.wife_income|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Pay Slip:</label>
                        <div class="col-md-2">
                            <a href="


                                    {{ application_obj.report_path }}{{ application_obj.wife_pay_slip }}">{{ application_obj.wife_pay_slip|default:"" }}</a>
                            {#                            <span class="">{{ application_obj.wife_pay_slip|default:"" }}</span>#}
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">E-mail:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.wife_email|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Telephone (Home):</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.wife_telephone_home|default:"" }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Occupation:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.wife_occupation|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.wife_nationality.country_name|title }}</span>

                        </div>
                    </div>

                </div>
                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> FATHER INFO</span>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Father Name:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.father_name|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">DOB:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.father_dob|date:"Y-m-d" }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Income($):</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.father_income|default:"" }}</span>

                        </div>
                    </div>
                    <div class="">
                        <label class="col-md-1 control-label">Pay Slip:</label>
                        <div class="col-md-2">
                            <a href="


                                    {{ application_obj.report_path }}{{ application_obj.father_pay_slip }}">{{ application_obj.father_pay_slip|default:"" }}</a>
                            {#                            <span class="">{{ application_obj.father_pay_slip }}</span>#}
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">E-mail:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.father_email|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Telephone (Home):</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.father_telephone_home|default:"" }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Occupation:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.father_occupation|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.father_nationality.country_name|title }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">MOTHER INFO</span>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Mother Name:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.mother_name|default:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">DOB:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.mother_dob|date:"Y-m-d" }}</span>


                        </div>
                    </div>
                </div>
                <br>


                <div class="row">

                    <div class="">
                        <label class="col-md-1 control-label">Income($):</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.mother_income }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Pay Slip:</label>
                        <div class="col-md-2">
                            <a href="


                                    {{ application_obj.report_path }}{{ application_obj.mother_pay_slip }}">{{ application_obj.mother_pay_slip|default:"" }}</a>
                            {#                            <span class="">{{ application_obj.mother_pay_slip }}</span>#}
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">E-mail:</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.mother_email|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Telephone (Home):</label>
                        <div class="col-md-2">
                            <span class="">{{ application_obj.mother_telephone_home|default:"" }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Occupation:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.mother_occupation|default:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-2">

                            <span class="">{{ application_obj.mother_nationality|title }}</span>

                        </div>
                    </div>

                </div>

                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Siblings Info</span>
                </div>


                {% for sibling in siblings_obj %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Sibling:</label>
                            <div class="col-md-2">

                                <span class="">{{ sibling.sibling_name|default:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Age:</label>
                            <div class="col-md-2">

                                <span class="">{{ sibling.sibling_age }}</span>


                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Status:</label>
                            <div class="col-md-2">

                                <span class="">{{ sibling.sibling_status }}</span>


                            </div>
                        </div>


                    </div>
                {% endfor %}
                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">ACADEMIC QUALIFICATION</span>
                </div>

                {% for qualification_obj in qualification_recs %}
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Level :</label>
                            <div class="col-md-2">
                                <span class="">{{ qualification_obj.level }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Year:</label>
                            <div class="col-md-2">
                                <span class="">{{ qualification_obj.level_year }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label"> Result:</label>
                            <div class="col-md-2">
                                <span class="">{{ qualification_obj.level_result }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Result Doc:</label>
                            <div class="col-md-2">
                                <a href="

                                        {{ qualification_obj.applicant_id.report_path }}{{ qualification_obj.level_result_document }}">{{ qualification_obj.level_result_document|default:"" }}</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}

                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">English Qualification</span>
                </div>

                {% for english_obj in english_recs %}
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">English Competency Test: </label>
                            <div class="col-md-2">
                                <span class="">{{ english_obj.english_test }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Year:</label>
                            <div class="col-md-2">
                                <span class="">{{ english_obj.english_test_year }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label"> Result:</label>
                            <div class="col-md-2">
                                <span class="">{{ english_obj.english_test_result }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Result Doc:</label>
                            <div class="col-md-2">
                                <a href="

                                        {{ english_obj.applicant_id.report_path }}{{ english_obj.english_test_result_document }}">{{ english_obj.english_test_result_document|default:"" }}</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}

                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Experience Details</span>
                </div>

                {% for curriculum_obj in curriculum_recs %}
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Co-Curriculum:</label>
                            <div class="col-md-2">
                                <span class="">{{ curriculum_obj.curriculum_name }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Year:</label>
                            <div class="col-md-2">
                                <span class="">{{ curriculum_obj.curriculum_year }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label"> Result:</label>
                            <div class="col-md-2">
                                <a href="

                                        {{ curriculum_obj.applicant_id.report_path }}{{ curriculum_obj.curriculum_result_document }}">{{ curriculum_obj.curriculum_result_document|default:"" }}</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}



                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> Experience Details</span>
                </div>
                {% for applicant_experience_obj in applicant_experience_recs %}
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Work Experience 1 :</label>
                            <div class="col-md-2">
                                <span class="">{{ applicant_experience_obj.work_experience }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Start Date:</label>
                            <div class="col-md-2">
                                <span class="">{{ applicant_experience_obj.from_date }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">End Date:</label>
                            <div class="col-md-2">
                                <span class="">{{ applicant_experience_obj.to_date }}</span>
                            </div>
                        </div>
                        <div class="">
                            <label class="col-md-1 control-label">Result Doc:</label>
                            <div class="col-md-2">
                                <a href="


                                        {{ applicant_experience_obj.applicant_id.report_path }}{{ applicant_experience_obj.work_experience_document }}">{{ applicant_experience_obj.work_experience_document|default:"" }}</a>
                                {#                            <span class="">{{ applicant_experience_obj.work_experience_document_one }}</span>#}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}

                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> SCHOLARSHIP SELECTION</span>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Scholarship Applied :</label>
                        <div class="col-md-2">
                            <span class="">{{ scholarship_obj.scholarship }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Course Applied:</label>
                        <div class="col-md-2">
                            <span class="">{{ scholarship_obj.course_applied }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">University:</label>
                        <div class="col-md-2">
                            <span class="">{{ scholarship_obj.university }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Admission Letter:</label>
                        <div class="col-md-2">
                            <a href="


                                    {{ scholarship_obj.applicant_id.report_path }}{{ scholarship_obj.admission_letter_document }}">{{ scholarship_obj.admission_letter_document|default:"" }}</a>
                            {#                            <span class="">{{ scholarship_obj.admission_letter_document }}</span>#}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">About Myself :</label>
                        <div class="col-md-2">
                            <span class="">{{ about_obj.about_yourself }}</span>
                        </div>
                    </div>
                </div>


                <br><br>

                <div class="row">
                    <div class="">
                        <div class=" col-md-1" style="margin-left: 25%">
                            {% if application_obj.is_sponsored %}
                                <input type="checkbox" class="form-control" checked disabled>{% else %}
                                <input type="checkbox" class="form-control" id="id_accept_student">{% endif %}
                        </div>
                    </div>


                    <div class="">
                        <div class=" col-md-3"><b>Accept student for Scholarship.</b></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <div id="id_accept_student_model" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'donor:approve_sponsorship' %}"
                      id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p> Are you sure, you want to select this student to sponsor? </p>
                        <input type="hidden" name="app_id" value="{{ application_obj.id }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel_model" data-dismiss="modal" class="btn dark btn-outline">
                            Cancel
                        </button>
                        <button type="submit" class="btn green">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
