{% load  i18n %}
{#<li class="nav-item ">#}
{#    <a href="{% url 'masters:university_settings' %}" class="nav-link ">#}
{#        <i class="fa fa-university"></i>#}
{#        <span class="title">{% trans 'Tanseeq University' %}</span>#}
{#    </a>#}
{#</li>#}
<li class="nav-item ">
    <a href="{% url 'masters:country_settings' %}" class="nav-link ">
        <i class="fa fa-flag"></i>
        <span class="title">{% trans 'Manage Country' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'masters:year_settings' %}" class="nav-link ">
        <i class="fa fa-calendar"></i>
        <span class="title">{% trans 'Manage Academic Year' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_secondary_certificate' %}" class="nav-link ">
        <i class="glyphicon glyphicon-education"></i>
        <span class="title">{% trans 'Secondary School Cetificate' %}</span>

    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_period' %}" class="nav-link ">
        <i class="glyphicon glyphicon-time"></i>
        <span class="title">{% trans 'Tanseeq Period' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_university_attachment' %}" class="nav-link ">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        <span class="title">{% trans 'University Attachement' %}</span>

    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_study_mode' %}" class="nav-link ">
        <i class="glyphicon glyphicon-book"></i>
        <span class="title">{% trans 'Study Mode' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_faculty' %}" class="nav-link ">
        <i class="fa fa-user-circle-o"></i>
        <span class="title">{% trans 'Tanseeq Faculty' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_program' %}" class="nav-link ">
        <i class="fa fa-tasks"></i>
        <span class="title">{% trans 'Tanseeq Program' %}</span>
    </a>
</li>

<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_fees' %}" class="nav-link ">
        <i class="fa fa-money"></i>
        <span class="title">{% trans 'Tansseq Fees' %}</span>
    </a>
</li>

<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_filters' %}" class="nav-link ">
        <i class="fa fa-filter"></i>
        <span class="title">{% trans 'Condition/Filter' %}</span>
    </a>
</li>

<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_applicants' %}" class="nav-link ">
        <i class="fa fa-list"></i>
        <span class="title">{% trans 'List of applicants' %}</span>
    </a>
</li>

<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_users' %}" class="nav-link ">
        <i class="fa fa-users"></i>
        <span class="title">{% trans 'Users' %}</span>
    </a>
</li>

