{% extends "template_agent_base.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {


            $(document).ready(function () {


                $(document).on("click", "#save_id", function () {
                    $('#id_accept_student_model').modal();
                });

                 $(document).on("click", "#submit_appplication", function () {
                    $("#form_sample_1").submit();
                });



                if ($('.terms_condition').is(":checked")) {
                    $('#save_id').attr("disabled", false);
                } else {
                    $('#save_id').attr("disabled", true);
                }


                $(".terms_condition").click(function () {
                    if ($(this).is(":checked")) {
                        $('#save_id').attr("disabled", false);
                    } else {
                        $('#save_id').attr("disabled", true);
                    }
                });





                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);


    </script>


{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">{% trans 'HOME' %}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>{% trans 'DECLARATION' %}</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:submit_application' %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">{% trans 'Declaration' %}:</span>
                            </div>
                        </div>
                        <hr>


                        <div class="row">

                            <div class="">
                                <div class="col-md-8" style="margin-left: 10%;font-size:15px">

                                    <div class="form-group margin-top-20 margin-bottom-20">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    {% if agent_obj.is_submitted %}
                                    <input class="terms_condition" type="checkbox" checked disabled name="remember" value="1" />
                                    {% else %}
                                    <input class="terms_condition" type="checkbox" name="remember" value="1" />
                                    {% endif %}
                                    <input type="checkbox" name="tnc" /> I agree to the
                                    <a href="javascript:;">Terms of Service </a> &
                                    <a href="javascript:;">Privacy Policy </a>
                                    <span></span>
                                </label>
                                <div id="register_tnc_error"> </div>
                            </div>


                                </div>
                            </div>

                        </div>
                        <hr>



                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn blue" id="save" style="margin-left: 70%"
                                        onclick="window.location='{% url "agents:attachment" %}'">
                                    {% trans 'Back' %}
                                </button>
                                  {% if not agent_obj.is_submitted %}

                                        <button type="button" class="btn green" id="save_id" style="">{% trans 'Submit Application' %}
                                        </button>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="id_accept_student_model" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'agents:declaration' %}"
                        id="form_sample_1"
                        class="form-horizontal"
                        method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color: #2a015e; text-align: center"><b>Confirmation</b></h4>
                    </div>
                    <div class="modal-body">
                        <p> Are you sure, you want to submit application? </p>
                        <p> After submission you will not be able to modify the application. </p>
                        <input type="hidden" name="app_id" value="{{ agent_obj.id }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel_model" data-dismiss="modal" class="btn dark btn-outline">
                            Cancel
                        </button>
                        <button type="button" id="submit_appplication" class="btn green">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
