{#{% extends "template_base_page.html" %}#}

{% block content %}
{#    <div class="portlet light portlet-fit portlet-form ">#}
{#        <div class="portlet-body">#}
{#            <div class="form-body">#}
            {% comment %}<div class="form-body">
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Name:</label>
                        <div class="col-md-2">
                            <p>Name.......</p>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Code:</label>
                        <div class="col-md-2">
                            <p>Code.......</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Year:

                        </label>
                        <div class="col-md-2">
                            <p>2018-2109</p>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Semester:

                        </label>
                        <div class="col-md-2">
                            <p>Session-Sem</p>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Module:</label>
                        <div class="col-md-2">
                            <p>Module Program</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Duration Day:</label>
                        <div class="col-md-1">
                            <p>2</p>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Night:</label>
                        <div class="col-md-1">
                            <p>2</p>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Method:</label>
                        <div class="col-md-2">
                            <p>Class Program</p>
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Mark:</label>
                        <div class="col-md-2">
                            <p>35</p>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Date:</label>
                        <div class="col-md-2">
                            <p>12/12/12</p>
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Activities:</label>
                        <div class="col-md-6">
                            <p>Hello friends, Its activities.</p>
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Outcomes:</label>
                        <div class="col-md-6">
                            <p>Hello friends, Its Outcomes.</p>
                        </div>
                    </div>
                </div>

                <br><br>


                <br><br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Remark:</label>
                        <div class="col-md-6">
                            <p>Hello friends, Its Remark.</p>
                        </div>
                    </div>
                </div>
            </div>{% endcomment %}
            <br>
            <br>
            <br>


            <table>
                <thead>
                <tr>
                    <th>University</th>
                    <th>Country</th>
                </tr>
                </thead>

                <tbody id="tbody">
                <tr>
                    <td style="text-align: center">
                        <p>university_name</p>
                    </td>
                    <td style="text-align: center">
                        <p>country_name.......</p>

                    </td>
                </tr>
                </tbody>
            </table>
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}