{% block content %}
    {% for program_rec in program_list %}
        <div style="page-break-after: always;">
            <table>
                <tbody>
                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="2" style="text-align: center;font-size: {{ x }}px"><b>Development Program Name:</b>
                        <i>{{ program_rec.name|title }}</i></td>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Code</b>: <i>{{ program_rec.code|title }}</i>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Year:</b>:
                        <i>{{ program_rec.year.year_name|title }}</i></td>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Semester:</b>:
                        <i> {{ program_rec.semester.semester_name|title }}</i></td>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Module:</b>
                        <i>{{ program_rec.module.module_name|title }}</i></td>
                </tr>

                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td colspan="3" style="text-align: justify;font-size: {{ x }}px"><b>Activities: </b>
                        <i>{{ program_rec.activity }}</i></td>
                </tr>

                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td colspan="3" style="text-align: justify;font-size: {{ x }}px"><b>Outcomes: </b>
                        <i>{{ program_rec.outcome }}</i></td>
                </tr>


                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Day Duration:</b>
                        <i>{{ program_rec.duration_day }}</i></td>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Night Duration:</b>
                        <i>{{ program_rec.duration_night }}</i></td>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Method:</b>
                        <i>{{ program_rec.method|title }}</i>
                    </td>
                </tr>
                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="2" style="margin-left: 65px;font-size: {{ x }}px">
                        <b>Mark:</b><i>{{ program_rec.marks }}</i></td>
                    <td style="text-align: center;font-size: {{ x }}px"><b>Date:</b>
                        <i>{{ program_rec.date|date:"Y-m-d" }}</i></td>
                </tr>

                <tr></tr>

                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr></tr>

                <tr>
                    <td colspan="3" style="text-align: justify;font-size: {{ x }}px"><b>Remark: </b>
                        <i>{{ program_rec.remark }}</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}