{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }


    </style>
    <!-- END HEAD -->
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {

            $(document).ready(function () {
                var values = "{{ selected_campus_list }}";
                $('#campus').find('option').filter(function (idx, option) {
                    if ($.inArray(option.value, values) !== -1) {
                        return option;
                    }
                }).prop('selected', 'true');


                $("#status").Sswitch({});

                $('input[type="radio"]').on('change', function () {
                    var university_type = $('input[name="university_type"]:checked').val();
                    var url = '/student/get_university_from_type/';
                    get_university_from_university_type(url, university_type)


                })

            });

            function get_university_from_university_type(url, university_type) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university_type: university_type,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#university').empty();
                        $('#university').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#university').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['university_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }




            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }

        function validate(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> University Settings</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> {% trans 'Edit Program' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% trans 'Edit Program' %} </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'masters:edit_program' program_obj.id %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">
                             <div class="">
                                <label class="col-md-2 control-label">University Type: <span
                                        style="color: red">*</span></label>
                                {% if program_obj.university %}
                                    <div class="col-md-3">
                                        {% if  program_obj.university.is_partner_university == False %}
                                            <input class="current" type="radio" checked name="university_type"
                                                   id="university_main"
                                                   value="Main">
                                            <span style="padding:inherit">Main</span>&nbsp;&nbsp;
                                            <input class="current" type="radio" name="university_type" value="Partner"
                                                   id="university_partner">
                                            <span style="padding:inherit">Partner</span>
                                        {% else %}
                                            <input class="current" type="radio" name="university_type"
                                                   id="university_main"
                                                   value="Main">
                                            <span style="padding:inherit">Main</span>&nbsp;&nbsp;
                                            <input class="current" type="radio" checked name="university_type"
                                                   value="Partner"
                                                   id="university_partner">
                                            <span style="padding:inherit">Partner</span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="col-md-3">
                                        <input class="current" type="radio" checked name="university_type"
                                               id="university_main"
                                               value="Main">
                                        <span style="padding:inherit">Main</span>&nbsp;&nbsp;
                                        <input class="current" type="radio" name="university_type" value="Partner"
                                               id="university_partner">
                                        <span style="padding:inherit">Partner</span>
                                    </div>
                                {% endif %}
                            </div>



                                <div class="">
                                    <label class="col-md-2 control-label">University:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='university' title="Select University"
                                                name="university"
                                                class="form-control" required>

                                            {% if program_obj.university %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ program_obj.university.id|default_if_none:"" }}"> {{ program_obj.university.university_name|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in university_recs %}
                                                <option value="{{ rec.id }}">{{ rec.university_name|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                            </div>

                            <br>
                            {#                            <div class="row">#}
                            {#                                <div class="">#}
                            {#                                    <label class="col-md-2 control-label">Campus:<span#}
                            {#                                            style="color: red">*</span></label>#}
                            {#                                    <div class="col-md-3">#}
                            {#                                        <select id='campus' title="Select Campus"#}
                            {#                                                name="campus"#}
                            {#                                                class="form-control" required>#}
                            {#                                            {% if program_obj.campus %}#}
                            {#                                                <option style="display:none;" selected="selected"#}
                            {#                                                        value="{{ program_obj.campus.id|default_if_none:"" }}"> {{ program_obj.campus.campus_name|default_if_none:"" }}</option>#}
                            {#                                            {% else %}#}
                            {#                                                <option selected="selected" value=""> Please Select</option>#}
                            {#                                            {% endif %}#}
                            {##}
                            {#                                            {% for rec in campus_recs %}#}
                            {#                                                <option value="{{ rec.id }}">{{ rec.campus_name|default_if_none:"" }}</option>#}
                            {#                                            {% endfor %}#}
                            {##}
                            {#                                        </select>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {##}
                            {#                                <div class="">#}
                            {#                                    <label class="col-md-2 control-label">Program ID:<span#}
                            {#                                            style="color: red">*</span></label>#}
                            {#                                    <div class="col-md-3">#}
                            {#                                        <input type="text" title="Enter Program ID" id="program_id"#}
                            {#                                               value="{{ program_obj.program_id|default_if_none:"" }}"#}
                            {#                                               name="program_id"#}
                            {#                                               class="form-control" required>#}
                            {##}
                            {##}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {##}
                            {##}
                            {#                            </div>#}
                            {#                            <br>#}
                            <div class="row">
                            <div class="">
                                    <label class="col-md-2 control-label">Program Name:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Program Name" id="program_name"
                                               value="{{ program_obj.program_name|default_if_none:"" }}"
                                               name="program_name"
                                               class="form-control" required>

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">Faculty:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='faculty' title="Select Faculty"
                                                name="faculty"
                                                class="form-control" required>
                                            {% if program_obj.faculty %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ program_obj.faculty.id|default_if_none:"" }}"> {{ program_obj.faculty.faculty_name|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in faculty_recs %}
                                                <option value="{{ rec.id }}">{{ rec.faculty_name|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                                {#                                <div class="">#}
                                {#                                    <label class="col-md-2 control-label">Study Mode:<span#}
                                {#                                            style="color: red">*</span></label>#}
                                {#                                    <div class="col-md-3">#}
                                {#                                        <select id='study_mode' title="Select Study Mode"#}
                                {#                                                name="study_mode"#}
                                {#                                                class="form-control" required>#}
                                {##}
                                {#                                            {% if program_obj.study_mode %}#}
                                {#                                                <option style="display:none;" selected="selected"#}
                                {#                                                        value="{{ program_obj.study_mode.id|default_if_none:"" }}"> {{ program_obj.study_mode.study_mode|default_if_none:"" }}</option>#}
                                {#                                            {% else %}#}
                                {#                                                <option selected="selected" value=""> Please Select</option>#}
                                {#                                            {% endif %}#}
                                {##}
                                {#                                            {% for rec in study_mode_recs %}#}
                                {#                                                <option value="{{ rec.id }}">{{ rec.study_mode|default_if_none:"" }}</option>#}
                                {#                                            {% endfor %}#}
                                {##}
                                {#                                        </select>#}
                                {#                                    </div>#}
                                {#                                </div>#}




                            </div>

                            <br>

{#                        <div class="row">#}
{#                             <div class="">#}
{#                                    <label class="col-md-2 control-label">{% trans 'Program Fee' %}:<span#}
{#                                            style="color: red">*</span></label>#}
{#                                    <div class="col-md-3">#}
{#                                        <input type="text" title="Enter Program Fee" id="program_fee" onkeypress='validate(event)'#}
{#                                               value="{{ program_obj.program_fee|default_if_none:"" }}"#}
{#                                               name="program_fee"#}
{#                                               class="form-control" required>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">{% trans 'Credit Hrs' %}:<span#}
{#                                            style="color: red">*</span></label>#}
{#                                    <div class="col-md-3">#}
{#                                        <input type="text" title="Enter Credit Hrs" id="credit_hrs" onkeypress='validate(event)'#}
{#                                               value="{{ program_obj.credit_hrs|default_if_none:"" }}"#}
{#                                               name="credit_hrs"#}
{#                                               class="form-control" required>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{##}
{##}
{##}
{##}
{##}
{#                            </div>#}
{#                        <br>#}


                            <div class="row">
                            <div class="">
                                    <label class="col-md-2 control-label">Study Mode: <span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">

                                        {% for rec in study_mode_list %}
                                            {% if rec in selected_study_mode_list %}
                                                <input class="current" type="checkbox" checked name="study_mode[]"
                                                       id="study_mode"
                                                       value="{{ rec }}">
                                                <span style="padding:inherit">{{ rec }}</span>&nbsp;&nbsp;
                                            {% else %}
                                                <input class="current" type="checkbox" name="study_mode[]"
                                                       id="study_mode"
                                                       value="{{ rec }}">
                                                <span style="padding:inherit">{{ rec }}</span>&nbsp;&nbsp;
                                            {% endif %}

                                        {% endfor %}


                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Study Level:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='study_level' title="Select Study Level"
                                                name="study_level"
                                                class="form-control" required>
                                            {% if program_obj.study_level %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ program_obj.study_level.id|default_if_none:"" }}"> {{ program_obj.study_level.study_level|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}
                                            {% for rec in study_level_recs %}
                                                <option value="{{ rec.id }}">{{ rec.study_level|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>




                            </div>
                            <br>
                            <div class="row">
                                 <div class="">
                                    <label class="col-md-2 control-label">Study Type:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='study_type' title="Select Study Type"
                                                name="study_type"
                                                class="form-control" required>
                                            {% if program_obj.study_type %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ program_obj.study_type.id|default_if_none:"" }}"> {{ program_obj.study_type.study_type|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in study_type_recs %}
                                                <option value="{{ rec.id }}">{{ rec.study_type|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">Overview:

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control " id="program_overview"
                                                  name="program_overview">{{ program_obj.program_overview|default_if_none:"" }}</textarea>

                                    </div>
                                </div>




                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Objective:

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control " id="program_objective"
                                                  name="program_objective">{{ program_obj.program_objective|default_if_none:"" }}</textarea>

                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Vision:

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control " id="program_vision"
                                                  name="program_vision">{{ program_obj.program_vision|default_if_none:"" }}</textarea>

                                    </div>
                                </div>




                            </div>
                            <br>
                        <div class="row">
                            <div class="">
                                    <label class="col-md-2 control-label">Mission:

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control " id="program_mission"
                                                  name="program_mission">{{ program_obj.program_mission|default_if_none:"" }}</textarea>

                                    </div>
                                </div>
                            <div class="">
                                    <label class="col-md-2 control-label">Status:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        {% if program_obj.status == True %}
                                            <input type="checkbox" id="status" name="status" checked>
                                        {% else %}
                                            <input type="checkbox" id="status" name="status">
                                        {% endif %}

                                    </div>
                                </div>
                        </div>
                        <br>
                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">Branch/Campus:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-8">
                                        <select multiple id='campus' title="Select Campus"
                                                name="campus"
                                                class="form-control" required>
                                            {% for rec in campus_recs %}
                                                <option value="{{ rec.id }}">{{ rec.campus_name|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>

                                    </div>
                                </div>


                            </div>



                        </div>
                    <br>
{#                    <hr>#}
{##}
{#                    <div class="caption">#}
{#                <i class="icon-settings font-red"></i>#}
{#                <span class="caption-subject font-red sbold uppercase">{% trans 'Program Fee' %} </span>#}
{#            </div>#}


                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "masters:program_settings" %}'">
                                    Back
                                </button>

                                <button type="submit" class="btn green" id="save_form" style="">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}














