{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {


            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> System Settings</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Edit Language </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Edit Language </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'masters:edit_language' language_obj.id %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Short Code:<span
                                        style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Short Code" id="short_code"
                                               value="{{ language_obj.short_code|default_if_none:"" }}" name="short_code"
                                               class="form-control" required>


                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">Language
                                        Name:<span
                                        style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Language Name" id="language_name"
                                               value="{{ language_obj.language_name|default_if_none:"" }}" name="language_name"
                                               class="form-control" required>

                                    </div>
                                </div>

                            </div>

                            <br>


                            <div class="row">


                                <div class="">
                                    <label class="col-md-2 control-label">Language Direction:<span
                                        style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='language_direction' title="Select Language Direction"
                                                name="language_direction"
                                                class="form-control" required>
                                            {% if language_obj.language_direction %}
                                                 <option style="display: none" selected="selected" value="{{ language_obj.language_direction|default_if_none:"" }}"> {{ language_obj.language_direction|default_if_none:"" }}</option>
                                            {% else %}
                                                 <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            <option value="left to right"> left to right</option>
                                            <option value="right to left"> right to left</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">Status:</label>
                                    <div class="col-md-3">
                                        {% if language_obj.status == True %}
                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                                               data-offstyle="danger" id="status" name="status">
                                        {% else %}
                                            <input type="checkbox"  data-toggle="toggle" data-onstyle="success"
                                               data-offstyle="danger" id="status" name="status">
                                        {% endif %}
                                    </div>
                                </div>

                            </div>


                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "masters:language_settings" %}'">
                                    Back
                                </button>

                                <button type="submit" class="btn green" id="save_form" style="">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}














