{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}

    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#status").Sswitch({});

            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> University Settings</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Edit Campus </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Edit Campus </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'masters:edit_campus' campus_obj.id %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row item_experience" id="item_experience_1">
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">University:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='university' title="Select University"
                                                name="university"
                                                class="form-control" required>

                                            {% if campus_obj.university %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ campus_obj.university.id|default_if_none:"" }}"> {{ campus_obj.university.university_name|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}


                                            {% for rec in university_recs %}
                                                <option value="{{ rec.id }}">{{ rec.university_name|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">Country:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='country' title="Select Country"
                                                name="country"
                                                class="form-control" required>
                                            {% if campus_obj.country %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ campus_obj.country.id|default_if_none:"" }}"> {{ campus_obj.country.country_name|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in country_recs %}
                                                <option value="{{ rec.id }}">{{ rec.country_name|title }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                            </div>

                            <br>

                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Campus:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Campus Name" id="campus_name"
                                               value="{{ campus_obj.campus_name|default_if_none:"" }}"
                                               name="campus_name"
                                               class="form-control" required>

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">Email:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Email" id="email"
                                               value="{{ campus_obj.email|default_if_none:"" }}"
                                               name="email"
                                               class="form-control" required>

                                    </div>
                                </div>


                            </div>
                            <br>


                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">Telephone:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Telephone" id="telephone"
                                               value="{{ campus_obj.telephone|default_if_none:"" }}"
                                               name="telephone"
                                               class="form-control" required>

                                    </div>
                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">Website:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Website" id="website"
                                               value="{{ campus_obj.website|default_if_none:"" }}"
                                               name="website"
                                               class="form-control" required>

                                    </div>
                                </div>


                            </div>
                            <br>

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">Address:<span
                                            style="color: red">*</span>

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control " required id="address"
                                                  name="address">{{ campus_obj.address|default_if_none:"" }}</textarea>

                                    </div>
                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">Status:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        {% if campus_obj.is_active == True %}
                                            <input type="checkbox" id="status" name="status" checked>
                                        {% else %}
                                            <input type="checkbox" id="status" name="status">
                                        {% endif %}

                                    </div>
                                </div>


                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "masters:campus_settings" %}'">
                                    Back
                                </button>

                                <button type="submit" class="btn green" id="save_form" style="">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}














