{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}
{% block styleBlock %}
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#id_is_active").Sswitch({});
                $("#id_is_singup").Sswitch({});
                $("#id_is_registration").Sswitch({});
            });
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>
{% endblock %}
{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
           <li>
                <i class="icon-home"></i>
                <a {% if request.user.is_tanseeq_admin %} href="{% url 'tanseeq_app:tanseeq_admin' %}" {% else %} href="{% url 'accounts:home' %}" {% endif %}>Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
        {% if request.user.is_tanseeq_admin %}

            <li>
                <span> Tanseeq University </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Edit University</span>
            </li>


            {% else %}

            <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> University Settings</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> {% trans 'Edit University' %} </span>
            </li>
        {% endif %}
        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Edit University </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
               <form action="{% url 'masters:edit_university' university_obj.id %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'University Type' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='id_university_type' title="Select University Type"
                                                name="university_type"
                                                class="form-control" required>
                                            {% if university_obj.university_type %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ university_obj.university_type.id|default_if_none:"" }}"> {{ university_obj.university_type.university_type|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}
                                            {% for rec in university_type_recs %}
                                                <option value="{{ rec.id }}">{{ rec.university_type|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Type' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='id_type' title="Select Type"
                                                name="type"
                                                class="form-control" required>

                                            {% if university_obj.type %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ university_obj.type.id|default_if_none:"" }}"> {{ university_obj.type.type|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in type_recs %}
                                                <option value="{{ rec.id }}">{{ rec.type|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                            </div>
                            <br>


                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'University Code' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter University Code" id="id_university_code"
                                               value="{{ university_obj.university_code|default_if_none:"" }}"
                                               name="university_code"
                                               class="form-control" required>


                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'University Name' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter University Name" id="id_university_name"
                                               value="{{ university_obj.university_name|default_if_none:"" }}"
                                               name="university_name"
                                               class="form-control" required>

                                    </div>


                                </div>


                            </div>
                            <br>

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Email' %}:</label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Email" id="id_email"
                                               value="{{ university_obj.email|default_if_none:"" }}"
                                               name="email"
                                               class="form-control">

                                    </div>
                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Telephone' %}:</label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Telephone" id="id_telephone"
                                               value="{{ university_obj.telephone|default_if_none:"" }}"
                                               name="telephone"
                                               class="form-control">

                                    </div>
                                </div>


                            </div>
                            <br>
                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Website' %}:</label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Website" id="id_website"
                                               value="{{ university_obj.website|default_if_none:"" }}"
                                               name="website"
                                               class="form-control">

                                    </div>
                                </div>


                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Address' %}:

                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" class="form-control "  id="id_address"
                                                  name="address">{{ university_obj.address|default_if_none:"" }}</textarea>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Contact Details' %}:

                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" class="form-control "  id="id_contact_details"
                                                  name="contact_details">{{ university_obj.contact_details|default_if_none:"" }}</textarea>

                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Active' %}:</label>
                                    <div class="col-md-2">
                                        {% if university_obj.is_active == True %}
                                            <input type="checkbox" id="id_is_active" name="is_active" checked>
                                        {% else %}
                                            <input type="checkbox" id="id_is_active" name="is_active">
                                        {% endif %}


                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Registration' %}:</label>
                                    <div class="col-md-2">

                                        {% if university_obj.is_registration == True %}
                                            <input type="checkbox" id="id_is_registration" name="is_registration"
                                                   checked>
                                        {% else %}
                                            <input type="checkbox" id="id_is_registration" name="is_registration">
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-1 control-label">{% trans 'Singup' %}:</label>
                                    <div class="col-md-2">

                                        {% if university_obj.is_singup == True %}
                                            <input type="checkbox" id="id_is_singup" name="is_singup" checked>
                                        {% else %}
                                            <input type="checkbox" id="id_is_singup" name="is_singup">
                                        {% endif %}

                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Logo' %}:

                                    </label>
                                    <div class="col-md-2">

                                        <input name="university_logo" type="file" title="Select University Logo"
                                               accept="image/gif, image/jpeg, image/png"
                                               id="id_university_logo"
                                        >


                                    </div>
                                    {% if university_obj.university_logo %}
                                        <div class="col-md-1" style="margin-top: 5px;
    font-size: 20px;">

                                            <a href="{{ university_obj.university_logo.url }}" download>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>

                                            </a>
                                        </div>
                                    {% endif %}


                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Tanseeq Guide' %}:

                                    </label>
                                    <div class="col-md-2">

                                        <input name="tanseeq_guide" type="file" title="Select Tanseeq Guide"
                                               accept="application/pdf"
                                               id="id_tanseeq_guide"
                                        >


                                    </div>
                                    {% if university_obj.tanseeq_guide %}
                                        <div class="col-md-1" style="margin-top: 5px;
    font-size: 20px;">
                                            <a href="{{ university_obj.tanseeq_guide.url }}" download>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>

                                            </a></div>
                                    {% endif %}

                                </div>


                            </div>
                            <br>


                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Registration Guide' %}:

                                    </label>
                                    <div class="col-md-2">

                                        <input name="registration_guide" type="file" title="Select University Logo"
                                               accept="application/pdf"
                                               id="id_registration_guide"
                                        >


                                    </div>
                                    {% if university_obj.registration_guide %}
                                        <div class="col-md-1" style="margin-top: 5px;
    font-size: 20px;">

                                            <a href="{{ university_obj.registration_guide.url }}" download>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>

                                            </a>
                                        </div>
                                    {% endif %}

                                </div>


                            </div>


                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "masters:university_settings" %}'">
                                    Back
                                </button>

                                <button type="submit" class="btn green" id="save_form" style="">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}














