{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    </head>
    <!-- END HEAD -->
    <style>
        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ],
                "scrollX": true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'FINANCE ORDERS DETAILS',
                        exportOptions: {
                            //columns: ':visible'
                            columns: [1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'FINANCE ORDERS DETAILS',
                        orientation: 'landscape',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8]
                            //columns: ':visible'
                        }
                    },
                ],
            });
        }
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
{% endblock %}

{% block content %}
    {% include 'crumbs.html' %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
        
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">
                    {% trans 'Subjects List' %}
                </span>
            </div>
            <a href="{% url 'masters:add_subject' %}">
                <button type="submit" class="btn green" id="save" style="margin-left:71%;margin-bottom:10px;background-color: #3598dc">Add
                </button>
            </a>
        </div>
        {% comment %}
            <div class="row" style="padding-left: 30px;">
                <form method="GET">
                    <div class="col-md-3">
                        <select class="form-control" name="program" id="id_program">
                            <option value="">Select Program</option>
                            {% for rec in programs_list %}
                                <option value="{{ rec.id }}">{{ rec.name|title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn">Apply</button>
                    </div>
                </form>
            </div>
            <br>
        {% endcomment %}
        <div class="portlet-body">
            <table class="table table-striped table-hover table-bordered" id="sample_1">
                <thead>
                <tr>
                    <th style="display: none">Id</th>
                    <th> {% trans 'Name' %}</th>
                    <th> {% trans 'Program' %}</th>
                    <th> {% trans 'Created By' %}</th>
                    <th> {% trans 'Updated By' %}</th>
                    <th> {% trans 'Last Updated on' %}</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody id="tbody">
                {% for rec in object_list %}
                    <tr id="item{{ rec.id }}">
                        <td style="display: none"><input id="university_id" value="{{ rec.id }}"></td>
                        <td>{{ rec.name }}</td>
                        <td>{{ rec.program.program_name|default_if_none:"" }}</td>
                        <td>{{ rec.created_by.first_name|default_if_none:"" }} {{ rec.user.last_name|default_if_none:"" }}</td>
                        <td>{{ rec.updated_by.first_name|default_if_none:"" }} {{ rec.user.last_name|default_if_none:"" }}</td>
                        <td>{{ rec.last_updated }}</td>
                        <td>
                            <a href="{% url 'masters:update_subject' rec.id %}">
                            <span type="button" name="edit" id="edit{{ forloop.counter }}"
                                  class="edit_btn btn blue glyphicon glyphicon-pencil">
                            </span>
                            </a>
                            <button type="button" delete-url="{% url 'masters:update_subject' rec.id %}"
                                class="delete btn red glyphicon glyphicon-trash" name="delete"
                            >
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'delete_modal.html' %}
{% endblock %}

{% block ajax %}
<script>
    $(".delete").on("click", (e) => {
        $("#id_delete_model").modal()
        $("#id_confirm_delete").attr("delete-url", $(e.target).attr("delete-url"))
    });
    $("#id_confirm_delete").on("click", (e) => {
        $(e.target).attr('disabled', true)
        deleteSubject($(e.target).attr("delete-url"))
        $("#id_delete_model").modal('hide')
    })

    function deleteSubject(url) {
        console.log("url", url)
        $.ajax({
            type: 'DELETE',
            url: url,
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status == 200) {
                    const table = $('#sample_1').DataTable();
                    const id = url.split('/').pop()
                    table.row($(`#item${id}`)).remove().draw();
                }
            },
            complete: function () {
                $("#id_confirm_delete").attr('disabled', false)
            },
            error: function (xhr, msg, err) {
            }
        });
    }
</script>
{% endblock %}