{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            {% comment %}$(document).ready(function () {
                $(document).on("click", ".update", function (e) {

                    var parent_id = $(this).closest('tr').attr('id');
                    var degree_id = $('#' + parent_id + ' #degree_id').val();

                    var scholarship_id = $('#' + parent_id + ' .scholarship').val();
                    var cgpa_min = $('#' + parent_id + ' .cgpa_min').val();
                    var cgpa_max = $('#' + parent_id + ' .cgpa_max').val();

                    var grade_min = $('#' + parent_id + ' .grade_min').val();
                    var grade_max = $('#' + parent_id + ' .grade_max').val();

                    var repayment = $('#' + parent_id + ' .repayment').val();

                    if (repayment == '') {
                        $('#' + parent_id + ' .repayment').focus();
                        $('#' + parent_id + ' .repayment').css('border-color', 'red');
                        return false;
                    }

                    if (cgpa_min == '') {
                        $('#' + parent_id + ' .cgpa_min').focus();
                        $('#' + parent_id + ' .cgpa_min').css('border-color', 'red');
                        return false;
                    }

                    if (cgpa_max == '') {
                        $('#' + parent_id + ' .cgpa_max').focus();
                        $('#' + parent_id + ' .cgpa_max').css('border-color', 'red');
                        return false;
                    }

                    if (grade_min == '') {
                        $('#' + parent_id + ' .grade_min').focus();
                        $('#' + parent_id + ' .grade_min').css('border-color', 'red');
                        return false;
                    }

                    if (grade_max == '') {
                        $('#' + parent_id + ' .grade_max').focus();
                        $('#' + parent_id + ' .grade_max').css('border-color', 'red');
                        return false;
                    }

                    var url = '/masters/update_degree_formula_master/';
                    update_degree_formula_info(url, degree_id, scholarship_id, grade_max, grade_min, cgpa_max, cgpa_min, repayment)
                })

                $(document).on("click", ".delete", function (e) {

                    var parent_id = $(this).closest('tr').attr('id');
                    var degree_id = $('#' + parent_id + ' #degree_id').val();

                    var url = '/masters/delete_degree_formula_master/';
                    delete_degree_formula_info(url, degree_id)
                })

                function delete_degree_formula_info(url, degree_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            degree_id: degree_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function update_degree_formula_info(url, degree_id, scholarship_id, grade_max, grade_min, cgpa_max, cgpa_min, repayment) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            degree_id: degree_id,
                            scholarship_id: scholarship_id,
                            grade_min: grade_min,
                            grade_max: grade_max,
                            cgpa_min: cgpa_min,
                            cgpa_max: cgpa_max,
                            repayment: repayment,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $(document).on("click", ".edit", function (e) {
                    var parent_id = $(this).closest('tr').attr('id');
                    $('.repayment').css('border-color', '');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1]

                    $(".data").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $("#repayment" + i).prop("disabled", false);
                    $("#scholarship" + i).prop("disabled", false);
                    $("#grade_min" + i).prop("disabled", false);
                    $("#grade_max" + i).prop("disabled", false);
                    $("#cgpa_min" + i).prop("disabled", false);
                    $("#cgpa_max" + i).prop("disabled", false);
                });
            });{% endcomment %}


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Manage formula </span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Formula Type</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Formula Type</span>
            </div>
        </div>

        <div class="portlet-body">

            <!-- BEGIN FORM-->
            <div class="form-body">

                <form action="{% url 'masters:formula_type_master' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Degree Type:</label>
                                <div class="col-md-2">
                                    <select id='degree_type' name="degree_type" class="form-control" required>
                                        <option style="display:none" selected="selected" id="" value="">Please Select
                                        </option>

                                        {% for rec in degree_type_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.degree_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-md-offset-2">
                                    <button type="submit" class="btn green" id="go">Go</button>
                                </div>
                            </div>
                        </div>

                        <br><br>
                    </div>
                </form>
            </div>

            <br><br>


        </div>
    </div>
{% endblock %}
