{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $(document).on("click", ".update", function (e) {

                    var parent_id = $(this).closest('tr').attr('id');
                    var module_id = $('#' + parent_id + ' #module_id').val();
                    var module_name = $('#' + parent_id + ' .module_name').val();
                    var country_id = $('#' + parent_id + ' .country').val();
                    if (module_name == '') {
                        $('#' + parent_id + ' .module_name').focus();
                        $('#' + parent_id + ' .module_name').css('border-color', 'red');
                        return false;
                    }

                    if (country_id == '') {
                        $('#' + parent_id + ' .country').focus();
                        $('#' + parent_id + ' .country').css('border-color', 'red');
                        return false;
                    }

                    var url = '/masters/update_module/';
                    update_module_info(url, module_id, module_name,country_id)
                })

                $(document).on("click", ".delete", function (e) {

                    var parent_id = $(this).closest('tr').attr('id');
                    var module_id = $('#' + parent_id + ' #module_id').val();

                    var url = '/masters/delete_module/';
                    delete_module_info(url, module_id)
                })

                function delete_module_info(url, module_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            module_id: module_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function update_module_info(url, module_id, module_name,country_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            module_id: module_id,
                            module_name: module_name,
                            country_id: country_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $(document).on("click", ".edit", function (e) {
                    var parent_id = $(this).closest('tr').attr('id');
                    $('.module_name').css('border-color', '');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1]

                    $(".data").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $("#module_name" + i).prop("disabled", false);
                    $("#country" + i).prop("disabled", false);
                });
            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ],
                "scrollX": true,
                dom: 'Bfrtip',
                buttons: [
                    /* {
                         extend: 'copyHtml5',
                         exportOptions: {
                             columns: [ 0, ':visible' ]
                         }
                     },*/
                    //'print',
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            //columns: ':visible'
                            columns: [ 0,1,2 ]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [ 0,1,2 ]
                            //columns: ':visible'
                        }
                    },
                    //'colvis'
                ],
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
             <li>
                <span> Manage Development Programs</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Manage Module </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Manage Module</span>
            </div>
        </div>

        <div class="portlet-body">

            <!-- BEGIN FORM-->
            <div class="form-body">

                <form action="{% url 'masters:save_module' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Module Name:

                                </label>
                                <div class="col-md-3">
                                    <input type="text" name="module_name" class="form-control" required>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Country:

                                </label>
                                <div class="col-md-3">
                                    <select id='country' name="country" class="form-control" required>
                                        <option style="display:none" selected="selected" id=""
                                                value="">Please Select </option>

                                        {% for rec in country_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.country_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br><br>

                        <br><br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="submit" class="btn green" id="save">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <br><br>

            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th hidden>Sr No. </th>
                        <th>Module</th>
                        <th hidden>Country</th>
                        <th>Country</th>
                        <th width="10%"></th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for rec in module_recs %}
                        <tr id="item{{ forloop.counter }}" class="item">
                            <td style="display: none">
                                <text hidden>{{ forloop.counter }}</text>
                                <input id="module_id" value="{{ rec.id }}"></td>
                            <td>
                                <text hidden>{{ rec.module_name|title }}</text>
                                <input class="form-control data module_name" name="module_name_saved"
                                       type="text"
                                       id="module_name{{ forloop.counter }}" value="{{ rec.module_name|title }}"
                                       required pattern='[A-Za-z+-]+'
                                       title='Please enter module name' disabled></td>
                        <td hidden>
                            <text >{{ rec.country.country_name|title }}</text>
                        </td>

                            <td>
                                <text hidden>{{ rec.country.country_name|title }}</text>
                                <select id='country{{ forloop.counter }}' name="country_name{{ forloop.counter }}" class="form-control country" disabled required>
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ rec.country.id }}">{{ rec.country.country_name|title }} </option>
                                        {% for rec in country_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.country_name|title }}</option>
                                        {% endfor %}
                                    </select></td>
                            <td>
                                <span type="button" name="updt" id="update{{ forloop.counter }}"
                                      class=" update btn green glyphicon glyphicon-ok" style="display:none;">
                                </span>
                                <span type="button" name="edit" id="edit{{ forloop.counter }}"
                                      class=" edit btn blue glyphicon glyphicon-pencil">
                                </span>
                                <span type="button" name="delete" id="delete{{ forloop.counter }}"
                                      class=" delete btn red glyphicon glyphicon-trash">
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
