{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block ScriptBlock %}
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

         window.onload = function () {

             $(document).ready(function () {
                  $(document).on("click", "#button_pdf_id", function (e) {
                 $('#form_pdf_id').submit();
             });

                 $(document).on("change", "#id_accept_student", function (e) {

                     if (e.target.checked) {
                         $('#id_accept_student_model').modal();
                     } else {
                         $('#id_accept_student').prop('checked', false);
                     }

                 });

                 $(document).on("click", "#cancel_model", function (e) {

                     $('#id_accept_student').prop('checked', false);

                 });
             });
         }


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                {% if user.is_student %}
                    <a href="{% url 'student:student_home' %}">Home</a>
                {% elif user.is_donor %}
                    <a href="{% url 'donor:template_donor_dashboard' %}">Home</a>
                {% elif user.is_partner %}
                    <a href="{% url 'accounts:home' %}">Home</a>
                {% else %}
                    <a href="{% url 'accounts:home' %}">Home</a>
                {% endif %}
                <i class="fa fa-angle-right"></i>
            </li>
            {% if user.is_donor %}
                <li>
                     <a href="{% url 'donor:template_student_selection' %}">Scholarship</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            {% endif %}

            <li>
                <span> Donor Details</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">

            <div class="caption">


            </div>


        <div class="portlet-body">
            <div class="form-body">
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> PERSONAL INFO</span>
                     <span style="margin-left: 900px">
                <button type="button" id="button_pdf_id" class="btn green" id="save">PDF</button>
                    </span>

                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">First Name:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.user.get_full_name }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Organisation:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.organisation|title }}</span>
                        </div>
                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">Country :</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.country|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">

                        <label class="col-md-2 control-label">Person in charge:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.person |default_if_none:""}}</span>
                        </div>
                    </div>
                </div>
                    <br>

                <div class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Mobile:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.person_contact_number|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Address:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.single_donor_address|default_if_none:"" }}</span>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Email:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.email|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Register Documents:</label>
                         {% if donor_rec.reg_document != ""   %}
                        <div class="col-md-2">

                            <span class="">{{ donor_rec.reg_document |default_if_none:""}}</span>

                        </div>
                        {% endif %}
                    </div>

                </div>

                <br>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> Bank Account Details</span>
                </div>

                <div class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Bank Account no:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.bank_account_number|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Bank Name:
                </label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.bank_name|default_if_none:"" }}</span>

                        </div>
                    </div>
                </div>
                 <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Swift code:</label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.bank_swift_code|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Bank Address:
                    </label>
                        <div class="col-md-2">
                            <span class="">{{ donor_rec.donor_bank_address|default_if_none:"" }}</span>

                        </div>
                    </div>
                </div>
                <form action="{% url 'masters:donar_all_details_pdf' donor_rec.id %}" id="form_pdf_id"
                      class="form-horizontal"target="_blank"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" style="margin-top: -20px">

                    </div>
                </form>



            </div>
            </div>
        </div>
    </div>

{% endblock %}
