{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $(document).on("click", ".update", function (e) {

                    var parent_id = $(this).closest('tr').attr('id');
                    var course_work_id = $('#' + parent_id + ' #course_work_id').val();
                    var scholarship_id = $('#' + parent_id + ' .scholarship').val();
                    var result_min = $('#' + parent_id + ' .result_min').val();
                    var result_max = $('#' + parent_id + ' .result_max').val();
                    var repayment = $('#' + parent_id + ' .repayment').val();

                    if (repayment == '') {
                        $('#' + parent_id + ' .repayment').focus();
                        $('#' + parent_id + ' .repayment').css('border-color', 'red');
                        return false;
                    }

                    if (result_min == '') {
                        $('#' + parent_id + ' .result_min').focus();
                        $('#' + parent_id + ' .result_min').css('border-color', 'red');
                        return false;
                    }

                    if (result_max == '') {
                        $('#' + parent_id + ' .result_max').focus();
                        $('#' + parent_id + ' .result_max').css('border-color', 'red');
                        return false;
                    }

                    var url = '/masters/update_master_course_work/';
                    update_course_work_info(url, course_work_id, scholarship_id, result_min, result_max, repayment)
                })

                $(document).on("click", ".delete", function (e) {

                    var parent_id = $(this).closest('tr').attr('id');
                    var course_work_id = $('#' + parent_id + ' #course_work_id').val();

                    var url = '/masters/delete_master_course_work/';
                    delete_course_work_info(url, course_work_id)
                })

                function delete_course_work_info(url, course_work_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            course_work_id: course_work_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function update_course_work_info(url, course_work_id, scholarship_id, result_min, result_max, repayment) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            course_work_id: course_work_id,
                            scholarship_id: scholarship_id,
                            result_min: result_min,
                            result_max: result_max,
                            repayment: repayment,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $(document).on("click", ".edit", function (e) {
                    var parent_id = $(this).closest('tr').attr('id');
                    $('.repayment').css('border-color', '');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1]

                    $(".data").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide();
                    $("#repayment" + i).prop("disabled", false);
                    $("#scholarship" + i).prop("disabled", false);
                    $("#result_min" + i).prop("disabled", false);
                    $("#result_max" + i).prop("disabled", false);
                });
            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>


             <li>
                 <span> Manage formula </span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Master Course Work formula </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Manage Master Course Work formula</span>
            </div>
        </div>

        <div class="portlet-body">

            <!-- BEGIN FORM-->
            <div class="form-body">

                <form action="{% url 'masters:save_master_course_work' %}" id="form_sample_1" class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Scholarship:

                                </label>
                                <div class="col-md-2">
                                    <select id='scholarship' name="scholarship" class="form-control" required>
                                        <option style="display:none" selected="selected" id=""
                                                value="">Please Select
                                        </option>

                                        {% for rec in scholarship_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.scholarship_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        <div class="">
                                <label class="col-md-1 control-label">Degree Type:</label>
                                <div class="col-md-2">
                                    <select id='degree_type' name="degree_type" class="form-control" required>
                                        <option style="display:none" selected="selected" id=""value="{{ degree_type_rec.id }}">{{ degree_type_rec.degree_name|title }}</option>

{#                                        {% for rec in degree_type_recs %}#}
{#                                            <option value='{{ rec.id }}'>{{ degree_type_recs.degree_name|title }}</option>#}
{#                                        {% endfor %}#}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Result between:

                                </label>
                                <div class="col-md-1">
                                    <input class="form-control result_min" name="result_min"
                                           type="number" step="any" min="0" max="100"
                                           id="result_min"
                                           required
                                           title='Please enter minimum mark'>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">And:

                                </label>
                                <div class="col-md-1">
                                    <input class="form-control result_max" name="result_max"
                                           type="number" step="any" min="0" max="100"
                                           id="result_max"
                                           required
                                           title='Please enter maximum mark'>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Repayment:

                                </label>
                                <div class="col-md-1">
                                    <input type="number" step="any" min="0" max="100" id="repayment" name="repayment" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br><br>

                        <br><br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="submit" class="btn green" id="save">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <br><br>

            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display: none">Id</th>
                        <th>Scholarship</th>
                        <th>Result Minimum</th>
                        <th>Result Maximum</th>
                        <th>Repayment</th>
                        <th width="10%"></th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for rec in course_work_recs %}
                        <tr id="item{{ forloop.counter }}" class="item">
                            <td style="display: none"><input id="course_work_id" value="{{ rec.id }}"></td>
                            <td>
                                <text hidden>{{ rec.scholarship.scholarship_name|title }}</text>
                                <select id='scholarship{{ forloop.counter }}'
                                        name="scholarship_name{{ forloop.counter }}"
                                        class="form-control data scholarship"
                                        disabled required>
                                    <option style="display:none" selected="selected" id=""
                                            value="{{ rec.scholarship.id }}">{{ rec.scholarship.scholarship_name|title }} </option>
                                    {% for rec in scholarship_recs %}
                                        <option value='{{ rec.id }}'>{{ rec.scholarship_name|title }}</option>
                                    {% endfor %}
                                </select></td>
                            <td>
                                <text hidden>{{ rec.cgpa_min }}</text>
                                <input class="form-control data result_min" name="result_min_saved"
                                       type="number" step="any"
                                       id="result_min{{ forloop.counter }}" value="{{ rec.cgpa_min|title }}"
                                       required pattern='[A-Za-z+-]+'
                                       title='Please enter minimum mark' disabled></td>


                            <td>
                                <text hidden>{{ rec.cgpa_max }}</text>
                                <input class="form-control data result_max" name="result_max_saved"
                                       type="number" step="any"
                                       id="result_max{{ forloop.counter }}" value="{{ rec.cgpa_max|title }}"
                                       required pattern='[A-Za-z+-]+'
                                       title='Please enter max mark' disabled></td>

                            <td>
                                <text hidden>{{ rec.repayment|title }}</text>
                                <input class="form-control data repayment" name="repayment_name_saved"
                                       type="text"
                                       id="repayment{{ forloop.counter }}" value="{{ rec.repayment|title }}"
                                       required pattern='[A-Za-z+-]+'
                                       title='Please enter repayment' disabled>
                            </td>

                            <td>
                                <span type="button" name="updt" id="update{{ forloop.counter }}"
                                      class=" update btn green glyphicon glyphicon-ok" style="display:none;">
                                </span>
                                <span type="button" name="edit" id="edit{{ forloop.counter }}"
                                      class=" edit btn blue glyphicon glyphicon-pencil">
                                </span>
                                <span type="button" name="delete" id="delete{{ forloop.counter }}"
                                      class=" delete btn red glyphicon glyphicon-trash">
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
