{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}
{% block styleBlock %}
{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">


            <li>
                <i class="icon-home"></i>
                <a {% if request.user.is_tanseeq_admin %} href="{% url 'tanseeq_app:tanseeq_admin' %}" {% else %}  href="{% url 'accounts:home' %}" {% endif  %}>Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            {% if request.user.is_tanseeq_admin %}
                 <li>
                <span> Tanseeq University </span>
            </li>


                {% else %}
                <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'University Settings' %}</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> {% trans 'Manage Universities' %} </span>
            </li>

            {% endif %}

        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> {% trans 'Manage Universities' %}</span>
            </div>
            <a href="{% url 'masters:add_university' %}">
                <button type="submit" class="btn green" id="save" style="margin-left:78%;background-color: #3598dc">Add
                </button>
            </a>
        </div>

        <div class="portlet-body">


            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display: none">Id</th>
                        <th> {% trans 'University Type' %}</th>
                        <th> {% trans 'Type' %}</th>
                        <th>{% trans 'University Code' %}</th>
                        <th> {% trans 'University' %}</th>
                        <th> {% trans 'Email' %}</th>
                        <th> {% trans 'Active' %}</th>
                        <th> {% trans 'Registration' %}</th>
                        <th> {% trans 'Singup' %}</th>
                        <th width="10%">{% trans 'Action' %}</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for rec in university_recs %}
                        <tr id="item{{ forloop.counter }}" class="item">
                            <td style="display: none"><input id="university_id" value="{{ rec.id }}"></td>
                            <td>{{ rec.university_type.university_type|default_if_none:"" }}</td>
                            <td>{{ rec.type.type|default_if_none:"" }}</td>
                            <td>{{ rec.university_code|default_if_none:"" }}</td>
                            <td>{{ rec.university_name|default_if_none:"" }}</td>


                            <td>{{ rec.email|default_if_none:"" }}</td>
                            <td>
                                {% if rec.is_active == True %}
                                    <i class="fa fa-power-off" aria-hidden="true"
                                       style="margin-left: 30px;margin-top:8px;font-size:18px;color:green"></i>
                                {% else %}
                                    <i class="fa fa-power-off" aria-hidden="true"
                                       style="margin-left: 30px;margin-top:8px;font-size:18px;color:red"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if rec.is_registration == True %}
                                    <i class="fa fa-power-off" aria-hidden="true"
                                       style="margin-left: 30px;margin-top:8px;font-size:18px;color:green"></i>
                                {% else %}
                                    <i class="fa fa-power-off" aria-hidden="true"
                                       style="margin-left: 30px;margin-top:8px;font-size:18px;color:red"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if rec.is_singup == True %}
                                    <i class="fa fa-power-off" aria-hidden="true"
                                       style="margin-left: 30px;margin-top:8px;font-size:18px;color:green"></i>
                                {% else %}
                                    <i class="fa fa-power-off" aria-hidden="true"
                                       style="margin-left: 30px;margin-top:8px;font-size:18px;color:red"></i>
                                {% endif %}
                            </td>

                            <td>
                                <a href="{% url 'masters:edit_university' rec.id %}">
                                <span type="button" name="edit" id="edit{{ forloop.counter }}"
                                      class=" edit_btn btn blue glyphicon glyphicon-pencil">
                                </span>
                                </a>

                                <button type="button" delete-url="{% url 'masters:delete_university' rec.id %}"
                                        class="delete btn red glyphicon glyphicon-trash" name="delete"
                                >
                                </button>

                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    {% include 'delete_modal.html' %}
{% endblock %}

{% block ajax %}
    <script>
        $(".delete").on("click", (e) => {
            $("#id_delete_model").modal()
            $("#id_confirm_delete").attr("delete-url", $(e.target).attr("delete-url"))


        });
        $("#id_confirm_delete").on("click", (e) => {
            var delete_url = $(e.target).attr("delete-url")
            window.location.href = delete_url;
        })


    </script>

{% endblock %}