{#{% extends "template_base_page.html" %}#}
{#{% load staticfiles %}#}
<style>


    {% comment %}@page {
        margin: 1cm;
        margin-bottom: 2.5cm;
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 2cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
    }
    }{% endcomment %}

    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;

    }

    @page {
        margin: 1cm;
        margin-top: 5cm;

        @frame header {
        -pdf-frame-content: header;
    {#font-size: 20px;#}
    {#font-weight: 100;#}
    {#text-align: center;#}
    {#color: #007cae;#}
    {#font-size: 50px;#}
    {#background-color: red;#}
    }
    margin-bottom: 2.5cm;

    @frame footer {
    -pdf-frame-content:footerContent;
    bottom: 15cm;
    height: 18cm;


        margin-top:25pt;




    }
    }


    @page header {

            }

    .wrapper {
        display: table;
        width: 150%;
    }

    .left {
        display: table-cell;
    }
</style>

{% block content %}
    <div class='wrapper'>
        <div class='header' id="header" style="text-align: center;">
            <img src="{{ header_path }}" alt="logo"
                 style="width: 500px;height: 100px;margin-top: 25px; text-align: center" class="logo-default"/><br>

            <br><br>
            <span class='title' style="font-size: 16px; color: #13084e;"><b>APPLICATION DETAILS </b></span>
        </div>



        <div style="padding: 5px">
            <span style="margin-left: 550px;"><img style="width: 100px;margin-top: 0px; padding: 0px;" src="{{ profile_path }}"></span>
            <table>
                <td colspan="3" style="font-size: 16px;font-weight:bold">PERSONAL INFO:</td>
                <tr>

                    <td style="text-align: left ;font-size: {{ x }}px">
                        <span class="">First Name: {{ application_obj.first_name|title }}</span>
                    </td>

                    <td style="text-align: left;font-size: {{ x }}px">
                        <span class="">Middle Name: {{ application_obj.middle_name|title }}</span>
                    </td>

                    <td style="text-align: left;font-size: {{ x }}px">
                        <span class="">Last Name: {{ application_obj.last_name|title }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>DOB: {{ application_obj.birth_date|date:"Y-m-d" }}</span>
                    </td>


                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Gender: {{ application_obj.gender|title }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Nationality: {{ application_obj.nationality|title }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>ID no: {{ application_obj.id_number }}</span>
                    </td>


                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Passport no: {{ application_obj.passport_number }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Country of Issuer: {{ application_obj.passport_issue_country|title }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>E-mail: {{ application_obj.email }}</span>
                    </td>


                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Telephone no (HP): {{ application_obj.telephone_hp }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Telephone no (Home): {{ application_obj.telephone_home }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Religion: {{ application_obj.religion|title }}</span>
                    </td>


                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Residential/Postal Address: {{ application_obj.address.residential_address|title }}</span>
                    </td>

                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Premise/Sub-Locality-2:{{ application_obj.address.street|title }}</span>
                    </td>
                </tr>
                <tr>


                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Sub-Locality:{{ application_obj.address.sub_locality|title }}</span>
                    </td>

                </tr>
                <tr>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Postcode:{{ application_obj.address.post_code }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>District:{{ application_obj.address.district|title }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>State/Province:{{ application_obj.address.state|title }}</span>
                    </td>


                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Country:{{ application_obj.address.country.country_name|title }}</span>
                    </td>

                </tr>
                <td colspan="3" style="font-size: 16px;font-weight:bold">WIFE INFO:</td>


                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Wife Name:{{ application_obj.wife_name|title }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>DOB:{{ application_obj.wife_dob|date:"Y-m-d" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Income($):{{ application_obj.wife_income|default:"" }}</span>
                    </td>
                </tr>


                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>PaySlip:{{ application_obj.wife_pay_slip|default:"" }}</span>
                    </td>


                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>E-mail:{{ application_obj.wife_email|default:"" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Telephone (Home):{{ application_obj.wife_telephone_home|default:"" }}</span>
                    </td>


                </tr>

                <tr>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Occupation:{{ application_obj.wife_occupation|default:"" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Country :{{ application_obj.wife_nationality.country_name|title }}</span>
                    </td>


                </tr>
                <td colspan="3" style="font-size: 16px;font-weight:bold">FATHER INFO:</td>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Father Name:{{ application_obj.father_name|default:""|title }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>DOB:{{ application_obj.father_dob|date:"Y-m-d" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Income($):{{ application_obj.father_income|default:"" }}</span>
                    </td>

                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Payslip :{{ application_obj.father_pay_slip|default:"" }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>E-mail :{{ application_obj.father_email|default:"" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Telephone (Home):{{ application_obj.father_telephone_home|default:"" }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Occupation :{{ application_obj.father_occupation|default:"" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Country:{{ application_obj.father_nationality.country_name|title }}</span>
                    </td>

                </tr>
                <td colspan="3" style="font-size: 16px;font-weight:bold">MOTHER INFO:</td>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Mother Name : {{ application_obj.mother_name|default:""|title }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Country : {{ application_obj.mother_dob|date:"Y-m-d" }}</span>
                    </td>

                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Income($): {{ application_obj.mother_income }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Payslip:{{ application_obj.mother_pay_slip|default:"" }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>E-mail :{{ application_obj.mother_email|default:"" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Telephone (Home):{{ application_obj.mother_telephone_home|default:"" }}</span>
                    </td>

                </tr>

                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Occupation :{{ application_obj.mother_occupation|default:"" }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Country:{{ application_obj.mother_nationality.country_name|title }}</span>
                    </td>

                </tr>
                <td colspan="3" style="font-size: 16px;font-weight:bold">Siblings INFO:</td>
                {% for sibling in siblings_obj %}
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Sibling :{{ sibling.sibling_name|default:""|title }}</span>
                        </td>

                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Age :{{ sibling.sibling_age }}</span>
                        </td>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Status :{{ sibling.sibling_status|title }}</span>
                        </td>

                    </tr>
                {% endfor %}


                <td colspan="3" style="font-size: 16px;font-weight:bold">ACADEMIC QUALIFICATION :</td>
                {% for qualification_obj in qualification_recs %}
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px"><span>Level :{{ qualification_obj.level }}</span></td>

                        <td style="text-align: left; font-size: {{ x }}px"><span>Year :{{ qualification_obj.level_year }}</span></td>
                        <td style="text-align: left; font-size: {{ x }}px"><span>Result :{{ qualification_obj.level_result }}</span></td>

                    </tr>
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px"><span>Result Doc : {{ qualification_obj.level_result_document|default:"" }}</span></td>
                    </tr>
                {% endfor %}
                <td colspan="3" style="font-size: 16px;font-weight:bold">English Qualification :</td>

                {% for  english_obj in english_recs %}
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>English Competency Test :{{ english_obj.english_test }}</span>
                        </td>

                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Year :{{ english_obj.english_test_year }}</span>
                        </td>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Result :{{ english_obj.english_test_result }}</span>
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Result Doc :{{ english_obj.english_test_result_document|default:"" }}</span>
                        </td>
                    </tr>
                {% endfor %}


                <td colspan="3" style="font-size: 16px;font-weight:bold">Experience Details:</td>
                {% for curriculum_obj in curriculum_recs %}
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Co-Curriculum:{{ curriculum_obj.curriculum_name }}</span>
                        </td>

                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Year :{{ curriculum_obj.curriculum_year }}</span>
                        </td>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Result :{{ curriculum_obj.curriculum_result_document|default:"" }}</span>
                        </td>

                    </tr>
                {% endfor %}


                <td colspan="3" style="font-size: 16px;font-weight:bold">Experience Details:</td>

                {% for applicant_experience_obj in applicant_experience_recs %}
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Work Experience :{{ applicant_experience_obj.work_experience_one }}</span>
                        </td>

                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Start Date :{{ applicant_experience_obj.from_date_one }}</span>
                        </td>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>End Date :{{ applicant_experience_obj.to_date_one }}</span>
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align: left; font-size: {{ x }}px">
                            <span>Result Doc :{{ applicant_experience_obj.work_experience_document_one|default:"" }}</span>
                        </td>
                    </tr>
                {% endfor %}

                <td colspan="3" style="font-size: 16px;font-weight:bold">SCHOLARSHIP SELECTION:</td>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Scholarship Applied  :{{ scholarship_obj.scholarship }}</span>
                    </td>

                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Course Applied:{{ scholarship_obj.course_applied }}</span>
                    </td>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>University :{{ scholarship_obj.university }}</span>
                    </td>

                </tr>
                <tr>
                    <td style="text-align: left; font-size: {{ x }}px">
                        <span>Admission Letter:{{ scholarship_obj.admission_letter_document|default:"" }}</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: left; font-size: {{ x }}px">
                        <span>About Myself: {{ about_obj.about_yourself }}</span>
                    </td>
                </tr>

                </tbody>
            </table>

            {#            </div>#}
            {#        </div>#}
            {#    </div>#}
        </div>
    </div>


{% endblock %}