{#{% extends request.user.is_administrator|yesno:"template_university_base_page.html,template_base_page.html" %}#}
{% extends context.my_template %}
{% load  i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $(document).on("click", "#button_pdf_id", function (e) {
                    $('#form_pdf_id').submit();
                });


                $(document).on("click", "#btn_supervisor", function (e) {

                    $('#supervisior_modal').modal();
                })


            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                {% if user.is_student %}
                    <a href="{% url 'student:student_home' %}">Home</a>
                {% elif user.is_donor %}
                    <a href="{% url 'donor:template_donor_dashboard' %}">Home</a>
                {% elif user.is_partner %}
                    <a href="{% url 'accounts:home' %}">Home</a>
                  {% elif user.is_agent %}
                    <a href="{% url 'agents:dashboard' %}">HOME</a>
                {% else %}
                    <a href="{% url 'accounts:home' %}">Home</a>
                {% endif %}
                <i class="fa fa-angle-right"></i>
            </li>
            {% if user.is_donor %}
                <li>
                    <span> Report </span>
                    <i class="fa fa-angle-right"></i>

                </li>
                <li>
                    <a href="{% url 'donor:template_student_reports' %}">{% trans 'Student Report' %} </a>
                    <i class="fa fa-angle-right"></i>
                </li>
            {% elif user.is_partner %}
                <li>
                    <a href="{% url 'partner:template_approving_application' %}">{% trans 'Approving Applications' %}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
             {% elif user.is_agent %}


            {% else %}
                <li>
                    <a href="{% url 'partner:template_approving_application' %}">{% trans 'Applicant Details' %}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            {% endif %}
         {% if user.is_agent %}

            <li>
                <span> {% trans 'APPLICATIONS DETAILS' %}</span>

            </li>
        {% else %}
             <li>
                <span> {% trans 'Applications Details' %}</span>

            </li>
        {% endif %}
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> {% trans 'Applications Details' %}</span>

            </div>


        </div>


        <div class="portlet-body">
            <div class="form-body">

{#                {% if request.user.is_supervisor == True %}#}
{#                    {% if application_obj.program_mode.study_type == 'Research' %}#}
{#                        <div class="portlet light portlet-fit portlet-form ">#}
{#                            <i class="icon-settings font-red"></i>#}
{#                            <span class="caption-subject font-red sbold uppercase"> Supervisor Details</span>#}
{#                            <div class="" style="float: right;#}
{#    margin-top: -10px;#}
{#    padding-right: 74%;">#}
{##}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        {% if application_obj.supervisor %}#}
{##}
{#                            <div class="row">#}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Assign Supervisor:</label>#}
{#                                    <div class="col-md-3">#}
{#                                        <span class="">{{ application_obj.supervisor.email|default_if_none:"" }}</span>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Research Proposal:</label>#}
{##}
{#                                    <div class="col-md-4">#}
{#                                        {% if attachement_obj.0.research_proposal %}#}
{#                                            <a href="{{ attachement_obj.0.research_proposal.url }}" target="_blank">Preview#}
{#                                                Research Proposal</a>#}
{#                                        {% else %}#}
{#                                            ----#}
{#                                        {% endif %}#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{##}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row">#}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Status:</label>#}
{#                                    <div class="col-md-3">#}
{##}
{#                                        <span style="color:{% if application_obj.supervisor_status == 'Requested' %}peru{% elif application_obj.supervisor_status == 'Approved' %}green{% else %}red{% endif %}"><b>{{ application_obj.supervisor_status|default_if_none:"" }}</b></span>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                {% if application_obj.supervisor_status == 'Rejected' %}#}
{#                                    <div class="">#}
{#                                        <label class="col-md-2 control-label">Reject Details:</label>#}
{#                                        <div class="col-md-3">#}
{#                                            <span class="">{{ application_obj.reject_description|default_if_none:"" }}</span>#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% endif %}#}
{##}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="row">#}
{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Research Proposal:</label>#}
{##}
{#                                    <div class="col-md-4">#}
{#                                        {% if attachement_obj.0.research_proposal %}#}
{#                                            <a href="{{ attachement_obj.0.research_proposal.url }}" target="_blank">Preview#}
{#                                                Research Proposal</a>#}
{#                                        {% else %}#}
{#                                            ----#}
{#                                        {% endif %}#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{##}
{#                            </div>#}
{##}
{#                        {% endif %}#}
{#                        <br>#}
{#                        <hr>#}
{#                    {% endif %}#}
{#                {% endif %}#}


{#                {% if request.user.is_program == True %}#}
{#                    {% if application_obj.program_mode.study_type == 'Research' %}#}
{#                        <div class="portlet light portlet-fit portlet-form ">#}
{#                            <i class="icon-settings font-red"></i>#}
{#                            <span class="caption-subject font-red sbold uppercase"> Supervisor Details</span>#}
{#                            <div class="" style="float: right;#}
{#    margin-top: -10px;#}
{#    padding-right: 74%;">#}
{#                                <div class="">#}
{#                                    <a href="javascript:;" id="btn_supervisor"#}
{#                                       class="btn btn-icon-only green add_department"#}
{#                                       style="width:115px!important;">#}
{#                                        <i class="fa fa-plus ">Add Supervisor</i>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        {% if application_obj.supervisor %}#}
{##}
{#                            <div class="row">#}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Assign Supervisor:</label>#}
{#                                    <div class="col-md-3">#}
{#                                        <span class="">{{ application_obj.supervisor.email|default_if_none:"" }}</span>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Research Proposal:</label>#}
{##}
{#                                    <div class="col-md-4">#}
{#                                        {% if attachement_obj.0.research_proposal %}#}
{#                                            <a href="{{ attachement_obj.0.research_proposal.url }}" target="_blank">Preview#}
{#                                                Research Proposal</a>#}
{#                                        {% else %}#}
{#                                            ----#}
{#                                        {% endif %}#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{##}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row">#}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Status:</label>#}
{#                                    <div class="col-md-3">#}
{##}
{#                                        <span style="color:{% if application_obj.supervisor_status == 'Requested' %}peru{% elif application_obj.supervisor_status == 'Approved' %}green{% else %}red{% endif %}"><b>{{ application_obj.supervisor_status|default_if_none:"" }}</b></span>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                                {% if application_obj.supervisor_status == 'Rejected' %}#}
{#                                    <div class="">#}
{#                                        <label class="col-md-2 control-label">Reject Details:</label>#}
{#                                        <div class="col-md-3">#}
{#                                            <span class="">{{ application_obj.reject_description|default_if_none:"" }}</span>#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% endif %}#}
{##}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="row">#}
{##}
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Research Proposal:</label>#}
{##}
{#                                    <div class="col-md-4">#}
{#                                        {% if attachement_obj.0.research_proposal %}#}
{#                                            <a href="{{ attachement_obj.0.research_proposal.url }}" target="_blank">Preview#}
{#                                                Research Proposal</a>#}
{#                                        {% else %}#}
{#                                            ----#}
{#                                        {% endif %}#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{##}
{#                            </div>#}
{##}
{#                        {% endif %}#}
{#                        <br>#}
{#                        <hr>#}
{#                    {% endif %}#}
{#                {% endif %}#}



                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> PERSONAL INFO (BIOGRAPHICAL INFORMATION)</span>
                    <form action="{% url 'student:generate_pdf' application_obj.id %}" id="form_pdf_id"
                          class="form-horizontal" target="_blank"
                          method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <button type="button" class="btn red" id="button_pdf_id" style="margin-left:95%;margin-top: -3%">PDF
                                        </button>
                    </form>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Profile Pic:</label>
                        <div class="col-md-3">
                            <a href="{{ attachement_obj.0.image.url }}" download>
                                <img src="{{ attachement_obj.0.image.url }}" alt="image"
                                     width="104" height="142">
                            </a>
                        </div>
                    </div>
                    {#                    {% if request.user.is_program == True %}#}
                    {##}
                    {#                        {% if application_obj.program_mode.study_type == 'Research' %}#}
                    {##}
                    {#                            <form action="{% url 'accounts:add_staff' %}"#}
                    {#                                  id="staff_form"#}
                    {#                                  class="form-horizontal"#}
                    {#                                  method="POST" enctype="multipart/form-data">#}
                    {#                                {% csrf_token %}#}
                    {##}
                    {##}
                    {#                                <div class="">#}
                    {#                                    <label class="col-md-1 control-label">Supervisor:</label>#}
                    {#                                    <div class="col-md-3">#}
                    {#                                        <select id='supervisor' title="Select Supervisor"#}
                    {#                                                name="supervisor"#}
                    {#                                                class="form-control" required>#}
                    {#                                            {% if staff_dict.country %}#}
                    {#                                                <option style="display:none;" selected="selected"#}
                    {#                                                        value="{{ staff_dict.country|default_if_none:"" }}"> {{ staff_dict.country_name|default_if_none:"" }}</option>#}
                    {#                                                <option value=""> Please Select</option>#}
                    {#                                            {% else %}#}
                    {#                                                <option selected="selected" value="" disabled> Please Select</option>#}
                    {#                                            {% endif %}#}
                    {##}
                    {#                                            {% for rec in supervisor_list %}#}
                    {#                                                <option value="{{ rec.id }}">{{ rec.email|default_if_none:"" }}</option>#}
                    {#                                            {% endfor %}#}
                    {##}
                    {#                                        </select>#}
                    {#                                    </div>#}
                    {##}
                    {##}
                    {#                                </div>#}
                    {##}
                    {#                                <div class="">#}
                    {#                                    <label class="col-md-1 control-label" style="padding-top:0px!important;">#}
                    {#                                        <button type="submit" class="btn green" id="save_form" style="">Save#}
                    {#                                        </button>#}
                    {##}
                    {##}
                    {#                                    </label>#}
                    {##}
                    {##}
                    {#                                </div>#}
                    {##}
                    {#                            </form>#}
                    {#                        {% endif %}#}
                    {#                    {% endif %}#}


                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">First Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.first_name|default_if_none:"" }}</span>

                        </div>


                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Middle Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.middle_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Last Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Surname:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.surname|default_if_none:"" }}</span>
                        </div>
                    </div>
                    <div class="">
                        <label class="col-md-1 control-label">Passport No:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.passport_number|default_if_none:"" }}</span>

                        </div>
                    </div>

                </div>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> CONTACT INFO</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">E-mail:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.email|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Mobile:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.mobile|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">WhatsApp:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.whats_app|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.country|title|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Postcode:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.post_code|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Address line 1:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.residential_address|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Address line 2:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.street|title|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">City:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.district|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> INTAKE INFO</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">University Type:</label>
                        <div class="col-md-3">
                            {% if application_obj.university.is_partner_university == True %}
                                <span class="">Partner</span>
                            {% else %}
                                <span class="">Main</span>
                            {% endif %}

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">University:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.university.university_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Academic Year:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.academic_year.year_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Semester:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.semester.semester_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Mode of Study:</label>
                        <div class="col-md-3">
                            <span class="">
                                 {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.study_mode|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.study_mode_2|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.study_mode_3|default_if_none:"" }} {% else %}{{ application_obj.study_mode|default_if_none:"" }}{% endif %}
                            </span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Level of Study:</label>
                        <div class="col-md-3">
                            <span class="">{% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.study_level.study_level|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.study_level_2.study_level|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.study_level_3.study_level|default_if_none:"" }} {% else %}{{ application_obj.study_level.study_level|default_if_none:"" }}{% endif %}</span>

                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Faculty:</label>
                        <div class="col-md-3">
                            <span class="">{% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.faculty.faculty_name|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.faculty_2.faculty_name|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.faculty_3.faculty_name|default_if_none:"" }} {% else %}{{ application_obj.faculty.faculty_name|default_if_none:"" }}{% endif %}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Department:</label>
                        <div class="col-md-3">
                            <span class="">{% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.department.department|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.department_2.department|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.department_3.department|default_if_none:"" }} {% else %}{{ application_obj.department.department|default_if_none:"" }}{% endif %}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Program:</label>
                        <div class="col-md-3">
                            <span class="">{% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.program.program_name|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.program_2.program_name|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.program_3.program_name|default_if_none:"" }} {% else %}{{ application_obj.program.program_name|default_if_none:"" }}{% endif %}</span>

                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Program Mode:</label>
                        <div class="col-md-3">
                            <span class="">{% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.program_mode.study_type|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.program_mode_2.study_type|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.program_mode_3.study_type|default_if_none:"" }} {% else %}{{ application_obj.program_mode.study_type|default_if_none:"" }}{% endif %}</span>

                        </div>
                    </div>
                </div>

                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> LEARNING CENTRE INFO</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.learning_country.country_name|title }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Learning Centre:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.learning_centre.lc_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                </div>
                {#                <hr>#}
                {#                <div class="portlet light portlet-fit portlet-form ">#}
                {#                    <i class="icon-settings font-red"></i>#}
                {#                    <span class="caption-subject font-red sbold uppercase"> ACADEMIC PROGRAM DETAILS</span>#}
                {#                </div>#}

                {#                <div class="row">#}
                {#                    <div class="">#}
                {#                        <label class="col-md-1 control-label">Program:</label>#}
                {#                        <div class="col-md-3">#}
                {#                            <span class="">{{ application_obj.program.program_name|default_if_none:"" }}</span>#}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                    <div class="">#}
                {#                        <label class="col-md-1 control-label">Faculty:</label>#}
                {#                        <div class="col-md-3">#}
                {#                            <span class="">{{ application_obj.faculty.faculty_name|default_if_none:"" }}</span>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                    <div class="">#}
                {#                        <label class="col-md-1 control-label">Campus:</label>#}
                {#                        <div class="col-md-3">#}
                {#                            <span class="">{{ application_obj.campus.campus_name|default_if_none:"" }}</span>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}

                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> ACADEMIC QUALIFICATION DETAILS</span>
                </div>
                {% for qualification_obj in qualification_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Qualification:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.degree|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Major:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.major|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Institution:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_institution|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Result:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_result|default_if_none:"" }}</span>

                            </div>
                        </div>


                        <div class="">
                            <label class="col-md-1 control-label">Year:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_year|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Country:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.country.country_name|default_if_none:"" }}</span>

                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'Arabic Language Proficiency' %}</span>
                </div>
                {% for arabic_obj in arabic_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Arab Competency Test' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ arabic_obj.arab_competency_test.arab_competency_test|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Institution' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ arabic_obj.arab_test|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Grade/Level' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ arabic_obj.arab_test_result|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">English Language Proficiency</span>
                </div>
                {% for english_competency_obj in english_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">English Competency Test:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_competency_test.english_competency_test|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Institution:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_test|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Grade/Level:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_test_result|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">  Professional Qualifications</span>
                </div>
                {% for postgraduate_obj in postgraduate_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Qualification Name:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.qualification_name|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">License No:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.license_certificate_no|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Professional Body:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.professional_body|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Date Awarded:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.awarded_date|date:"Y-m-d" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Agency Name/No:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.agency_name_no|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Issued in Country:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.country.country_name|title|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Expiration Date:</label>
                            <div class="col-md-3">
                                <span class="">{{ postgraduate_obj.expiration_date|date:"Y-m-d" }}</span>

                            </div>
                        </div>


                    </div>
                    <hr>
                {% endfor %}






                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">  EMPLOYMENT HISTORY</span>
                </div>
                {% for employement_history_obj in employement_history_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Name of Employer:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.employer_name|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Job Designation:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.designation|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">From Date:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.from_date|date:"Y-m-d" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">To Date:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.to_date|date:"Y-m-d" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Country:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.country.country_name|title|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Type of Industry:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.industry_type|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Number of Years Employed:</label>
                            <div class="col-md-3">
                                <span class="">{{ employement_history_obj.employed_years|default_if_none:"" }}</span>

                            </div>
                        </div>


                    </div>
                    <hr>
                {% endfor %}



                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">NEXT OF KEN DETAILS</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">ID:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_id|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Relationship:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_relationship|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Tel No:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_tel_no|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Email:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_email|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">OTHER INFORMATION (How did you know about us)</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Student:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ref_by_student.user.first_name|default_if_none:"" }} {{ addition_info_obj.ref_by_student.user.last_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Agent:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ref_by_agent.first_name|default_if_none:"" }} {{ addition_info_obj.ref_by_agent.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">SPONSORSHIP</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Name of the Organisation:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_organisation|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Address:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_address|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Email:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_email|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Contact dept/person:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_contact|default_if_none:"" }}</span>
                        </div>
                    </div>
                </div>

                <hr>


                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Attachment</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">Passport ID:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.passport_image %}
                                <a href="{{ attachement_obj.0.passport_image.url }}" target="_blank" download>Preview Passport
                                    ID</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Academic Certificate:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.level_result_document %}
                                <a href="{{ attachement_obj.0.level_result_document.url }}" target="_blank" download>Preview
                                    Academic Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                </div>
                <br>
                <div class="row">


                    <div class="">
                        <label class="col-md-2 control-label">Transcript:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.transcript_document %}
                                <a href="{{ attachement_obj.0.transcript_document.url }}" target="_blank" download>Preview
                                    Transcript</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                    <div class="">
                        <label class="col-md-2 control-label">English Language Proficiency Certificate:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.english_test_result_document %}
                                <a href="{{ attachement_obj.0.english_test_result_document.url }}" target="_blank" download>Preview
                                    English Language Proficiency Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                </div>
                <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-2 control-label">{% trans 'Arab Language Proficiency Certificate' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.arab_test_result_document %}
                                <a href="{{ attachement_obj.0.arab_test_result_document.url }}" target="_blank" download>Preview
                                    Arab Language Proficiency Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Recommendation Letter:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.recommendation_letter %}
                                <a href="{{ attachement_obj.0.recommendation_letter.url }}" target="_blank" download>Preview
                                    Recommendation Letter</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>
                </div>
                <br>
                <div class="row">


                    <div class="">
                        <label class="col-md-2 control-label">Research Proposal:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.research_proposal %}
                                <a href="{{ attachement_obj.0.research_proposal.url }}" target="_blank" download>Preview
                                    Research Proposal</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>
                </div>

                <hr>


            </div>
        </div>
    </div>


    <div id="supervisior_modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'partner:assign_supervisior' application_obj.id %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color: #2a015e; text-align: left"><b>Select Supervisor</b>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <select id='supervisor' title="Select Supervisor" style="width: 70%"
                                name="supervisor"
                                class="form-control" required>
                            {% if staff_dict.country %}
                                <option style="display:none;" selected="selected"
                                        value="{{ staff_dict.country|default_if_none:"" }}"> {{ staff_dict.country_name|default_if_none:"" }}</option>
                                <option value=""> Please Select</option>
                            {% else %}
                                <option selected="selected" value="" disabled> Please Select</option>
                            {% endif %}

                            {% for rec in supervisor_list %}
                                <option value="{{ rec.id }}">{{ rec.email|default_if_none:"" }}</option>
                            {% endfor %}

                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel_model" data-dismiss="modal" class="btn dark btn-outline">
                            Cancel
                        </button>
                        <button type="submit" id="delete_language" class="btn red">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
