{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    {#    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>#}
    {#    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"#}
    {#          rel="stylesheet" type="text/css"/>#}

    {#    </head>#}
    <!-- END HEAD -->
    <style type="text/css">


        .paging_full_numbers.pagination {
            border: 1px solid lightgray !important;
            border-radius: 15px !important;
            background-color: lightgray !important;
        }

        .paging_full_numbers.pagination {
            border: 1px solid lightgray !important;
            border-radius: 15px !important;
            background-color: lightgray !important;
            padding: 0px 45px 0px 45px !important;
        }

        .page-item {
            padding: 0px 1px;
        }

        .page-item.active .page-link {
            background-color: royalblue !important;
            color: white !important;
        }

        .page-link {
            background-color: lightgray !important;
            color: #212529 !important;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid white;
        }

        .closebtn {
            float: right;
            border: 2px solid white;
            border-radius: 50%;
            padding: 0px 12px 0px 11px;
            background: white;
            color: red;
        }

        .page-link:hover:not(.active) {
            background-color: royalblue !important;
            color: white !important;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {


                $('#example').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "{% url 'partner:companies_datatable' %}",
                    columnDefs: [
                        {
                            data: "first_name", render: getFirstName,
                            orderable: true,
                            defaultContent: "",
                            targets: 1,
                            visible: true
                        },
                        {
                            data: "application_id", render: getCourseName,
                            orderable: true,
                            defaultContent: "",
                            targets: 4,
                            visible: true
                        },
                        {
                            data: "year", render: getDegreeName,
                            orderable: true,
                            defaultContent: "",
                            targets: 5,
                            visible: true
                        },
                         {
                            data: "semester", render: getProgramName,
                            orderable: true,
                            defaultContent: "",
                            targets: 6,
                            visible: true
                        },
                        {
                            data: "student", render: getScholarship,
                            orderable: true,
                            defaultContent: "",
                            targets: 7,
                            visible: true
                        },
                        {orderable: false, targets: []}
                    ],
                    "order": [[0, "desc"]],
                    "pagingType": "full_numbers",
                    "oLanguage": {
                        "oPaginate": {
                            "sFirst": "<<", // This is the link to the first page
                            "sPrevious": "<", // This is the link to the previous page
                            "sNext": ">", // This is the link to the next page
                            "sLast": ">>" // This is the link to the last page
                        }
                    }
                });


            });

        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);


        function getFirstName(data, type, full, meta) {
            return '<a href="/partner/template_applicant_all_details/' + full[0] + '">' + full[1] + '</a>'
        }

        function getCourseName(data, type, full, meta) {
            return '<p>' + full[4] + '</p>'
        }

        function getDegreeName(data, type, full, meta) {
            return '<p>' + full[5] + '</p>'
        }
        function getProgramName(data, type, full, meta) {
            return '<p>' + full[6] + '</p>'
        }
        function getScholarship(data, type, full, meta) {
            return '<p>' + full[7] + '</p>'
        }
    </script>



{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span> Applicant Scholarship </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Applicant Scholarship </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">

                <div class="row" hidden>
                    <div class="col-md-offset-11">
                        <button type="submit" class="btn green" id="save" style="">Filter</button>
                    </div>
                </div>

                <div class="row">
                    <div class="">

                        <table id="example" class="table table-bordered" style="width:100%" cellspacing="0">
                            <thead style="width: 100%">
                            <tr style="width: 100%">
                                <th>ID</th>
                                <th>Student Name</th>
                                <th>Nationality</th>
                                <th>Country</th>
                                <th>University</th>
                                <th>Degree</th>
                                <th>Course</th>
                                <th>Scholarship</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for rec in applicant_recs %}
                                <tr id="item{{ forloop.counter }}" class="item">
                                    <td><input id="scholarship_id" value="{{ rec.id }}"></td>
                                    <td>
                                        <a href="/partner/template_applicant_all_details/{{ rec.id }}"
                                           {% if rec.application_rejection %}style="color: darkred" {% endif %}>{{ rec.first_name|title }}</a>
                                    </td>
                                    <td>
                                        <text>{{ rec.nationality.country_name|title }}</text>
                                    </td>
                                    <td>
                                        <text>{{ rec.address.country.country_name|title }}</text>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <!-- end data -->
                        </table>

                    </div>
                </div>
                {#                </form>#}
            </div>
        </div>
    </div>
{% endblock %}
