{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });



            function updateDataTableSelectAllCtrl(table) {
                var $table = table.table().node();
                var $chkbox_all = $('tbody input[type="checkbox"]', $table);
                var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
                var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

                // If none of the checkboxes are checked
                if ($chkbox_checked.length === 0) {
                    chkbox_select_all.checked = false;
                    if ('indeterminate' in chkbox_select_all) {
                        chkbox_select_all.indeterminate = false;
                    }

                    // If all of the checkboxes are checked
                } else if ($chkbox_checked.length === $chkbox_all.length) {
                    chkbox_select_all.checked = true;
                    if ('indeterminate' in chkbox_select_all) {
                        chkbox_select_all.indeterminate = false;
                    }

                    // If some of the checkboxes are checked
                } else {
                    chkbox_select_all.checked = true;
                    if ('indeterminate' in chkbox_select_all) {
                        chkbox_select_all.indeterminate = true;
                    }
                }
            }

            $(document).ready(function () {
                // Array holding selected row IDs
                var rows_selected = [];
                var table = $('#example').DataTable({
                    {#      'ajax': 'https://api.myjson.com/bins/1us28',#}
                    'columnDefs': [{
                        'targets': 0,
                        'searchable': false,
                        'orderable': false,
                        'width': '10%',
                        'className': 'dt-body-center',
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox">';
                        }
                    }],
                    'order': [1, 'asc'],
                    'rowCallback': function (row, data, dataIndex) {
                        // Get row ID
                        var rowId = data[0];

                        // If row ID is in the list of selected row IDs
                        if ($.inArray(rowId, rows_selected) !== -1) {
                            $(row).find('input[type="checkbox"]').prop('checked', true);
                            $(row).addClass('selected');
                        }
                    }
                });

                // Handle click on checkbox
                $('#example tbody').on('click', 'input[type="checkbox"]', function (e) {
                    var $row = $(this).closest('tr');

                    // Get row data
                    var data = table.row($row).data();

                    // Get row ID
                    var rowId = data[0];

                    // Determine whether row ID is in the list of selected row IDs
                    var index = $.inArray(rowId, rows_selected);

                    // If checkbox is checked and row ID is not in list of selected row IDs
                    if (this.checked && index === -1) {
                        rows_selected.push(rowId);

                        // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                    } else if (!this.checked && index !== -1) {
                        rows_selected.splice(index, 1);
                    }

                    if (this.checked) {
                        $row.addClass('selected');
                    } else {
                        $row.removeClass('selected');
                    }

                    // Update state of "Select all" control
                    updateDataTableSelectAllCtrl(table);

                    // Prevent click event from propagating to parent
                    e.stopPropagation();
                });

                // Handle click on table cells with checkboxes
                $('#example').on('click', 'tbody td, thead th:first-child', function (e) {
                    $(this).parent().find('input[type="checkbox"]').trigger('click');
                });

                // Handle click on "Select all" control
                $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                    {#alert(this.checked);#}
                    if (this.checked) {
                        $('#example tbody input[type="checkbox"]:not(:checked)').trigger('click');
                    } else {
                        $('#example tbody input[type="checkbox"]:checked').trigger('click');
                    }

                    // Prevent click event from propagating to parent
                    e.stopPropagation();
                });

                // Handle table draw event
                table.on('draw', function () {
                    // Update state of "Select all" control
                    updateDataTableSelectAllCtrl(table);
                });


                $('.action').click(function () {

                    var checked = $('#example').find('input[name="check"]:checked').length;

                    if (!checked){
                        alert('Please select at least one record to proceed..!');
                        return false;
                    }

                    var favorite = [];
                    if ($(this).attr('id') == 'First Interview') {
                        $('#id_accept_student_model').modal();
                        return false;
                    }
                    else {
                        if (!checked)
                            alert('Please select at least one record to proceed..!');
                        else {
                            $.each($("input[name='check']:checked"), function () {

                                favorite.push($(this).val());
                            });

                            {#alert(JSON.stringify(favorite));#}
                            $("#check_ids").val(JSON.stringify(favorite));
                            $("#interview_type").val($(this).attr('id'));

                            $('#form_submit').submit()
                        }
                    }

                })

                $('#first_interview_save').click(function () {
                    var favorite = []
                    var emp_flag = false

                    $('.emp').css('border-color', '');

                        $('.emp').each(function () {
                            if($(this).val()==''){
                                emp_flag = true
                                $(this).css('border-color', 'red');
                            }
                        })

                        if(emp_flag){
                            return false
                        }

                        var checked = $('#example').find('input[name="check"]:checked').length;
                        if (!checked)
                            alert('Please select at least one record to proceed..!');
                        else {
                            $.each($("input[name='check']:checked"), function () {

                                favorite.push($(this).val());
                            });

                            {#alert(JSON.stringify(favorite));#}
                            $("#check_ids").val(JSON.stringify(favorite));
                            $("#interview_type").val('First Interview');

                            $("#time").val($('#first_time').val());
                            $("#venue").val($('#first_venue').val());
                            $("#date").val($('#first_date').val());

                            $('#form_submit').submit()
                        }
                })
            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Approving Applications </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Approving Applications</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <div class="row col-md-offset-3">
                    <form method="post" action="{% url 'partner:change_application_status' %}" id="form_submit">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <div class="">
                                <input type="text" hidden id="check_ids" name="check_ids">
                                <input type="text" hidden id="interview_type" name="interview_type">

                                <input type="text" hidden id="time" name="time">
                                <input type="text" hidden id="date" name="date">
                                <input type="text" hidden id="venue" name="venue">
                            </div>
                        </div>
                    </form>

                    <form method="post" action="{% url 'partner:filter_application_status' %}" id="form_sample_1">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <div class="">
                                <select autocomplete="off" class="form-control" data-live-search="true"
                                        id="application_status" name="application_status" required="required">
                                    {% if application_status %}
                                        <option style="display: none" value="{{ application_status }}"
                                                selected="selected">{{ application_status }}</option>
                                    {% else %}
                                        <option value="" style="display: none" selected="selected">Please Select
                                        </option>
                                    {% endif %}

                                    <option value="First Interview">First Interview</option>
                                    <option value="First Interview attended">First Interview attended</option>
                                    <option value="First Interview approval">First Interview approval</option>
                                    <option value="Psychometric Test">Psychometric Test</option>
                                    <option value="Second Interview attended">Second Interview attended</option>
                                    <option value="Second Interview approval">Second Interview approval</option>
                                    <option value="Admin approval">Admin approval</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn blue btn-block" id="go">Filter
                            </button>
                        </div>
                    </form>
                </div>
                <div class="form-body">
                    <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data"
                          action="{% url 'partner:change_application_status' %}">
                        {% csrf_token %}

                        <div class="row">
                            <div class="actions" style="margin-left: 150px">
                                <div class="btn-group">
                                    <a class="btn green-haze btn-outline btn-circle btn-sm"
                                       href="javascript:;"
                                       data-toggle="dropdown"
                                       data-hover="dropdown" data-close-others="true"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right" id="action">
                                        <li><a href="javascript:;" class="action" id="First Interview"> FirstInterview</a></li>
                                        <li><a href="javascript:;" class="action" id="First Interview attended">First Interview attended</a></li>
                                        <li><a href="javascript:;" class="action" id="First Interview approval">First Interview approval</a></li>
                                        <li><a href="javascript:;" class="action" id="Psychometric Test">Psychometric Test</a></li>
                                        <li><a href="javascript:;" class="action" id="Second Interview attended">Second Interview attended</a></li>
                                        <li><a href="javascript:;" class="action" id="Second Interview approval">Second Interview approval</a></li>
{#                                        <li><a href="javascript:;" class="action" id="Admin approval">Admin approval</a></li>#}
                                        <li><a href="javascript:;" class="action" id="Reject">Reject</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input hidden id="data_value" name="data_value">
                            <div class="">
                                <table name="data"
                                       class="data table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                                       id="example" role="grid" aria-describedby="sample_1_info">
                                    <thead>
                                    <tr>
                                        <th style="display: none"></th>
                                        <th>
                                            {% comment %}<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input name="select_all" value="1" type="checkbox">
{#                                                        <input name="select_all" type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />#}
                                                        <span></span>
                                                    </label>{% endcomment %}
                                            {#                                            <input name="select_all" value="1" type="checkbox">#}
                                            <input name="select_all" value="1" type="checkbox">

                                            {% comment %}<label>
                                                <input name="select_all" value="1" type="checkbox">
                                                <span></span>
                                            </label>{% endcomment %}
                                        </th>
                                        <th>Student Name</th>
                                        <th>1st</th>
                                        <th>1st Interview</th>
                                        <th>1st Interview Approval</th>
                                        <th>Test</th>
                                        <th>2nd Interview</th>
                                        <th>2nd Interview approval</th>
                                        <th>Admin</th>
                                    </tr>
                                    </thead>

                                    <tbody id="tbody">
                                    {% for rec in applicant_recs %}
                                        <tr id="item{{ forloop.counter }}" class="item">
                                            <td style="display: none">
                                                <input id="application_id" class="application_id" value="{{ rec.id }}">
                                            </td>

                                            <td>
                                                <input name="check" type="checkbox" class="checkboxes" value="{{ rec.id }}">
                                                {% comment %}<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">

                                                    <input type="checkbox" class="checkboxes" value="1">
                                                    <span></span>
                                                </label>{% endcomment %}
                                            </td>

                                            <td>
                                                <text><a {% if rec.second_interview_approval and not rec.admin_approval %} href="/partner/template_application_approval_details/{{ rec.id }}" {% else %} href="/partner/template_applicant_all_details/{{ rec.id }}" {% endif %}{% if rec.application_rejection %} style="color: darkred" {% endif %}>{{ rec.first_name|title }} {{ rec.last_name|title }}</a></text>
{#                                                <text><a href="/partner/template_applicant_all_details/{{ rec.id }}" {% if rec.application_rejection %} style="color: darkred" {% endif %}>{{ rec.first_name|title }} {{ rec.last_name|title }}</a>#}
                                                </text>
                                                {#                                            <text>{{ rec.first_name|title }} {{ rec.last_name|title }}</text>#}
                                            </td>

                                            <td>
                                                <input class="app class_detail" type="checkbox" name="first"
                                                       id="id_first"
                                                       {% if rec.first_interview == True %}checked{% endif %} disabled>
                                                {% comment %}<input hidden id="id_time">
                                            <input hidden id="id_date">
                                            <input hidden id="id_venue">{% endcomment %}
                                            </td>

                                            <td>
                                                <input class="app" type="checkbox"
                                                       name="first_interview_attend"
                                                       {% if rec.first_interview_attend == True %}checked{% endif %}
                                                       id="id_first_interview_attend" disabled>

                                                {% comment %}<input hidden id="id_first_attend_time">
                                            <input hidden id="id_first_attend_date">
                                            <input hidden id="id_first_attend_venue">{% endcomment %}
                                            </td>

                                            <td>
                                                <input class="app" type="checkbox" name="first_interview_approval"
                                                       {% if rec.first_interview_approval == True %}checked{% endif %}
                                                       id="id_first_interview_approval" disabled>
                                            </td>

                                            <td>
                                                <input class="app" type="checkbox" name="id_test" id="id_test"
                                                       {% if rec.psychometric_test == True %}checked{% endif %}
                                                       disabled>
                                            </td>

                                            <td>
                                                <input class="app" type="checkbox"
                                                       name="second_interview_attend"
                                                       {% if rec.second_interview_attend == True %}checked{% endif %}
                                                       id="id_second_interview_attend" disabled>

                                                {% comment %}<input hidden id="id_second_attend_time">
                                            <input hidden id="id_second_attend_date">
                                            <input hidden id="id_second_attend_venue">{% endcomment %}
                                            </td>

                                            <td>
                                                <input class="app" type="checkbox" name="second_interview_approval"
                                                       {% if rec.second_interview_approval == True %}checked{% endif %}
                                                       id="id_second_interview_approval" disabled>
                                            </td>

                                            <td>
                                                <input class="app class_admin" type="checkbox" name="admin"
                                                       id="id_admin"
                                                       {% if rec.admin_approval == True %}checked{% endif %}

                                                        {% if not user.is_super_admin %} disabled {% else %} {% endif %}
                                                       disabled>

                                                {% comment %}{% if user.is_super_admin %}
                                                {% if rec.admin_approval == True %}
                                                    <input type="number" title="Enter Scholarship Fee"
                                                           style="width: 50%" id="id_scholarship_fee"
                                                           name="scholarship_fee" class="id_scholarship_fee"
                                                           value="{{ rec.scholarship_fee }}">
                                                {% else %}
                                                    <input type="number" hidden title="Enter Scholarship Fee"
                                                           style="width: 50%" id="id_scholarship_fee"
                                                           name="scholarship_fee" class="id_scholarship_fee">
                                                {% endif %}
                                            {% endif %}{% endcomment %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            {% comment %}<div class="">
                            <div class="col-md-offset-8">
                                <button type="submit" class="btn green" id="save" style="">Save</button>
                            </div>
                        </div>{% endcomment %}
                        </div>

                        <div id="id_accept_student_model" class="modal fade" tabindex="-1" data-backdrop="static"
                             data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true"></button>
                                        <h4 class="modal-title">Interview Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="">
                                                <label class="col-md-7 control-label">Please Enter The Interview
                                                    Details.</label>
                                            </div>
                                            {#                                        <p> Please Enter The Interview Details. </p>#}
                                        </div>
                                        <br>
                                        <br>

                                        <div class="row">
                                            <div class="">
                                                <label class="col-md-2 control-label">Time:</label>
                                                <div class="col-md-3">
                                                    <input type="time" class="emp" id="first_time"> <br> <br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="">
                                                <label class="col-md-2 control-label">Date:</label>
                                                <div class="col-md-3">
                                                    <input type="date" class="emp" id="first_date"> <br> <br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="">
                                                <label class="col-md-2 control-label">Venue:</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="emp" id="first_venue"> <br> <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="cancel_model" data-dismiss="modal"
                                                class="btn dark btn-outline">Cancel
                                        </button>
                                        <button type="button" id="first_interview_save" data-dismiss="modal"
                                                class="btn green btn-outline">
                                            Ok
                                        </button>
                                        {#                                    <button type="button" id="okay" class="btn green">Ok</button>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
