{% load  i18n %}
<div id="id_delete_model" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="color: #2a015e; text-align: center"><b  >Delete Confirmation</b></h4>
            </div>
            <div class="modal-body">
                <p> {% trans 'Are you sure, you want to delete?' %} </p>
                <p> {% trans 'After delete you will not be able to access this record.' %} </p>

            </div>
            <div class="modal-footer">
                <button type="button" id="id_cancel_model" data-dismiss="modal" class="btn dark btn-outline">
                    Cancel
                </button>
                <button type="button" id="id_confirm_delete" class="btn red">Confirm</button>
            </div>
        </div>
    </div>
</div>