{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <!-- END HEAD -->
    <style type="text/css">

        body {
            padding: 40px 0;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
        }

        .grid > article {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        }

        .grid > article img {
            max-width: 100%;
        }

        .grid .text {
            padding: 20px;
        }


        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#status").Sswitch({});

                $("#id_filter_type").chosen();
                $("#id_filter_detail").chosen();


                $(document).on("change", "#id_filter_type", function (e) {
                    var id_filter_type = $(this).val();
                    var url = '/student/get_supervisor_from_filter/';
                    get_supervisor_from_filter(url, id_filter_type)

                });


                $(document).on("change", "#university_type", function (e) {
                    var university_type_id = $(this).val();
                    var url = '/student/get_university_from_type/';
                    get_university_from_university_type(url, university_type_id)
                })

                $(document).on("change", "#email", function (e) {
                    var email = $(this).val();
                    var user_id = $('#user_id').val()
                    var url = '/accounts/get_email_exists/';
                    get_email_exists_fun(url, email, user_id)
                })

                $(document).on("change", "#area_expertise", function (e) {
                    var university = $('#university').val();
                    var faculty = $('#faculty').val();
                    var program = $('#program').val();
                    var area_expertise = $(this).val();
                    var url = '/student/get_supervisor_details/';
                    get_supervisor_details(url, university, faculty, program, area_expertise)


                })


                $(document).on("change", "#university", function (e) {
                    $('#faculty').empty();
                    var account_type = 'Supervisor';
                    var university = $('#university').val();
                    $("#faculty").prop('required', false);
                    $("#program").prop('required', false);

                    if (account_type == 'Supervisor') {
                        $("#faculty").prop('required', true);
                        $("#program").prop('required', true);
                        var url = '/accounts/get_faculty_from_account_type/';
                        get_faculty_from_account_type(url, account_type, university)
                    }


                })

                $(document).on("change", "#faculty", function (e) {
                    var faculty_id = $(this).val();
                    var account_type = $('#id_account_type').val();
                    var university = $('#university').val();
                    $("#faculty").prop('required', true);
                    var url = '/accounts/get_program_from_faculty/';
                    get_program_from_faculty(url, account_type, faculty_id, university)
                })

                $(document).on("change", "#id_account_type", function (e) {
                    const permissions_list_url = "{% url 'masters:list_permissions' %}"
                    get_permissions_list(permissions_list_url)
                })

                function get_program_from_faculty(url, account_type, faculty_id, university) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            account_type: account_type,
                            faculty_id: faculty_id,
                            university: university,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            $('#program').empty();
                            $('#program').append(
                                '<option value="" >Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#program').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['program'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                $(document).on("change", "#id_account_type", function (e) {
                    var account_type = $(this).val();
                    var university = $('#university').val();

                    $("#faculty").prop('required', false);
                    $("#program").prop('required', false);
                    $("#supervisor_faculty").prop('required', false);
                    $("#supervisor_program").prop('required', false);

                    if (account_type == 'Faculty') {
                        $("#faculty").prop('required', true);
                        var url = '/accounts/get_faculty_from_account_type/';
                        get_faculty_from_account_type(url, account_type, university)
                    } else if (account_type == 'Program') {
                        $("#program").prop('required', true);
                        var url = '/accounts/get_program_from_account_type/';
                        get_program_from_account_type(url, account_type, university)

                    } else if (account_type == 'Supervisor') {
                        $("#supervisor_faculty").prop('required', true);
                        $("#supervisor_program").prop('required', true);
                        var url = '/accounts/get_faculty_from_account_type/';
                        get_faculty_from_supervisor(url, account_type, university)

                    } else {
                        $("#faculty").prop('required', false);
                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $("#program").prop('required', false);
                        $('#program').empty();
                        $('#program_div').hide();

                        $("#supervisor_faculty").prop('required', false);
                        $('#supervisor_faculty').empty();

                        $("#supervisor_program").prop('required', false);
                        $('#supervisor_program').empty();

                        $('#supervisor_facculty_program_div').hide();
                    }

                })


                function get_faculty_from_supervisor(url, account_type, university) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            account_type: account_type,
                            university: university,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#program').empty();
                            $('#program_div').hide();

                            $('#faculty').empty();
                            $('#facculty_div').hide();


                            $('#supervisor_faculty').empty();
                            $('#supervisor_facculty_program_div').show();

                            $('#supervisor_program').empty();
                            $('#supervisor_program').append(
                                '<option value="" >Please select</option>');

                            $('#supervisor_faculty').append(
                                '<option value="" >Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#supervisor_faculty').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['faculty'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                /*
                $("#staff_form").submit(function (e) {
                if ($('#university_exists').is(":visible")) {
                    return false;
                }
                })*/
                var password = document.getElementById("password")
                var confirm_password = document.getElementById("confirm_password");
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
            });

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            function get_supervisor_from_filter(url, id_filter_type) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        id_filter_type: id_filter_type,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#id_filter_detail').empty();
                        $('#id_filter_detail').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#id_filter_detail').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['name'] + '</option>')
                        }
                        $("#id_filter_detail").trigger("chosen:updated");
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_university_from_university_type(url, university_type_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university_type_id: university_type_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#university').empty();
                        $('#university').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#university').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['university_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_email_exists_fun(url, email, user_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        user_id: user_id,
                        email: email,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        var email_exists = data;
                        if (email_exists === true) {
                            $('#email').val('');
                            $('#email_exists').show();
                        } else {
                            $('#email_exists').hide();
                        }


                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_program_from_account_type(url, account_type, university) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        account_type: account_type,
                        university: university,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        $('#supervisor_faculty').empty();
                        $('#supervisor_program').empty();
                        $('#supervisor_facculty_program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $('#program').empty();
                        $('#program_div').show();
                        $('#program').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#program').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['program'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_supervisor_details(url, university, faculty, program, area_expertise) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university: university,
                        faculty: faculty,
                        program: program,
                        area_expertise: area_expertise,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        $('#supervisor').empty();
                        $('#supervisor').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#supervisor').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['supervisor'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_faculty_from_account_type(url, account_type, university) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        account_type: account_type,
                        university: university,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        $('#faculty').empty();
                        $('#facculty_div').show();
                        $('#faculty').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#faculty').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['faculty'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_university_exists(url, university, user_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        user_id: user_id,
                        university: university,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        var university_exists = data;
                        if (university_exists === true) {
                            $('#university_exists').show();
                        } else {
                            $('#university_exists').hide();
                        }


                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }
        }
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
    <script src="{% static 'admin/js/super_user_funcs.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'Add New Supervisor' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add New Supervisor </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:add_supervisor' application_obj.id %}"
                      id="supervisor_form"
                      class="form-horizontal"
                      method="GET" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="user_id" name="user_id" value="">
                    <input type="hidden" id="id_role" name="role" value="Supervisor">

                    <div class="form-body">

                        <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">


                            <div class="">
                                <label class="col-md-1 control-label">Type:</label>
                                <div class="col-md-2">
                                    <select id='id_filter_type' title="Select Type"
                                            name="filter_type"
                                            class="form-control chk">
                                        {% if query_filter_type %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="{{ query_filter_type }}">
                                                {{ query_filter_type }}
                                            </option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">
                                                Please Select
                                            </option>
                                        {% endif %}
                                        <option value="University">University</option>
                                        <option value="Faculty">Faculty</option>
                                        <option value="Program">Program</option>
                                        <option value="Area of Expertise">Area of Expertise</option>
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <div class="col-md-6">
                                    <select id='id_filter_detail' title="Select Filter"
                                            name="filter_detail"
                                            class="form-control chk">

                                        {% if filter_obj_dict %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="{{ filter_obj_dict.id }}">
                                                {{ filter_obj_dict.name }}
                                            </option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">
                                                Please Select
                                            </option>
                                        {% endif %}

                                        {% for rec in filter_list %}
                                            <option value='{{ rec.id }}'>{{ rec.name|default_if_none:"" }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>


                            <div class="">
                                <div class="col-md-2">
                                    <button type="submit" class="btn green" id="save_form" style="">Filter
                                    </button>

                                </div>
                            </div>


                        </div>
                        <br>


                    </div>
                </form>

            </div>
            {% if query_filter_type %}

                <div class="container" style="width: unset !important;">

                    <main class="grid">
                        {% for rec in supervisor_list %}
                            <article>
                                <div style="text-align: right">
                                <a href="{% url 'student:save_supervisor' rec.id %}" class="btn blue">Add <i class="fa fa-user-plus" aria-hidden="true"></i></a></div>
                                <div class="text">

                                    <h5><b>{{ rec.first_name|default_if_none:"" }}</b></h5>
                                    <p><i class="fa fa-building"></i> {{ rec.faculty.faculty_name|default_if_none:"" }}
                                    </p>
                                    <p><i class="fa fa-envelope"
                                          aria-hidden="true"></i> {{ rec.email|default_if_none:"" }}</p>
                                    <p><i class="fa fa-phone"
                                          aria-hidden="true"></i> {{ rec.contact|default_if_none:"" }}</p>
                                    <span><b>Area(s) of Expertise</b></span>
                                    {% for area_exp in rec.area_experties.all %}
                                        <br><span>{{ area_exp.experties|default_if_none:"" }}</span>
                                    {% endfor %}


                                </div>
                            </article>
                        {% endfor %}

                    </main>

                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}














