{% extends my_template %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {


                $(document).on("change", ".file-upload", function (e) {
                    readURL(this);
                });


            });


        }

        var readURL = function (input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'agents:dashboard' %}">HOME</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> {% trans 'UPDATE PROFILE' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% trans 'UPDATE PROFILE' %} </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'accounts:edit_agent' user_obj.id %}"
                      id="staff_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="user_id" name="user_id" value="{{ user_obj.id }}">

                    <div class="form-body">
                        <div class="row" style="margin-left: 15%">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 150px; height: 120px;">
                                     {% if attachment_obj.image %}
                                          <img class="profile-pic" style="width: 150px; height: 110px;"
                                         src="{{ attachment_obj.image.url }}" alt=""/>
                                     {% else %}

                                    <img class="profile-pic" style="width: 150px; height: 110px;"
                                         src="{% static 'images/no_image.jpg' %}" alt=""/>
                                    {% endif %}


                                </div>

                                <div>
                                    <input class="file-upload" type="file" name="photo" accept="image/jpeg,">

                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="row item_experience" id="item_experience_1">
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">AGENT ID:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter Agent ID" id="agent_id"
                                           style="font-weight: bold"
                                           value="{{ agent_obj.agent_id|default_if_none:"" }}"
                                           name="agent_id"
                                           class="form-control" disabled>


                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Email:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter Email" id="agent_email"
                                           value="{{ user_obj.email|default_if_none:"" }}"
                                           name="agent_email"
                                           class="form-control" required>


                                </div>
                            </div>


                        </div>
                        <br>


                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label">First Name:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter First Name" id="first_name"
                                           value="{{ user_obj.first_name|default_if_none:"" }}"
                                           name="first_name"
                                           class="form-control" required>


                                </div>
                            </div>


                            <div class="">
                                <label class="col-md-2 control-label">Last Name:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter Last Name" id="last_name"
                                           value="{{ user_obj.last_name|default_if_none:"" }}"
                                           name="last_name"
                                           class="form-control" required>


                                </div>
                            </div>


                        </div>


                    </div>


            </div>
            <hr>

            <div class="row">
                <div class="col-md-offset-5 col-md-7">
                    <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                            onclick="window.location='{% url "agents:dashboard" %}'">{% trans 'Cancel' %}
                    </button>


                    <button type="submit" class="btn green"
                            id="save">{% trans 'Save' %}</button>
                </div>
            </div>
        <br><br>

        </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}














