{% extends "template_agent_base.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
{% endblock %}

{% block ScriptBlock %}

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">{% trans 'HOME' %}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>{% trans 'DASHBOARD' %}</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Dashboard</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                 <h3 style="color: darkred; text-align: center;font-size: 21px"><b>{% trans 'Welcome' %}<span
                        style="color: #0c203a"> {{ request.user.first_name|title }} {{ request.user.last_name|title }}</span>. <br><br>




                </b></h3>
            </div>
        </div>
        <br><br>

    </div>
{% endblock %}
