{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#status").Sswitch({});


                $(document).on("change", "#university_type", function (e) {
                var university_type_id = $(this).val();
                var url = '/student/get_university_from_type/';
                get_university_from_university_type(url, university_type_id)
            })

                  $(document).on("change", "#email", function (e) {
                var email = $(this).val();
                 var user_id = $('#user_id').val()
                var url = '/accounts/get_email_exists/';
                get_email_exists_fun(url, email,user_id)
            })

                   $(document).on("change", "#university", function (e) {

                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $('#program').empty();
                        $('#program_div').hide();

                         $('#supervisor_faculty').empty();
                         $('#supervisor_program').empty();
                        $('#supervisor_facculty_program_div').hide();

                        $('#id_account_type').empty();
                        $('#id_account_type').append(
                            '<option value="" >Please select</option>');
                        $('#id_account_type').append(
                            '<option value="Administrator" >Admission Unit</option>');
                        $('#id_account_type').append(
                            '<option value="Faculty" >Faculty</option>');
                        $('#id_account_type').append(
                            '<option value="Program" >Program</option>');

                        $('#id_account_type').append(
                            '<option value="Supervisor" >Supervisor</option>');






                     /*
                var university = $(this).val();
                 var user_id = $('#user_id').val()
                var url = '/accounts/get_university_exists/';
                get_university_exists(url, university,user_id)*/
            })

                  $(document).on("change", "#supervisor_faculty", function (e) {
                    var faculty_id = $(this).val();
                    var account_type = $('#id_account_type').val();
                    var university = $('#university').val();
                    $("#supervisor_faculty").prop('required',true);
                    var url = '/accounts/get_program_from_faculty/';
                    get_program_from_faculty(url, account_type,faculty_id,university)
            })

                function get_program_from_faculty(url, account_type,faculty_id,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    faculty_id: faculty_id,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                        $('#supervisor_program').empty();

                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $('#program').empty();
                        $('#program_div').hide();

                        $('#supervisor_program').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#supervisor_program').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['program'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }



                $(document).on("change", "#id_account_type", function (e) {
                var account_type = $(this).val();
                var university = $('#university').val();

                $("#faculty").prop('required',false);
                 $("#program").prop('required',false);
                 $("#supervisor_faculty").prop('required',false);
                 $("#supervisor_program").prop('required',false);

                if(account_type == 'Faculty'){
                    $("#faculty").prop('required',true);
                    var url = '/accounts/get_faculty_from_account_type/';
                    get_faculty_from_account_type(url, account_type,university)
                }
                else if(account_type == 'Program'){
                    $("#program").prop('required',true);
                    var url = '/accounts/get_program_from_account_type/';
                    get_program_from_account_type(url, account_type,university)

                    }
                else if(account_type == 'Supervisor'){
                    $("#supervisor_faculty").prop('required',true);
                    $("#supervisor_program").prop('required',true);
                    var url = '/accounts/get_faculty_from_account_type/';
                    get_faculty_from_supervisor(url, account_type,university)

                    }
                else{
                     $("#faculty").prop('required',false);
                     $('#faculty').empty();
                     $('#facculty_div').hide();

                     $("#program").prop('required',false);
                     $('#program').empty();
                     $('#program_div').hide();


                      $("#supervisor_faculty").prop('required',false);
                     $('#supervisor_faculty').empty();

                     $("#supervisor_program").prop('required',false);
                     $('#supervisor_program').empty();



                     $('#supervisor_facculty_program_div').hide();
                }

            })

                function get_faculty_from_supervisor(url, account_type,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                        $('#program').empty();
                        $('#program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').hide();


                        $('#supervisor_faculty').empty();
                        $('#supervisor_facculty_program_div').show();


                        $('#supervisor_program').empty();
                        $('#supervisor_program').append(
                            '<option value="" >Please select</option>');


                        $('#supervisor_faculty').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#supervisor_faculty').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['faculty'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }


                /*
                $("#staff_form").submit(function (e) {

                if ($('#university_exists').is(":visible")) {
                    return false;
                }


            })*/


                var password = document.getElementById("password")
                var confirm_password = document.getElementById("confirm_password");
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;


            });

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            function get_university_from_university_type(url, university_type_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university_type_id: university_type_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#university').empty();
                        $('#university').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#university').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['university_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

             function get_email_exists_fun(url, email,user_id) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    user_id: user_id,
                    email: email,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    var email_exists = data;
                    if(email_exists === true){
                        $('#email').val('');
                        $('#email_exists').show();
                    }
                    else{
                        $('#email_exists').hide();
                    }


                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }

        function get_program_from_account_type(url, account_type,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                        $('#supervisor_faculty').empty();
                        $('#supervisor_program').empty();
                        $('#supervisor_facculty_program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $('#program').empty();
                        $('#program_div').show();
                        $('#program').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#program').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['program'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }

          function get_faculty_from_account_type(url, account_type,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                        $('#supervisor_faculty').empty();
                        $('#supervisor_program').empty();
                        $('#supervisor_facculty_program_div').hide();

                        $('#program').empty();
                        $('#program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').show();
                        $('#faculty').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#faculty').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['faculty'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }

            function get_university_exists(url, university,user_id) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    user_id: user_id,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    var university_exists = data;
                    if(university_exists === true){
                        $('#university_exists').show();
                    }
                    else{
                        $('#university_exists').hide();
                    }


                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }


        }


        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'User Settings' %}</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> {% trans 'Edit Agent' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Edit Agent </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'accounts:update_agent' user_obj.id %}"
                      id="staff_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <input type="hidden" id="user_id" name="user_id" value="">

                    <div class="form-body">

                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Email' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Email" id="email"
                                               value="{{ user_obj.email|default_if_none:"" }}"
                                               name="email"
                                               class="form-control" required>
                                         <span style="color: red;display: none" id="email_exists">Email already exists</span>


                                    </div>
                                </div>

                            <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Country' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='country' title="Select Country"
                                                name="country"
                                                class="form-control" required>
                                            {% if user_obj.address.country %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.address.country.id|default_if_none:"" }}"> {{ user_obj.address.country.country_name|default_if_none:"" }}</option>
                                                <option value=""> Please Select</option>
                                            {% else %}
                                                <option selected="selected" value="" disabled> Please Select</option>
                                            {% endif %}

                                            {% for rec in country_list %}
                                                <option value="{{ rec.id }}">{{ rec.country_name|title }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>




                            </div>
                            <br>
                        <div class="row">
                            <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Role' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select name="role" class="form-control" required id="id_account_type" readonly>


                                        <option selected value="Agent">AGENT</option>
                                        </select>
                                    </div>
                                </div>




                        </div>
                        <br>



                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Password' %}:</label>
                                    <div class="col-md-3">
                                        <input type="password" title="Enter Password"
                                               id="password" name="password"
                                               class="form-control" >
                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Re-Password' %}:</label>
                                    <div class="col-md-3">
                                        <input type="password" title="Enter Re-Password"
                                               id="confirm_password" name="confirm_password"
                                               class="form-control" >
                                    </div>
                                </div>


                            </div>

                            <br>


                            <div class="row">



                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Office Details' %}:

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control "  id="address"
                                                  name="address">{{ user_obj.address.residential_address|default_if_none:"" }}</textarea>

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Status' %}:</label>
                                    <div class="col-md-3">
                                        {% if user_obj.is_active %}
                                            <input type="checkbox" id="status" name="status" checked>
                                        {% else %}
                                        <input type="checkbox" id="status" name="status" >
                                        {% endif %}
                                    </div>
                                </div>


                            </div>



                        </div>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "accounts:agent_settings" %}'">
                                    Back
                                </button>

                                <button type="submit" class="btn green" id="save_form" style="">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}














