{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">


    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        .s-switch input[type='checkbox'] {
            display: none
        }

        .s-switch {
            width: 62px;
            height: 32px;
            z-index: 0;
            margin: 0;
            padding: 0;
            appearance: none;
            border: none;
            cursor: pointer;
            position: relative;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:before {
            content: ' ';
            background: #D9534F !important;
            position: absolute;
            left: 1px;
            top: 1px;
            width: 60px;
            height: 30px;
            background: #FFFFFF;
            z-index: 1;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }

        .s-switch:after {
            content: ' ';
            height: 29px;
            width: 29px;
            border-radius: 28px;
            z-index: 2;
            background: #FFFFFF;
            position: absolute;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
            top: 1px;
            left: 3px;
            -webkit-box-shadow: 0 2px 5px #999999;
            box-shadow: 0 2px 5px #999999;
        }

        .s-switch-on:before {
            background: #4DAF48 !important;
        }

        .s-switch-on:after {
            left: 31px !important;
        }

        .s-switch-readonly, .s-switch-disabled {
            opacity: 0.8;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#status").Sswitch({});

                $(document).on("change", "#university_type", function (e) {
                    var university_type_id = $(this).val();
                    console.log("university_type_id"+university_type_id);
                    var url = '/student/get_university_from_type/';
                    get_university_from_university_type(url, university_type_id)
                })

                $(document).on("change", "#email", function (e) {
                    var email = $(this).val();
                    var user_id = $('#user_id').val()
                    var url = '/accounts/get_email_exists/';
                    get_email_exists_fun(url, email,user_id)
                })

                $(document).on("change", "#university", function (e) {

                    $('#faculty').empty();
                    $('#facculty_div').hide();

                    $('#program').empty();
                    $('#program_div').hide();

                        $('#supervisor_faculty').empty();
                        $('#supervisor_program').empty();
                    $('#supervisor_facculty_program_div').hide();

                    $('#id_account_type').empty();
                    $('#id_account_type').append(
                        '<option value="" >Please select</option>');
                    $('#id_account_type').append(
                        '<option value="Administrator" >Admission Unit</option>');
                    $('#id_account_type').append(
                        '<option value="Faculty" >Faculty</option>');
                    $('#id_account_type').append(
                        '<option value="Program" >Program</option>');
                    $('#id_account_type').append(
                        '<option value="Supervisor" >Supervisor</option>');

                    /*
                var university = $(this).val();
                 var user_id = $('#user_id').val()
                var url = '/accounts/get_university_exists/';
                get_university_exists(url, university,user_id)
                */
                })

                $(document).on("change", "#supervisor_faculty", function (e) {
                    var faculty_id = $(this).val();
                    var account_type = $('#id_account_type').val();
                    var university = $('#university').val();
                    $("#supervisor_faculty").prop('required',true);
                    var url = '/accounts/get_program_from_faculty/';
                    get_program_from_faculty(url, account_type,faculty_id,university)
                })
                // $(document).on("change", "#id_account_type", function (e) {
                    const permissions_list_url = "{% url 'masters:list_permissions' %}"
                    const permission_list = {{user_obj.permission_list | safe}};
                    get_permissions_list(permissions_list_url, permission_list)
                // })
            function get_program_from_faculty(url, account_type,faculty_id,university) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        account_type: account_type,
                        faculty_id: faculty_id,
                        university: university,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        $('#supervisor_program').empty();

                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $('#program').empty();
                        $('#program_div').hide();

                        $('#supervisor_program').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#supervisor_program').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['program'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

                 $(document).on("change", "#id_account_type", function (e) {
                var account_type = $(this).val();
                var university = $('#university').val();

                 $("#faculty").prop('required',false);
                 $("#program").prop('required',false);
                 $("#supervisor_faculty").prop('required',false);
                 $("#supervisor_program").prop('required',false);


                if(account_type == 'Faculty'){
                    $("#faculty").prop('required',true);
                    var url = '/accounts/get_faculty_from_account_type/';
                    get_faculty_from_account_type(url, account_type,university)
                }
                else if(account_type == 'Program'){
                    $("#program").prop('required',true);
                    var url = '/accounts/get_program_from_account_type/';
                    get_program_from_account_type(url, account_type,university)

                    }
                 else if(account_type == 'Supervisor'){
                    $("#supervisor_faculty").prop('required',true);
                    $("#supervisor_program").prop('required',true);
                    var url = '/accounts/get_faculty_from_account_type/';
                    get_faculty_from_supervisor(url, account_type,university)

                    }
                else{
                     $("#faculty").prop('required',false);
                     $('#faculty').empty();
                     $('#facculty_div').hide();

                     $("#program").prop('required',false);
                     $('#program').empty();
                     $('#program_div').hide();

                     $("#supervisor_faculty").prop('required',false);
                     $('#supervisor_faculty').empty();

                     $("#supervisor_program").prop('required',false);
                     $('#supervisor_program').empty();



                     $('#supervisor_facculty_program_div').hide();
                }

            })

                 function get_faculty_from_supervisor(url, account_type,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {

                        $('#program').empty();
                        $('#program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').hide();


                        $('#supervisor_faculty').empty();
                        $('#supervisor_facculty_program_div').show();


                        $('#supervisor_program').empty();
                        $('#supervisor_program').append(
                            '<option value="" >Please select</option>');


                        $('#supervisor_faculty').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#supervisor_faculty').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['faculty'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }


                $("#staff_form").submit(function (e) {

                if ($('#university_exists').is(":visible")) {
                    return false;
                }

                var rowCount = $(".district").length;
                $('#acceptance_count').val(rowCount);

            })

                 function get_faculty_from_account_type(url, account_type,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                     $('#supervisor_faculty').empty();
                        $('#supervisor_program').empty();
                        $('#supervisor_facculty_program_div').hide();


                       $('#program').empty();
                        $('#program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').show();
                        $('#faculty').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#faculty').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['faculty'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }

        function get_program_from_account_type(url, account_type,university) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    account_type: account_type,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {


                        $('#supervisor_faculty').empty();
                        $('#supervisor_program').empty();
                        $('#supervisor_facculty_program_div').hide();

                        $('#faculty').empty();
                        $('#facculty_div').hide();

                        $('#program').empty();
                        $('#program_div').show();
                        $('#program').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#program').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['program'] + '</option>')
                        }
                    },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }


                var password = document.getElementById("password")
                var confirm_password = document.getElementById("confirm_password");
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;


            });

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            function get_university_exists(url, university,user_id) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    user_id: user_id,
                    university: university,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    var university_exists = data;
                    if(university_exists === true){
                        $('#university_exists').show();
                    }
                    else{
                        $('#university_exists').hide();
                    }


                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }

             function get_email_exists_fun(url, email,user_id) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    user_id: user_id,
                    email: email,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    var email_exists = data;
                    if(email_exists === true){
                        $('#email').val('');
                        $('#email_exists').show();
                    }
                    else{
                        $('#email_exists').hide();
                    }


                },
                error: function (xhr, msg, err) {
                    alert(xhr.responseJSON.error);
                }
            });
        }

           function get_university_from_university_type(url, university_type_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university_type_id: university_type_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#university').empty();
                        $('#university').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#university').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['university_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }


        }


        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
    <script src="{% static 'admin/js/super_user_funcs.js' %}" type="text/javascript"></script>

{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Master Settings </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>User Settings</span>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> {% trans 'Edit User' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% trans 'Edit User' %} </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'accounts:edit_staff' user_obj.id %}"
                      id="staff_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                 <input type="hidden" id="user_id" name="user_id" value="{{ user_obj.id }}">

                    <div class="form-body">

                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">

                                <div class="row">
{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">University Type: <span#}
{#                                            style="color: red">*</span></label>#}
{#                                    {% if user_obj.university %}#}
{#                                        <div class="col-md-3">#}
{#                                            {% if  user_obj.university.is_partner_university == False %}#}
{#                                                <input class="current" type="radio" checked name="university_type"#}
{#                                                       id="university_main"#}
{#                                                       value="Main">#}
{#                                                <span style="padding:inherit">Main</span>&nbsp;&nbsp;#}
{#                                                <input class="current" type="radio" name="university_type"#}
{#                                                       value="Partner"#}
{#                                                       id="university_partner">#}
{#                                                <span style="padding:inherit">International</span>#}
{#                                            {% else %}#}
{#                                                <input class="current" type="radio" name="university_type"#}
{#                                                       id="university_main"#}
{#                                                       value="Main">#}
{#                                                <span style="padding:inherit">Main</span>&nbsp;&nbsp;#}
{#                                                <input class="current" type="radio" checked name="university_type"#}
{#                                                       value="Partner"#}
{#                                                       id="university_partner">#}
{#                                                <span style="padding:inherit">International</span>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="col-md-3">#}
{#                                            <input class="current" type="radio" checked name="university_type"#}
{#                                                   id="university_main"#}
{#                                                   value="Main">#}
{#                                            <span style="padding:inherit">Main</span>&nbsp;&nbsp;#}
{#                                            <input class="current" type="radio" name="university_type" value="Partner"#}
{#                                                   id="university_partner">#}
{#                                            <span style="padding:inherit">International</span>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                </div>#}

                                <div class="">
                                    <label class="col-md-2 control-label">University Type:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='university_type' title="Select University Type"
                                                name="university_type"
                                                class="form-control" required>
                                            {% if user_obj.university.university_type %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.university.university_type.id|default_if_none:"" }}"> {{ user_obj.university.university_type.university_type|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in user_obj.university_type_recs %}
                                                <option value="{{ rec.id }}">{{ rec.university_type|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">University:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='university' title="Select University"
                                                name="university"
                                                class="form-control" required>

                                            {% if user_obj.university %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.university.id|default_if_none:"" }}"> {{ user_obj.university.university_name|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}

                                            {% for rec in user_obj.university_recs %}
                                                <option value="{{ rec.id }}">{{ rec.university_name|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    <span style="color: red;display: none" id="university_exists">University already exists</span>
                                    </div>
                                </div>


                            </div>
                            <br>


{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">First Name:<span#}
{#                                            style="color: red">*</span></label>#}
{#                                    <div class="col-md-3">#}
{#                                        <input type="text" title="Enter First Name" id="first_name"#}
{#                                               value="{{ user_obj.first_name|default_if_none:"" }}"#}
{#                                               name="first_name"#}
{#                                               class="form-control" required>#}
{##}
{##}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="">#}
{#                                    <label class="col-md-2 control-label">Last Name:<span#}
{#                                            style="color: red">*</span></label>#}
{#                                    <div class="col-md-3">#}
{#                                        <input type="text" title="Enter Last Name" id="last_name"#}
{#                                               value="{{ user_obj.last_name|default_if_none:"" }}"#}
{#                                               name="last_name"#}
{#                                               class="form-control" required>#}
{##}
{##}
{#                                    </div>#}
{#                                </div>#}


                            </div>

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">Email:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Email" id="email"
                                               value="{{ user_obj.email|default_if_none:"" }}"
                                               name="email"
                                               class="form-control" required>

                                        <span style="color: red;display: none" id="email_exists">Email already exists</span>


                                    </div>
                                </div>

                            <div class="">
                                    <label class="col-md-2 control-label">Country:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='country' title="Select Country"
                                                name="country"
                                                class="form-control" required>
                                            {% if user_obj.country %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.country|default_if_none:"" }}"> {{ user_obj.country_name|title }}</option>
                                                <option value="" disabled> Please Select</option>
                                            {% else %}
                                                <option selected="selected" value="" disabled> Please Select</option>
                                            {% endif %}

                                            {% for rec in country_list %}
                                                <option value="{{ rec.id }}">{{ rec.country_name|title }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>




                            </div>
                            <br>
                        <div class="row">
                            <div class="">
                                    <label class="col-md-2 control-label">Role:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select name="role" class="form-control" required id="id_account_type" >
                                            {% if user_obj.role %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.role|default_if_none:"" }}"> {% if user_obj.role == 'Administrator' %}Admission Unit{% else %}{{ user_obj.role|default_if_none:"" }}{% endif %}</option>
                                                <option value="" disabled> Please Select</option>
                                            {% else %}
                                                <option selected="selected" disabled value=""> Please Select</option>
                                            {% endif %}

{#                                            <option value="Administrator">Administrator</option>#}
                                            <option value="Administrator">Admission Unit</option>
                                         <option value="Faculty">Faculty</option>
                                         <option value="Program">Program</option>
                                         <option value="Supervisor">Supervisor</option>
{#                                            <option value="Dean">Dean</option>#}
{#                                            <option value="Deputy Dean">Deputy Dean</option>#}
{#                                            <option value="Head">Head</option>#}
{#                                            <option value="Registrar">Registrar</option>#}
{#                                            <option value="Accountant">Accountant</option>#}
{#                                            <option value="Vice Chancellor">Vice Chancellor</option>#}
{#                                            <option value="Deputy Vice Chancellor">Deputy Vice Chancellor</option>#}
                                        </select>
                                    </div>
                                </div>

                        <div class=""  id="facculty_div" {% if user_obj.is_faculty == True %} style="display: block" {% else %} style="display: none" {% endif %}>
                                    <label class="col-md-2 control-label">{% trans 'Faculty' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select name="faculty" class="form-control" id="faculty" >
                                            {% if user_obj.faculty %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.faculty_id|default_if_none:"" }}"> {{ user_obj.faculty|default_if_none:"" }}</option>
                                                <option value="" disabled> Please Select</option>
                                            {% else %}
                                                <option selected="selected" value="" disabled> Please Select</option>
                                            {% endif %}

                                            {% for rec in user_obj.faculty_list %}
                                                <option value="{{ rec.id }}">{{ rec.faculty|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>


                        <div class=""  id="program_div" {% if user_obj.is_program == True %} style="display: block" {% else %} style="display: none" {% endif %}>
                                    <label class="col-md-2 control-label">{% trans 'Program' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select name="program" class="form-control" id="program" >
                                            {% if user_obj.program %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.program_id|default_if_none:"" }}"> {{ user_obj.program|default_if_none:"" }}</option>
                                                <option value="" disabled> Please Select</option>
                                            {% else %}
                                                <option selected="selected" value="" disabled> Please Select</option>
                                            {% endif %}

                                            {% for rec in user_obj.program_list %}
                                                <option value="{{ rec.id }}">{{ rec.program|default_if_none:"" }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="" id="permissions_div">
                                <label class="col-md-2 control-label">{% trans 'Permissions' %}:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <select style="height: 200px" multiple name="permissions" class="form-control" id="permissions" >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" id="supervisor_facculty_program_div" {% if user_obj.is_supervisor == True %} style="display: block" {% else %} style="display: none" {% endif %}>
                             <div class="" >
                                    <label class="col-md-2 control-label">{% trans 'Faculty' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select name="supervisor_faculty" class="form-control" id="supervisor_faculty" >

                                            {% if user_obj.faculty %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.faculty_id|default_if_none:"" }}"> {{ user_obj.faculty|default_if_none:"" }}</option>
                                                <option value="" disabled> Please Select</option>
                                            {% else %}
                                                <option selected="selected" value="" disabled> Please Select</option>
                                            {% endif %}

                                            {% for rec in user_obj.supervisor_faculty_list %}
                                                <option value="{{ rec.id }}">{{ rec.faculty|default_if_none:"" }}</option>
                                            {% endfor %}


                                        </select>
                                    </div>
                                </div>

                            <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Program' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select name="supervisor_program" class="form-control" id="supervisor_program" >
                                             {% if user_obj.program %}
                                                <option style="display:none;" selected="selected"
                                                        value="{{ user_obj.program_id|default_if_none:"" }}"> {{ user_obj.program|default_if_none:"" }}</option>
                                                <option value="" disabled> Please Select</option>
                                            {% else %}
                                                <option selected="selected" value="" disabled> Please Select</option>
                                            {% endif %}

                                            {% for rec in user_obj.supervisor_program_list %}
                                                <option value="{{ rec.id }}">{{ rec.program|default_if_none:"" }}</option>
                                            {% endfor %}


                                        </select>
                                    </div>
                                </div>

                        </div>
                        <br>

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">Password:</label>
                                    <div class="col-md-3">
                                        <input type="password" title="Enter Password"
                                               id="password" name="password"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">Re-Password:</label>
                                    <div class="col-md-3">
                                        <input type="password" title="Enter Re-Password"
                                               id="confirm_password" name="confirm_password"
                                               class="form-control">
                                    </div>
                                </div>


                            </div>

                            <br>


                            <div class="row">



                                <div class="">
                                    <label class="col-md-2 control-label">Office Details:

                                    </label>
                                    <div class="col-md-3">
                                        <textarea rows="2" class="form-control "  id="address"
                                                  name="address">{{ user_obj.residential_address|default_if_none:"" }}</textarea>

                                    </div>
                                </div>

                                 <div class="">
                                    <label class="col-md-2 control-label">Status:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        {% if user_obj.status == True %}
                                            <input type="checkbox" id="status" name="status" checked>
                                        {% else %}
                                            <input type="checkbox" id="status" name="status">
                                        {% endif %}

                                    </div>
                                </div>


                            </div>

{#                            <div class="portlet-title">#}
{#                                <div class="caption">#}
{#                                    <i class="icon-settings font-red"></i>#}
{#                                    <span class="caption-subject font-red sbold uppercase">User Privilges</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <br>#}

{#                            <div class="row" style="margin-left:100px;margin-right:170px;">#}
{##}
{#                                <ul class="tabs" style="font-size:18px;">#}
{#                                    <li class="active" rel="tab1">System Settings</li>#}
{#                                    <li rel="tab2">User Settings</li>#}
{#                                    <li rel="tab3">University Settings</li>#}
{#                                    <li rel="tab4">Academic Settings</li>#}
{#                                    <li rel="tab5">Module Settings</li>#}
{#                                </ul>#}
{#                                <div class="tab_container" style="font-size:15px;">#}
{#                                    <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>#}
{#                                    <div id="tab1" class="tab_content">#}
{#                                        {% for rec in user_obj.system_settings_list %}#}
{#                                            {% if forloop.counter == 6 %}#}
{#                                                <br><br>#}
{#                                            {% endif %}#}
{#                                            {% if forloop.counter == 10 %}#}
{#                                                <br><br>#}
{#                                            {% endif %}#}
{#                                            {% if rec in user_obj.permission_list %}#}
{#                                                <label class="checkbox-inline"><input checked type="checkbox"#}
{#                                                                                      value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% else %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                    <!-- #tab1 -->#}
{#                                    <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>#}
{#                                    <div id="tab2" class="tab_content">#}
{#                                        {% for rec in user_obj.user_settings_list %}#}
{#                                            {% if rec in user_obj.permission_list %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" checked#}
{#                                                                                      value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% else %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{##}
{#                                    </div>#}
{#                                    <!-- #tab2 -->#}
{#                                    <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>#}
{#                                    <div id="tab3" class="tab_content">#}
{#                                        {% for rec in user_obj.university_settings_list %}#}
{#                                            {% if forloop.counter == 5 %}#}
{#                                                <br><br>#}
{#                                            {% endif %}#}
{#                                            {% if rec in user_obj.permission_list %}#}
{#                                                <label class="checkbox-inline"><input checked type="checkbox"#}
{#                                                                                      value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% else %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{##}
{#                                    </div>#}
{#                                    <!-- #tab3 -->#}
{#                                    <h3 class="tab_drawer_heading" rel="tab4">Tab 4</h3>#}
{#                                    <div id="tab4" class="tab_content">#}
{#                                        {% for rec in user_obj.academic_settings_list %}#}
{#                                            {% if rec in user_obj.permission_list %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" checked#}
{#                                                                                      value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% else %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                    <!-- #tab4 -->#}
{#                                    <h3 class="tab_drawer_heading" rel="tab5">Tab 5</h3>#}
{#                                    <div id="tab5" class="tab_content">#}
{#                                        {% for rec in user_obj.module_settings_list %}#}
{#                                            {% if rec in user_obj.permission_list %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" checked#}
{#                                                                                      value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% else %}#}
{#                                                <label class="checkbox-inline"><input type="checkbox" value="{{ rec }}"#}
{#                                                                                      name="checks[]">{{ rec }}</label>#}
{#                                            {% endif %}#}
{##}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                    <!-- #tab5 -->#}
{#                                </div>#}
{#                                <!-- .tab_container -->#}
{#                            </div>#}


                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                    onclick="window.location='{% url "accounts:staff_settings" %}'">
                                Back
                            </button>

                            <button type="submit" class="btn green" id="save_form" style="">Save
                            </button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}














