{% load  i18n %}
{% block content %}
    {% load staticfiles %}
    <!DOCTYPE html>

    <html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <!-- *******  To remove underline from login ********* -->
        <style>
            #log {
                clear: both;
                border: 0;
                /* border-bottom: 1px solid #eee; */
                padding: 25px 30px;
                margin-left: -30px;
                margin-right: -30px;
            }
        </style>
        <meta charset="utf-8"/>
        <title> Online Admission | User Login</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
              type="text/css"/>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'assets/global/css/components.css' %}" rel="stylesheet" id="style_components"
              type="text/css"/>
        <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'assets/pages/css/login.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="{% static 'images/logo.ico' %}"/>


        <!--
                <script src="https://global.localizecdn.com/localize.js"></script>
        <script>!function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","getSourceLanguage","detectLanguage","getAvailableLanguages","untranslatePage","bootstrap","prefetch","on","off","hideWidget","showWidget"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);</script>

        <script>
          Localize.initialize({
            key: '2059d20d75a09',
            rememberLanguage: true,
          });
        </script>-->


    </head>
    <!-- END HEAD -->

    <body class=" login">
    {#    <br>#}
    {#    <div class="" style="float: right">#}
    {#        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
    {#            <input name="next" type="hidden" value="{{ redirect_to }}">#}
    {#            <select name="language" class="form-control" id="exampleFormControlSelect1"#}
    {#                    onchange="this.form.submit()">#}
    {#                {% get_current_language as LANGUAGE_CODE %}#}
    {#                {% get_available_languages as LANGUAGES %}#}
    {#                {% get_language_info_list for LANGUAGES as languages %}#}
    {#                {% for language in languages %}#}
    {#                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>#}
    {#                        {{ language.name_local }}#}
    {#                                    {{ language.name_local }} {{ language.code }}#}
    {#                    </option>#}
    {#                {% endfor %}#}
    {#            </select>#}
    {#        </form>#}
    {##}
    {##}
    {#    </div>#}


    <!-- BEGIN LOGO -->
    <div class="logo" style="margin: 40px; padding: 0px;color: #262668;">
        {% if is_tanseeq_student %}
            <img src="{% static 'images/ye-300x70.webp' %}" alt="" widtn="150px" height="60px;"/>
        {% else %}
            <img src="{% static 'images/university_logo.png' %}" alt="" widtn="150px" height="60px;"/>
        {% endif %}
        <h1 style="font-size:35px;font-weight: bold;">{% trans 'Online Admission' %}</h1>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" style="border: solid {% if is_tanseeq_student %}#9E7205;{% else %}#262668;{% endif %}">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" method="post" action="{% url 'accounts:user_signin' %}">
            {% csrf_token %}

            {% if is_agent %}
                <input type="hidden" name="role" value="Agent" class="form-control"/>
            {% elif is_tanseeq_student %}
                <input type="hidden" name="role" value="Tanseeq Student" class="form-control"/>
            {% else %}
                <input type="hidden" name="role" value="Student" class="form-control"/>
            {% endif %}

            <h3 class="form-title font" style="color: #0a001f;">{% trans 'Sign In' %}</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>


                <span>{% trans 'Enter valid Email and Password.' %} </span>
            </div>
            {% if context1 %}
                <div class="alert alert-danger" role="alert">{{ context1 }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endif %}

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </div>
            {% endfor %}


            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                {{ form.username }}</div>
            <div class="form-group"><br>
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                {{ form.password }}</div>
            <div class="form-actions" id="log">
                <button type="submit" style="background-color: {% if is_tanseeq_student %}#9E7205;{% else %}#262668;{% endif %};color: aliceblue"
                        class="btn uppercase">{% trans 'Login' %}</button>
                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1"/>{% trans 'Remember' %}
                    <span></span>
                </label>
                {#                <a href="/password_reset/recover/" id="forget-password" class="forget-password">{% trans 'Forgot Password?' %}</a>#}
            </div>
            {% if not is_agent %}
                <div class="create-account" style="background-color: {% if is_tanseeq_student %}#9E7205;{% else %}#262668;{% endif %}">

                    <p>
                        <a href="javascript:;" id="register-btn" class="uppercase">{% trans 'Create an account' %}</a>
                    </p>

                </div>
            {% endif %}

        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="{% url 'accounts:user_signup' %}" method="post">{% csrf_token %}


            <h3 class="font" style="color: #0a001f;">Sign Up</h3>
            <p class="hint">{% trans 'Enter your personal details below:' %}</p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">First Name</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="{% trans 'First Name' %}"
                       name="first_name"
                       required/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="{% trans 'Last Name' %}"
                       name="last_name"
                       required/></div>
            {#                <div class="form-group">#}
            {#                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->#}
            {#                    <label class="control-label visible-ie8 visible-ie9">Email</label>#}
            {#                    <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" /> </div>#}
            {#                <div class="form-group">#}
            {#                    <label class="control-label visible-ie8 visible-ie9">City/Town</label>#}
            {#                    <input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city" /> </div>#}

            {% comment %}<div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Country</label>
                    <select name="country" class="form-control">
                        {% for country in country_list %}
                            <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                    </select>
                </div>{% endcomment %}
            <p class="hint"> Enter your account details below: </p>
            <div class="form-group">
                {% if is_agent %}
                    <input type="hidden" name="role" value="Agent" class="form-control"/>
                {% elif is_tanseeq_student %}
                    <input type="hidden" name="role" value="Tanseeq Student" class="form-control"/>
                {% else %}
                    <input type="hidden" name="role" value="Student" class="form-control"/>
                {% endif %}
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="{% trans 'Email' %}"
                       name="email"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
                       placeholder="{% trans 'Password' %}" name="password"/></div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                       placeholder="{% trans 'Re-type Your Password' %}" name="confirm_password"/></div>
            {#                <div class="form-group margin-top-20 margin-bottom-20">#}
            {#                    <label class="mt-checkbox mt-checkbox-outline">#}
            {#                        <input type="checkbox" name="remember" value="1" />#}
            {#                        <input type="checkbox" name="tnc" /> I agree to the#}
            {#                        <a href="javascript:;">Terms of Service </a> &#}
            {#                        <a href="javascript:;">Privacy Policy </a>#}
            {#                        <span></span>#}
            {#                    </label>#}
            {#                    <div id="register_tnc_error"> </div>#}
            {#                </div>#}
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-outline">{% trans 'Back' %}</button>
                <button type="submit" id="register-submit-btn" style="background-color: {% if is_tanseeq_student %}#9E7205;{% else %}#262668;{% endif %} color: aliceblue;"
                        class="btn uppercase pull-right">{% trans 'Submit' %}
                </button>
            </div>
        </form>
        <!-- BEGIN REGISTRATION FORM -->
    </div>
    {#    <div class="copyright"> copyright: 2018 @ NAMA Foundation </div>#}
    <!--[if lt IE 9]>
<script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>
<![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
            type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/pages/scripts/login.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    </body>

    </html>
{% endblock %}
