$('.status_change').click(function () {



                    var priorities = $("#priorities").val();

                    if (parseInt(priorities) == 1) {
                        var checked = $('#example').find('input[name="check"]:checked').length;
                    } else if (parseInt(priorities) == 2) {
                        var checked = $('#example_2').find('input[name="check"]:checked').length;
                    } else if (parseInt(priorities) == 3) {
                        var checked = $('#example_3').find('input[name="check"]:checked').length;
                    }

                    if (!checked) {
                        alert('Please select at least one record to proceed..!');
                        return false;
                    }

                    var favorite = [];
                    var conditional_offer = []
                    if ($(this).attr('id') == 'Incomplete') {
                        $('#id_accept_student_model').modal();
                        return false;
                    }
                    if ($(this).attr('id') == 'First Interview') {
                        $('#id_conditional_model').modal();
                        return false;
                    }
                    if (!checked)
                        alert('Please select at least one record to proceed..!');
                    else {
                        $.each($("input[name='check']:checked"), function () {

                            favorite.push($(this).val());
                        });
                        {#alert(JSON.stringify(favorite));#}
                        $("#check_ids").val(JSON.stringify(favorite));
                        $("#conditional_documents").val(JSON.stringify(conditional_offer));
                        $("#interview_type").val($(this).attr('id'));
                        $('#form_submit').submit()
                    }

                })