university_settings
program_settings
campus_settings
add_program_fee

university_type = models.ForeignKey(UniversityTypeDetails, null=True, related_name='university_type_rel',on_delete=models.SET_NULL)

university_type_recs = UniversityTypeDetails.objects.filter(status=True)

$(document).on("change", "#university_type", function (e) {
                    var university_type_id = $(this).val();
                    console.log("university_type_id" + university_type_id);
                    var url = '/student/get_university_from_type/';
                    get_university_from_university_type(url, university_type_id)
                })



function get_university_from_university_type(url, university_type_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university_type_id: university_type_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#university').empty();
                        $('#university').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#university').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['university_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }


<div class="">
    <label class="col-md-2 control-label">{% trans 'University Type' %}:<span
            style="color: red">*</span></label>
    <div class="col-md-3">
        <select id='university_type' title="Select University"
                name="university_type"
                class="form-control" required>
            <option selected="selected" value=""> Please Select</option>
            {% for rec in university_type_recs %}
                <option value="{{ rec.id }}">{{ rec.university_type|default_if_none:"" }}</option>
            {% endfor %}

        </select>
    </div>
</div>


<div class="">
    <label class="col-md-2 control-label">{% trans 'University Type' %}:<span
            style="color: red">*</span></label>
    <div class="col-md-3">
        <select id='university_type' title="Select University"
                name="university_type"
                class="form-control" required>
            {% if campus_obj.university_type %}
                <option style="display:none;" selected="selected"
                        value="{{ campus_obj.university_type.id|default_if_none:"" }}"> {{ campus_obj.university_type.university_type|default_if_none:"" }}</option>
            {% else %}
                <option selected="selected" value=""> Please Select</option>
            {% endif %}
            {% for rec in university_type_recs %}
                <option value="{{ rec.id }}">{{ rec.university_type|default_if_none:"" }}</option>
            {% endfor %}

        </select>
    </div>
</div>