{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block content %}
    {% include 'crumbs.html' %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
        {% endfor %}
        
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">User Info </span>
            </div>
        </div>
        {% include 'form_template.html' %}
    </div>
{% endblock %}
{% block ajax %}
<script>
    const getFacultyDataUrl = "{% url 'tanseeq_app:list_tanseeq_faculty' %}"
    const getProgramDataUrl = "{% url 'tanseeq_app:list_tanseeq_program' %}"
    $(document).ready(function() {
        $("#id_university").on("change", function(){
            getFacultyData(getFacultyDataUrl)
            getProgramData(getProgramDataUrl)
        })
        $("#id_faculty").on("change", function(){
            getProgramData(getProgramDataUrl)
        })
    });
</script>
<script src="{% static 'tanseeq\admin\conditionFilters.js' %}" type="text/javascript"></script>
{% endblock %}  