{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'tanseeq_app:tanseeq_admin' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'Study Mode' %} </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>{% if instance %}
                <span> {% trans 'Edit Study Mode' %} </span>
                {% else %}
                <span> {% trans 'Add Study Mode' %} </span>
                {% endif %}

            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% if instance %} Edit Study Mode {% else %} Add Study Mode {% endif %} </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form
                    {% if instance %}
                        action="{% url 'tanseeq_app:update_study_mode' instance.pk%}"
                    {%else%}
                        action="{% url 'tanseeq_app:add_study_mode' %}"
                    {% endif %}
                    method="POST"
                    enctype="multipart/form-data"
                    id="id_form"
                    class="form-horizontal"
                >
                    {% csrf_token %}
                    {% if instance %}
                        <input type="hidden" name="_method" value="PATCH">
                    {% endif %}
                    <div class="form-body">
                        <div class="row item_experience" id="item_experience_1">
                            <div class="row">

                                <label class="col-md-2 control-label">{% trans 'University' %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    <select id='universities' title="Select University" multiple
                                            name="universities"
                                            class="form-control" required>
                                        <option hidden value="">Please Select</option>
                                        {% for rec in university_objs %}
                                            <option value="{{ rec.id }}">{{ rec.university_name|default_if_none:"" }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <label class="col-md-2 control-label">{% trans 'Code' %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    <input type="text" name="code" id="id_code" required
                                            value="{{instance.code|default_if_none:""}}"
                                           class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
{#                               <label class="col-md-2 control-label">{% trans 'Study Mode' %}:#}
{#                                    <span style="color: red">*</span>#}
{#                                </label>#}
{#                                <div class="col-md-3">#}
{##}
{##}
{##}
{#                                    <input type="text" value="{{instance.study_mode|default_if_none:""}}" required  name="study_mode" id="id_study_mode" class="form-control">#}
{##}
{#                                </div>#}




                                <label class="col-md-2 control-label">{% trans 'Study Mode' %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    <select id='id_study_mode' title="Select Study Mode"
                                            name="study_mode"
                                            class="form-control" required>
                                        <option hidden value="">Please Select</option>
                                     {% if instance.study_mode %}
                                            <option selected style="display: none"
                                                    value="{{ instance.study_mode.id }}">{{ instance.study_mode.study_mode|default_if_none:"" }}</option>
                                        {% else %}
                                            <option value="">Please Select</option>

                                        {% endif %}

                                        {% for rec in tanseeq_study_modes %}
                                            <option value="{{ rec.id }}">{{ rec.study_mode|default_if_none:"" }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            <label class="col-md-2 control-label">{% trans form.is_active.label %}:
                                        <span style="color: red">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        {{form.is_active}}
                                    </div>

                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "tanseeq_app:list_study_mode" %}'"
                                >
                                    Back
                                </button>
                                <button type="submit" class="btn green" id="save_form" style="">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block ajax %}
    <script>
        const selectValues = "{{ selected_universities }}";
        /* Iterate options of select element */
        for (const option of document.querySelectorAll('#universities option')) {
            /* Parse value to integer */
            const value = Number.parseInt(option.value);
            /* If option value contained in values, set selected attribute */
            if (selectValues.indexOf(value) !== -1) {
                option.setAttribute('selected', 'selected');
            }
            /* Otherwise ensure no selected attribute on option */
            else {
                option.removeAttribute('selected');
            }
        }
    </script>
{% endblock %}