{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}
{% block styleBlock %}
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#id_is_active").Sswitch({});
                $("#id_is_singup").Sswitch({});
                $("#id_is_registration").Sswitch({});
            });
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>
{% endblock %}
{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'tanseeq_app:tanseeq_admin' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> University </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Add University </span>
            </li>

        </ul>
    </div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Add University </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <form {% if instance %}
                    action="{% url 'tanseeq_app:university' instance.pk %}"
                {% else %}
                    action="{% url 'tanseeq_app:add_university' %}"
                {% endif %}
                    id="id_form"
                    class="form-horizontal"
                    method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">


                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'University Type' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <select id='university_type' title="Select Type"
                                                name="university_type"
                                                class="form-control" required>
                                            {% if instance %}
                                                <option style="display: none" selected="selected"
                                                        value="{{ instance.university_type|default_if_none:"" }}">{{ instance.university_type|default_if_none:"" }}</option>
                                            {% else %}
                                                <option selected="selected" value=""> Please Select</option>
                                            {% endif %}


                                            <option value="Public">Public</option>
                                            <option value="Private">Private</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'University Code' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter University Code" id="id_university_code"
                                                {% if instance %}
                                               value="{{ instance.university_code|default_if_none:"" }}"
                                                {% else %}
                                               value=""
                                                {% endif %}
                                               name="university_code"
                                               class="form-control" required>


                                    </div>
                                </div>


                            </div>
                            <br>


                            <div class="row">


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'University Name' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter University Name" id="id_university_name"
                                                {% if instance %}
                                               value="{{ instance.university_name|default_if_none:"" }}"
                                                {% else %}
                                               value=""
                                                {% endif %}
                                               name="university_name"
                                               class="form-control" required>

                                    </div>


                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Email' %}:</label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Email" id="id_email"
                                               {% if instance %}
                                               value="{{ instance.email|default_if_none:"" }}"
                                                {% else %}
                                               value=""
                                                {% endif %}
                                               name="email"
                                               class="form-control">

                                    </div>
                                </div>


                            </div>
                            <br>

                            <div class="row">


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Telephone' %}:</label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Telephone" id="id_telephone"
                                               {% if instance %}
                                               value="{{ instance.telephone|default_if_none:"" }}"
                                                {% else %}
                                               value=""
                                                {% endif %}
                                               name="telephone"
                                               class="form-control">

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Website' %}:</label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Website" id="id_website"
                                               {% if instance %}
                                               value="{{ instance.website|default_if_none:"" }}"
                                                {% else %}
                                               value=""
                                                {% endif %}
                                               name="website"
                                               class="form-control">

                                    </div>
                                </div>


                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Address' %}:

                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" class="form-control " id="id_address"
                                                  name="address">{% if instance %}{{ instance.address|default_if_none:"" }} {% endif %}</textarea>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Contact Details' %}:

                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" class="form-control " id="id_contact_details"
                                                  name="contact_details">{% if instance %}{{ instance.contact_details|default_if_none:"" }} {% endif %}</textarea>

                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Active' %}:</label>
                                    <div class="col-md-2">
                                    {% if instance %}
                                        {% if instance.is_active %}
                                            <input type="checkbox" id="id_is_active" name="is_active" checked>
                                        {% else %}
                                            <input type="checkbox" id="id_is_active" name="is_active" >
                                        {% endif %}
                                    {% else %}
                                        <input type="checkbox" id="id_is_active" name="is_active" checked>
                                    {% endif %}



                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Registration' %}:</label>
                                    <div class="col-md-2">

                                    {% if instance %}
                                        {% if instance.is_registration %}
                                            <input type="checkbox" id="id_is_registration" name="is_registration" checked>
                                        {% else %}
                                            <input type="checkbox" id="id_is_registration" name="is_registration" >
                                        {% endif %}
                                    {% else %}
                                        <input type="checkbox" id="id_is_registration" name="is_registration" checked>
                                    {% endif %}

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-1 control-label">{% trans 'Singup' %}:</label>
                                    <div class="col-md-2">

                                    {% if instance %}
                                        {% if instance.is_singup %}
                                            <input type="checkbox" id="id_is_singup" name="is_singup" checked>
                                        {% else %}
                                            <input type="checkbox" id="id_is_singup" name="is_singup" >
                                        {% endif %}
                                    {% else %}
                                        <input type="checkbox" id="id_is_singup" name="is_singup" checked>
                                    {% endif %}



                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Logo' %}:

                                    </label>
                                    <div class="col-md-2">

                                        <input name="university_logo" type="file" title="Select University Logo"
                                               accept="image/gif, image/jpeg, image/png"
                                               id="id_university_logo"
                                        >


                                    </div>
                                    {% if instance.university_logo %}
                                        <div class="col-md-1" style="margin-top: 5px;
    font-size: 20px;">

                                            <a href="{{ instance.university_logo.url }}" download>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>

                                            </a>
                                        </div>
                                    {% endif %}

                                </div>


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Tanseeq Guide' %}:

                                    </label>
                                    <div class="col-md-2">

                                        <input name="tanseeq_guide" type="file" title="Select Tanseeq Guide"
                                               accept="application/pdf"
                                               id="id_tanseeq_guide"
                                        >


                                    </div>
                                    {% if instance.tanseeq_guide %}
                                        <div class="col-md-1" style="margin-top: 5px;
    font-size: 20px;">

                                            <a href="{{ instance.tanseeq_guide.url }}" download>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>

                                            </a>
                                        </div>
                                    {% endif %}

                                </div>


                            </div>
                            <br>


                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Registration Guide' %}:

                                    </label>
                                    <div class="col-md-2">

                                        <input name="registration_guide" type="file" title="Select University Logo"
                                               accept="application/pdf"
                                               id="id_registration_guide"
                                        >


                                    </div>

                                     {% if instance.registration_guide %}
                                        <div class="col-md-1" style="margin-top: 5px;
    font-size: 20px;">

                                            <a href="{{ instance.registration_guide.url }}" download>
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>

                                            </a>
                                        </div>
                                    {% endif %}

                                </div>


                            </div>


                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "tanseeq_app:list_university" %}'">
                                    Back
                                </button>

                                <button type="submit" class="btn green" id="save_form" style="">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}














