{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $("#status").Sswitch({});
            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>
{% endblock %}


{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'tanseeq_app:tanseeq_admin' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'University Attachment' %} </span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>{% if instance %}
                <span> {% trans 'Edit University Attachment' %} </span>
                {% else %}
                <span> {% trans 'Add University Attachment' %} </span>
                {% endif %}

            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% if instance %}Edit University Attachment {% else %} Add University Attachment {% endif %} </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form
                    {% if instance %}
                        action="{% url 'tanseeq_app:update_university_attachment' instance.pk%}"
                    {%else%}
                        action="{% url 'tanseeq_app:add_university_attachment' %}"
                    {% endif %}
                    method="POST"
                    enctype="multipart/form-data"
                    id="id_form"
                    class="form-horizontal"
                >
                    {% csrf_token %}
                    {% if instance %}
                        <input type="hidden" name="_method" value="PATCH">
                    {% endif %}
                    <div class="form-body">
                        <div class="row item_experience" id="item_experience_1">
                            <div class="row">

                                <label class="col-md-2 control-label">{% trans 'University' %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    <select id='universities' title="Select University" multiple
                                            name="universities"
                                            class="form-control" required>
                                        <option hidden value="">Please Select</option>
                                        {% for rec in university_objs %}
                                            <option value="{{ rec.id }}">{{ rec.university_name|default_if_none:"" }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>


                                <label class="col-md-2 control-label">{% trans form.attachment_name.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.attachment_name}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans form.type_of_attachment.label %}:
                                        <span style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        {{form.type_of_attachment}}
                                    </div>
                                </div>
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans form.is_required.label %}:
                                        <span style="color: red">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        {{form.is_required}}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "tanseeq_app:list_university_attachment" %}'"
                                >
                                    Back
                                </button>
                                <button type="submit" class="btn green" id="save_form" style="">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block ajax %}
    <script>
        const selectValues = "{{ selected_universities }}";
        /* Iterate options of select element */
        for (const option of document.querySelectorAll('#universities option')) {
            /* Parse value to integer */
            const value = Number.parseInt(option.value);
            /* If option value contained in values, set selected attribute */
            if (selectValues.indexOf(value) !== -1) {
                option.setAttribute('selected', 'selected');
            }
            /* Otherwise ensure no selected attribute on option */
            else {
                option.removeAttribute('selected');
            }
        }
    </script>
{% endblock %}