{% load  i18n %}
<li class="nav-item ">
    <a href="{% url 'masters:university_settings' %}" class="nav-link ">
        <i class="fa fa-university"></i>
        <span class="title">{% trans 'Manage University' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'masters:country_settings' %}" class="nav-link ">
        <i class="fa fa-flag"></i>
        <span class="title">{% trans 'Manage Country' %}</span>
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_secondary_certificate' %}" class="nav-link ">
        <i class="glyphicon glyphicon-education"></i>
        <span class="title">{% trans 'Secondary School Cetificate' %}</span>

    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_tanseeq_period' %}" class="nav-link ">
        {% trans 'Tanseeq Period' %}
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_university_guide' %}" class="nav-link ">
        {% trans 'University Guide' %}
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'tanseeq_app:list_university_attachment' %}" class="nav-link ">
        {% trans 'University Attachement' %}
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'masters:referral_fee' %}" class="nav-link ">
        {% trans 'Study Mode' %}
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'masters:referral_fee' %}" class="nav-link ">
        {% trans 'Faculty' %}
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'masters:referral_fee' %}" class="nav-link ">
        {% trans 'Program' %}
    </a>
</li>
<li class="nav-item ">
    <a href="{% url 'masters:referral_fee' %}" class="nav-link ">
        {% trans 'Country' %}
    </a>
</li>

<li class="nav-item ">
    <a href="{% url 'masters:referral_fee' %}" class="nav-link ">
        {% trans 'Condition/Filter' %}
    </a>
</li>