{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">
        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $('#sample_1').dataTable().fnDestroy();

            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ],
                "scrollX": true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'USERS DETAILS',
                        exportOptions: {
                            //columns: ':visible'
                            columns: [1, 2, 3, 4, 5, 6, 7, 8,]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'USERS DETAILS',
                        orientation: 'landscape',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8,]
                            //columns: ':visible'
                        }
                    },
                ],
            });


        }


        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    {% include 'crumbs.html' %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% trans 'Manage Users' %}</span>
            </div>
            <a href="{% url 'tanseeq_app:add_user' %}">
                <button type="submit" class="btn green" id="save"
                        style="margin-left:75%;margin-bottom:10px;background-color: #3598dc">{% trans 'Add' %}
                </button>
            </a>
        </div>

        <div class="portlet-body">


            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th style="display: none">Id</th>
                        <th>{% trans 'Email' %}</th>
                        <th>{% trans 'First Name' %}</th>
                        <th>{% trans 'Last Name' %}</th>
                        <th>{% trans 'University' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Role' %}</th>
                        <th>{% trans 'Country' %}</th>
                        <th>{% trans 'Active' %}</th>
                        <th width="15%">{% trans 'Action' %}</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for rec in user_recs %}
                        <tr id="item{{ forloop.counter }}" class="item">
                            <td style="display: none"><input id="staff_id" value="{{ rec.id }}"></td>

                            <td>{{ rec.email|default_if_none:"" }}</td>
                            <td>{{ rec.first_name|default_if_none:"" }}</td>
                            <td>{{ rec.last_name|default_if_none:"" }}</td>
                            <td>{{ rec.university.university_name|default_if_none:"" }}</td>
                            <td>{{ rec.university.university_type.university_type|default_if_none:"" }}</td>
                            {% if rec.role.all.0.name == 'Administrator' %}
                                <td>Admission Unit</td>
                            {% elif rec.role.all.0.name == 'Supervisor' %}
                                <td>{{ rec.role.all.0.name|default_if_none:"" }}</td>
                            {% elif rec.role.all.0.name == 'Faculty' %}
                                <td>{{ rec.role.all.0.name|default_if_none:"" }}
                                    - {{ rec.faculty.faculty_name|default_if_none:"" }}</td>
                            {% else %}
                                <td>{{ rec.role.all.0.name|default_if_none:"" }}
                                    - {{ rec.program.program_name|default_if_none:"" }}</td>
                            {% endif %}
                            <td>{{ rec.address.country.country_name|title }}</td>
                            <td>{% if rec.is_active == True %}Yes{% else %}No{% endif %}</td>
                            <td>
                                <a href="{% url 'tanseeq_app:manage_user' rec.id %}">
                                <span style="font-size:10px;" type="button" name="edit" id="edit{{ forloop.counter }}"
                                      class=" edit_btn btn blue glyphicon glyphicon-edit">
                                </span>
                                </a>

                                <button type="button" reset-url="{% url 'tanseeq_app:password_reset' rec.id %}"
                                        class="password_reset btn-primary btn-xs">
                                    Password Reset
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

<!-- pop up modal -->
<div id="password_reset_modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="color: #2a015e; text-align: center"><b>Password Reset</b></h4>
            </div>
            <div class="modal-body">
                <form id="id_update_fee_form">
                    <div class="row">
                        <div class="col-md-12 text-center control-label">
                            <label class="text-center" style="color: red;font-weight: bold">The password will be reset to the default 000000</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="id_fee_cancel_model" data-dismiss="modal" class="btn dark btn-outline">
                    Cancel
                </button>
                <button type="button" id="id_confirm" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block ajax %}
<script>
    $(".password_reset").on("click", (e)=>{
        $("#password_reset_modal").modal()
       $("#id_confirm").attr("reset-url", $(e.target).attr("reset-url"))
   });
   $("#id_confirm").on("click", (e)=>{
       $(e.target).attr('disabled', true)
       passwordReset($(e.target).attr("reset-url"))
       $("#password_reset_modal").modal('hide')
   })
    function passwordReset(url) {
        $.ajax({
            type: 'PATCH',
            url: url,
            data : {
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (data, textStatus, xhr) {
                if(xhr.status == 200){
                    location.reload()
                }
            },
            complete: function (){
                $("#id_confirm").attr('disabled', false)
            },
            error: function (xhr, msg, err) {
            }
        });
    }
</script>
{% endblock %}