{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {


            $(document).ready(function () {


                 $('input[type="radio"]').on('change', function () {
                    var is_deferment_study = $('input[name="is_deferment_study"]:checked').val();
                    console.log("is_deferment_study"+is_deferment_study);

                    if(is_deferment_study == 'Yes'){
                        $('.deferment').show();
                    }
                    else{
                         $('.deferment').hide();
                    }


                })

            /*

                $(document).on("click", "#save_id", function () {


                    $('#id_accept_student_model').modal();
                });

                 $(document).on("click", "#submit_appplication", function () {
                    $("#form_sample_1").submit();
                });
*/

                 /*

                if ($('.aggre_term').is(":checked")) {
                    $('#save_id').attr("disabled", false);
                } else {
                    $('#save_id').attr("disabled", true);
                }*/


                $(".aggre_term").click(function () {
                    if ($(this).is(":checked")) {
                        $('#save_id').attr("disabled", false);
                    } else {
                        $('#save_id').attr("disabled", true);
                    }
                });





                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        function validate(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }


    </script>


{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">{% trans 'Home' %}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>{% trans 'Acceptance & Declaration' %}</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        {#        <div class="portlet-title">#}
        {#            <div class="caption">#}
        {#                <i class="icon-settings font-red"></i>#}
        {#                <span class="caption-subject font-red sbold uppercase">Scholarship Selection </span>#}
        {#            </div>#}
        {#        </div>#}

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:submit_acceptance' %}"
                      id="id_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">{% trans 'Acceptance & Declaration' %}:</span>
                            </div>
                        </div>
                    <br>



                        {% if application_obj.first_interview == False and  application_obj.first_interview_attend == False %}
                            <div class="row">

                         <div class="">
                                <div class="col-md-8" style="margin-left: 10%;font-size:15px;color: red">
                                   There is no offer letter approved from university yet.

                                </div>
                            </div>
                            <br>

                        </div>
                        {% else %}
                        <div class="row">

                        <div class="row" style="margin-left: 10%;font-size:15px">
                    <div class="col-xs-8">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>

                                <th >

                                </th>
                                <th >

                                </th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >
                                    Name
                                </td>
                                <td >
                                    {{ application_obj.get_full_name }}
                                </td>

                            </tr>
                            <tr>
                                <td >
                                    Programme of Study
                                </td>
                                <td >
                                    {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.program.program_name|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.program_2.program_name|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.program_3.program_name|default_if_none:"" }} {% else %}{{ application_obj.program.program_name|default_if_none:"" }}{% endif %}
                                </td>

                            </tr>
                            <tr>
                                <td >
                                    Level of Study
                                </td>
                                <td >
                                    {{ application_obj.study_level.study_level|default_if_none:"" }}
                                </td>

                            </tr>

                             <tr>
                                <td >
                                    Faculty
                                </td>
                                <td >
                                    {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.faculty.faculty_name|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.faculty_2.faculty_name|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.faculty_3.faculty_name|default_if_none:"" }} {% else %}{{ application_obj.faculty.faculty_name|default_if_none:"" }}{% endif %}
                                </td>

                            </tr>

                             <tr>
                                <td >
                                    Program Mode
                                </td>
                                <td >
                                    {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}{{ application_obj.program_mode.study_type|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}{{ application_obj.program_mode_2.study_type|default_if_none:"" }} {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.program_mode_3.study_type|default_if_none:"" }} {% else %}{{ application_obj.program_mode.study_type|default_if_none:"" }}{% endif %}
                                </td>

                            </tr>

                             <tr>
                                <td >
                                    Offer Letter
                                </td>
                                <td >
                                    <a href="{% url 'student:application_offer_letter_pdf' application_obj.id %}" target="_blank">{% if application_obj.first_interview_attend %}Download Full Offer{% else %}Download Conditional Offer{% endif %}</a>
                                </td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>


                        <div class="row" style="margin-left: 6%;font-size:15px">

                            <span style="padding:inherit;margin-left: 60px;">{% trans 'Deferment of Study' %}:  </span>
                        {% if deferment_obj %}
                        {% if deferment_obj.is_deferment_study == False %}
                         <span style="padding:inherit;margin-left:30px">{% trans 'No' %}</span>
                        <input class="current" type="radio" checked name="is_deferment_study" id="" value="No">
                        <span style="padding:inherit;margin-left:20px">{% trans 'Yes' %}</span>
                        <input class="current" type="radio" name="is_deferment_study" value="Yes"
                               id="">
                        {% else %}
                            <span style="padding:inherit;margin-left:30px">{% trans 'No' %}</span>
                        <input class="current" type="radio"  name="is_deferment_study" id="" value="No">
                        <span style="padding:inherit;margin-left:20px">{% trans 'Yes' %}</span>
                        <input class="current" type="radio" checked name="is_deferment_study" value="Yes"
                               id="">
                        {% endif %}
                            {% else %}
                            <span style="padding:inherit;margin-left:30px">{% trans 'No' %}</span>
                        <input class="current" type="radio" checked name="is_deferment_study" id="" value="No">
                        <span style="padding:inherit;margin-left:20px">{% trans 'Yes' %}</span>
                        <input class="current" type="radio" name="is_deferment_study" value="Yes"
                               id="">
                        {% endif %}


                        </div>




                     {% if deferment_obj.is_deferment_study == True %}
                         <div class="deferment">

                        <br>

                            <div class="row" style="margin-left: 2%;font-size:15px">

                            <div class="">
                                <label class="col-md-3 control-label">{% trans 'Reasons for Deferment' %}:</label>
                                <div class="col-md-3">
                                    <select id='deferment_reasons' title="Select Reasons for Deferment" name="deferment_reasons"
                                            class="form-control" data-live-search="true" >

                                        {% if deferment_obj.deferment_reasons %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ deferment_obj.deferment_reasons|default_if_none:"" }}"
                                                    >{{ deferment_obj.deferment_reasons|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                            <option value='Health'>Health</option>
                                            <option value='Others'>Others</option>

                                    </select>
                                </div>


                            </div>


                        </div>
                         <br><div class="row" style="margin-left: 5%;font-size:15px">


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Min Duration' %}:</label>
                                    <div class="col-md-1">
                                        <input type="text" maxlength="1" title="Enter Min Duration Deferment" id="id_min_duration" onkeypress='validate(event)'
                                               value="{{ deferment_obj.min_duration|default_if_none:"" }}"
                                               name="min_duration"
                                               class="form-control">

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Max Duration' %}:</label>
                                    <div class="col-md-1">
                                        <input type="text" maxlength="1" title="Enter Max Duration Deferment" id="id_max_duration" onkeypress='validate(event)'
                                               value="{{ deferment_obj.max_duration|default_if_none:"" }}"
                                               name="max_duration"
                                               class="form-control">

                                    </div>
                                </div>


                            </div>
                        <br>
                        <div class="row" style="margin-left: -7%;font-size:15px">

                            <div class="">
                                <label class="col-md-3 control-label">{% trans 'Justification' %}:</label>
                                <div class="col-md-8">
                                    <textarea name="justifications" class="form-control">{{ deferment_obj.justifications|default_if_none:"" }}</textarea>
                                </div>


                            </div>


                        </div>
                        <br>

                            <div class="row" style="margin-left: 8%;font-size:15px">

                            <div class="">
                                <label class="col-md-3 control-label"><b>Upload Supporting Documents:</b></label>



                            </div>


                        </div>
                        <br>
                        <div class="row" style="margin-left: 7%;font-size:15px">
                            <div class="">

                                <label class="col-md-2 control-label">Medical Certificate/Report:

                                </label>


                                <div class="col-md-3" id="parent2">
                                    <input type="file"  class="form-control"accept="application/pdf,"
                                           title="Select Medical Certificate/Report" id="medical_certificate"
                                           name="medical_certificate" class="doc form-control">
                                </div>




                            </div>

                             {% if deferment_obj.medical_certificate %}
                                        <a target="_blank"href="{{ deferment_obj.medical_certificate.url }}"><i style="    font-size: 25px;
    margin-top: 13px;" class="fa fa-cloud-download" aria-hidden="true"></i>
</a>
                                        {% endif %}

                        </div>
                        <br>
                        <div class="row" style="margin-left: 7%;font-size:15px">
                            <div class="">

                                <label class="col-md-2 control-label">Sponsorship Letter:

                                </label>


                                <div class="col-md-3" id="parent2">
                                  <input type="file"  class="form-control"accept="application/pdf,"
                                           title="Select Sponsorship Letter" id="sponsorship_letter"
                                           name="sponsorship_letter" class="doc form-control">
                                </div>




                            </div>

                             {% if deferment_obj.sponsorship_letter %}
                                        <a target="_blank"href="{{ deferment_obj.sponsorship_letter.url }}"><i style="    font-size: 25px;
    margin-top: 13px;" class="fa fa-cloud-download" aria-hidden="true"></i>
</a>
                                        {% endif %}


                        </div>
                        <br>
                         <div class="row" style="margin-left: 7%;font-size:15px">
                            <div class="">

                                <label class="col-md-2 control-label">Other Supporting:

                                </label>


                                <div class="col-md-3" id="parent2">
                                   <input type="file"  class="form-control"accept="application/pdf,"
                                           title="Select Other Supporting" id="other_document"
                                           name="other_document" class="doc form-control">
                                </div>




                            </div>

                              {% if deferment_obj.other_document %}
                                        <a target="_blank"href="{{ deferment_obj.other_document.url }}"><i style="    font-size: 25px;
    margin-top: 13px;" class="fa fa-cloud-download" aria-hidden="true"></i>
</a>
                                        {% endif %}

                        </div>
                         </div>

                     {% else %}
                          <div class="deferment" style="display: none;">

                        <br>

                            <div class="row" style="margin-left: 2%;font-size:15px">

                            <div class="">
                                <label class="col-md-3 control-label">{% trans 'Reasons for Deferment' %}:</label>
                                <div class="col-md-3">
                                    <select id='deferment_reasons' title="Select Reasons for Deferment" name="deferment_reasons"
                                            class="form-control" data-live-search="true" >

                                        {% if deferment_obj.deferment_reasons %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ deferment_obj.deferment_reasons|default_if_none:"" }}"
                                                    >{{ deferment_obj.deferment_reasons|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                            <option value='Health'>Health</option>
                                            <option value='Others'>Others</option>

                                    </select>
                                </div>


                            </div>


                        </div>
                          <br>
                           <div class="row" style="margin-left: 5%;font-size:15px">


                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Min Duration' %}:</label>
                                    <div class="col-md-1">
                                        <input type="text" maxlength="1" title="Enter Min Duration Deferment" id="id_min_duration" onkeypress='validate(event)'
                                               value=""
                                               name="min_duration"
                                               class="form-control">

                                    </div>
                                </div>

                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Max Duration' %}:</label>
                                    <div class="col-md-1">
                                        <input type="text" maxlength="1" title="Enter Max Duration Deferment" id="id_max_duration" onkeypress='validate(event)'
                                               value=""
                                               name="max_duration"
                                               class="form-control">

                                    </div>
                                </div>


                            </div>
                        <br>
                        <div class="row" style="margin-left: -7%;font-size:15px">

                            <div class="">
                                <label class="col-md-3 control-label">{% trans 'Justification' %}:</label>
                                <div class="col-md-8">
                                    <textarea name="justifications" class="form-control">{{ deferment_obj.justifications|default_if_none:"" }}</textarea>
                                </div>


                            </div>


                        </div>
                        <br>

                            <div class="row" style="margin-left: 8%;font-size:15px">

                            <div class="">
                                <label class="col-md-3 control-label"><b>Upload Supporting Documents:</b></label>



                            </div>


                        </div>
                        <br>
                        <div class="row" style="margin-left: 7%;font-size:15px">
                            <div class="">

                                <label class="col-md-2 control-label">Medical Certificate/Report:

                                </label>


                                <div class="col-md-3" id="parent2">
                                    <input type="file"  class="form-control"accept="application/pdf,"
                                           title="Select Medical Certificate/Report" id="medical_certificate"
                                           name="medical_certificate" class="doc form-control">
                                </div>




                            </div>
                             {% if deferment_obj.medical_certificate %}
                                        <a target="_blank"href="{{ deferment_obj.medical_certificate.url }}"><i style="    font-size: 25px;
    margin-top: 13px;" class="fa fa-cloud-download" aria-hidden="true"></i>
</a>
                                        {% endif %}


                        </div>
                        <br>
                        <div class="row" style="margin-left: 7%;font-size:15px">
                            <div class="">

                                <label class="col-md-2 control-label">Sponsorship Letter:

                                </label>


                                <div class="col-md-3" id="parent2">
                                  <input type="file"  class="form-control"accept="application/pdf,"
                                           title="Select Sponsorship Letter" id="sponsorship_letter"
                                           name="sponsorship_letter" class="doc form-control">
                                </div>




                            </div>
                            {% if deferment_obj.sponsorship_letter %}
                                        <a target="_blank"href="{{ deferment_obj.sponsorship_letter.url }}"><i style="    font-size: 25px;
    margin-top: 13px;" class="fa fa-cloud-download" aria-hidden="true"></i>
</a>
                                        {% endif %}

                        </div>
                        <br>
                         <div class="row" style="margin-left: 7%;font-size:15px">
                            <div class="">

                                <label class="col-md-2 control-label">Other Supporting:

                                </label>


                                <div class="col-md-3" id="parent2">
                                   <input type="file"  class="form-control"accept="application/pdf,"
                                           title="Select Other Supporting" id="other_document"
                                           name="other_document" class="doc form-control">
                                </div>




                            </div>
                             {% if deferment_obj.other_document %}
                                        <a target="_blank"href="{{ deferment_obj.other_document.url }}"><i style="    font-size: 25px;
    margin-top: 13px;" class="fa fa-cloud-download" aria-hidden="true"></i>
</a>
                                        {% endif %}

                        </div>
                         </div>



                {% endif %}





                        {% if application_obj.is_offer_accepted and deferment_obj %}
                        <br><br><div class="">
                                <div class="col-md-8" style="margin-left: 10%;font-size:15px">
                                   Offer Status: <span style="color: green">Deffered</span>

                                </div>
                            </div>
                        {% elif application_obj.is_offer_accepted %}
                            <br><br><div class="">
                                <div class="col-md-8" style="margin-left: 10%;font-size:15px">
                                   Offer Status: <span style="color: green">Accepted</span>

                                </div>
                            </div>
                        {% endif %}

{#                            <br><br>#}
{#                                 {% if not application_obj.is_offer_accepted %}#}
{#                            <div class="">#}
{#                                <div class="col-md-8" style="margin-left: 10%;font-size:15px">#}
{#                                    {% blocktrans %}#}
{#                                    Please read the following terms & conditions carefully and tick the checkbox to#}
{#                                    indicate your#}
{#                                    agreement.#}
{#                                    {% endblocktrans %}#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                            <br><br>#}
{##}
{##}
{#                        <div class="">#}
{#                                <div class="col-md-8" style="margin-left: 10%;font-size:15px">#}
{#                                    {% blocktrans %}#}
{#                                    I declare that all the information provided is correct and complete. I hereby give my consent to#}
{#the University to obtain information relating to my admission into #Uni Name from relevant#}
{#authorities. I understand that #Uni Name reserves the right to request any additional#}
{#information before a decision on admission is made. I understand that any misinformation or#}
{#incomplete application could result in the rejection of my application.#}
{#                                    {% endblocktrans %}#}
{#                                </div>#}
{#                            </div>#}
{#                            <br><br><br><br><br><br>#}
{#                        {% endif %}#}

{#                            <div class="">#}
{#                                <div class="col-md-8" style="margin-left: 10%;">#}
{#                                    {% if application_obj.is_offer_accepted %}#}
{#                                    {% else %}#}
{#                                        <span style="color: red"></span>#}
{#                                        <input type="checkbox" class="aggre_term">#}
{#                                    {% endif %}#}
{#                                 {% if not application_obj.is_offer_accepted %}#}
{##}
{##}
{#                                    <b style="font-size: 15px;">{% trans 'I have read the Declaration and agree to the terms and conditions.' %}</b>#}
{#                                {% endif %}#}
{##}
{#                                </div>#}
{#                            </div>#}
                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">


                                {% if application_obj %}
                                    {% if not application_obj.is_offer_accepted %}
                                        <button type="submit" class="btn green" id="save_id" style="margin-left:70%">{% trans 'Applay' %}
                                        </button>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                         {% endif %}



                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="id_accept_student_model" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'student:submit_acceptance' %}"
                        id="form_sample_1"
                        class="form-horizontal"
                        method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" style="color: #2a015e; text-align: center"><b>Confirmation</b></h4>
                    </div>
                    <div class="modal-body">
                        <p> Are you sure, you want to accept offer? </p>
                        <p> After submission you will not be able to modify the offer. </p>
                        <input type="hidden" name="app_id" value="{{ application_obj.id }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel_model" data-dismiss="modal" class="btn dark btn-outline">
                            Cancel
                        </button>
                        <button type="button" id="submit_appplication" class="btn green">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
