{#{% extends "template_base_page.html" %}#}
{#{% load staticfiles %}#}
<style>


    {% comment %}@page {
        margin: 1cm;
        margin-bottom: 2.5cm;
        @frame footer {
        -pdf-frame-content: footerContent;
        bottom: 2cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 1cm;
    }
    }{% endcomment %}

    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;

    }

    @page {
        margin: 1cm;
        margin-top: 4cm;

        @frame header {
        -pdf-frame-content: header;
    {#font-size: 20px;#}
    {#font-weight: 100;#}
    {#text-align: center;#}
    {#color: #007cae;#}
    {#font-size: 50px;#}
    {#background-color: red;#}
    }
    margin-bottom: 2.5cm;

    @frame footer {
    -pdf-frame-content:footerContent;
    bottom: 15cm;
    height: 18cm;


    margin-top:25pt;


    }
    }


    @page header {

    }

    .wrapper {
        display: table;
        width: 100%;
    }

    .left {
        display: table-cell;
    }

    .max-lines {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2.6em;
        line-height: 1.5em;
    }
</style>

{% block content %}
    <div class='wrapper'>
        <div class='header' id="header" style="text-align: center;">
            <br><br>
            <span class='title'
                  style="font-size: 26px; color: #13084e;text-align: center"><b>{{ application_obj.university.university_name|default_if_none:"" }} Offer Letter</b></span>
            <img src="{{ header_path }}" alt="logo"
                 style="width: 300px;height: 80px;margin-top: 25px; text-align: center" class="logo-default"/>

        </div>
        <span style="font-size: 17px;color: #333;font-weight: bold">To</span>
        <br><br>
        <span style="font-size: 17px;color: #333">{{ application_obj.first_name|default_if_none:"" }} {{ application_obj.middle_name|default_if_none:"" }} {{ application_obj.last_name|default_if_none:"" }} ,</span>
        <br><br>
        <span style="font-size: 17px;color: #333">{{ current_date }}</span>

        <br><br><br>

        <span style="font-size: 17px;color: #333">Good day!</span>
        <br><br>
        <span class="max-lines"
              style="font-size: 17px;color: #333">The {{ application_obj.university.university_name|default_if_none:"" }} Admission Selection Committee would like to take this opportunity to congratulate you on your successful application for admission to the
            {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}
                ({{ application_obj.program.program_name|default_if_none:"" }}
                ){% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}
                ({{ application_obj.program_2.program_name|default_if_none:"" }})
            {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}
                ({{ application_obj.program_3.program_name|default_if_none:"" }}){% else %}
                {{ application_obj.program.program_name|default_if_none:"" }}{% endif %}
            in the academic year ({{ application_obj.academic_year.year_name|default_if_none:"" }}).</span>
        <br>
        <span class="max-lines" style="font-size: 17px;color: #333">We are confident that our rigorous program will serve as a training ground to enhance your skills in the field.This offer is conditional upon your agreement to fulfill the following requirements:</span>
        <br>
        {% for rec in application_obj.applicant_verification_document.all %}
            <span class="max-lines"
                  style="font-size: 15px;font-weight: bold">{{ forloop.counter }}. {{ rec.required_document|default_if_none:"" }}</span>
        {% endfor %}

        <br>
        <span class="max-lines"
              style="font-size: 17px;color: #333">To proceed for registration for Sem ({{ application_obj.semester.semester|default_if_none:"" }}), Year ({{ application_obj.academic_year.year_name|default_if_none:"" }}), please be informed that you are required to follow registration procedures in unisys.online.</span>
        <br>
        <span class="max-lines" style="font-size: 17px;color: #333">Registration payment shall be made to the following account:</span>
        <br>
        <span class="max-lines" style="font-size: 17px;color: #333">Once again, congratulations on your successful application, and we look forward to your response to this offer.</span>
        <br><br>
        <span style="font-size: 17px;color: #333">Regards,</span>
        <br><br>
        <span style="font-size: 17px;color: #333"><b>Super Admin</b></span>
        <br><br>
        <span style="font-size: 17px;color: #333"><b>Admission Selection Committee Director</b></span>
        <br><br>
        <span style="font-size: 17px;color: #333"><b>{{ application_obj.university.university_name|default_if_none:"" }}</b></span>


    </div>

{% endblock %}