{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }


    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {


            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">{% trans 'Home' %}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>{% trans 'Applications Progress History' %}</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red"></i>
            <span class="caption-subject font-red sbold uppercase">{% trans 'Applications Progress History' %}</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="form-body">
            {% comment %}<div class="row col-md-offset-4">
                <h3 style="color: darkred;"><b>Welcome {{username|title}}. We are Happy to see you.</b></h3>
            </div>{% endcomment %}
            <div class="form-body">
                <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <input hidden id="data_value" name="data_value">
                        <div class="">
                            <table class="table table-striped table-hover table-bordered" id="sample_1">
                                <thead>
                                <tr>
                                    <th style="display: none"></th>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Status' %}</th>
                                    <th>{% trans 'Remark' %}</th>
                                </tr>
                                </thead>

                                <tbody id="tbody">
                                {% for rec in application_history_obj %}
                                    <tr id="item{{ forloop.counter }}" class="item">
                                        <td style="display: none"><input id="application_id" class="application_id" value="{{ rec.id }}"></td>

                                        <td>
                                            <text>{{ rec.last_updated|date:"d-m-Y" }}</text>
                                        </td>

                                        <td>
                                            <text>{{ rec.status}}</text>
                                        </td>

                                        <td>
                                            <text>{{ rec.remark}}</text>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
