{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                {% comment %}$(document).on("change", ".doc", function (e) {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['pdf'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                });{% endcomment %}


                $(document).on("click", ".remove_doc", function (e) {
                    var parent_id = $(this).closest('div').attr('id');
                    $('#' + parent_id + ' .emp').val('');
                });

                $(document).on("click", ".file", function (e) {
                    $(this).parent('.form-control').next('.file_type').trigger('click');
                });
                var _URL = window.URL || window.webkitURL;
                $('.file_type').change(function (evt) {
                    var extension = $(this).val().split('.').pop().toLowerCase();
                    if ((extension == 'jpeg') || (extension == 'jpg')) {

                        var files = !!this.files ? this.files : [];
                        var maxSizeKB = 66; //Size in KB
                        var maxSize = maxSizeKB * 1024; //File size is returned in Bytes
                        if (files[0].size > maxSize) {
                            alert('Maximum file size must be 66 KB');
                            location.reload();
                            return false;
                        }
                        var file, img;
                        if ((file = files[0])) {
                            img = new Image();
                            var objectUrl = _URL.createObjectURL(file);
                            img.onload = function () {
                                var width = img.naturalWidth,
                                    height = img.naturalHeight;
                                _URL.revokeObjectURL(objectUrl);
                                if(width <= 217 && height <= 280){
                                     var file_name = $(this).val().split('\\')[2];
                                    $(this).prev().children().children('.file_value').val(file_name);
                                } else {
                                    alert('Maximum file height and width must be 280px*217px');
                                    location.reload();
                                    return false

                                }

                            };
                            img.src = objectUrl;
                        }


                    } else {
                        var file_name = $(this).val().split('\\')[2];
                        $(this).prev().children().children('.file_value').val(file_name);
                    }

                    /*
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['pdf'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                    */

                });


                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Attachment </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Attachment Submission</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:save_attachement_submission' %}"
                      id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-4 control-label">Personal Photo:<br><span
                                        style="color:red;font-size: 12px">(photo must be jpg and White background)</span><br><span
                                        style="color:red;font-size: 12px">(Maximum file height and width must be 280px*217px)<br><span
                                        style="color:red;font-size: 12px">(Maximum file size must be 66 KB)</span></label>
                                <div class="col-md-3" id="parent1" style="margin-top:20px;">
                                    {% if attachment_obj.image %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a target="_blank"
                                                                                      href="{{ attachment_obj.image.url }}"><input
                                                type="text"
                                                readonly name="photo_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 50%"
                                                value="{{ attachment_obj.image }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" accept="image/png, image/gif, image/jpeg"
                                                style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="photo_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type" accept="image/jpeg,"
                                           title="Select Photo" id="photo"
                                           name="photo">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>

                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-4 control-label">Passport ID:<br><span
                                        style="color:red;font-size: 12px">(Only formats are allowed pdf)</span></label>


                                <div class="col-md-3" id="item1">
                                    {% if attachment_obj.passport_image %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a target="_blank"
                                                                                      href="{{ attachment_obj.passport_image.url }}"><input
                                                type="text"
                                                readonly name="passport_photo_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 50%"
                                                value="{{ attachment_obj.passport_image }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="passport_photo_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type" accept="application/pdf,"
                                           title="Select Passport ID" id="passport_photo"
                                           name="passport_photo" class="doc form-control">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>


                            </div>
                        </div>

                        <br>


                        <div class="row">
                            <div class="">
                                <label class="col-md-4 control-label">Academic Certificate:<br><span
                                        style="color:red;font-size: 12px">(Only formats are allowed pdf)</span></label>
                                <div class="col-md-3" id="parent2">
                                    {% if attachment_obj.level_result_document %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a target="_blank"
                                                                                      href="{{ attachment_obj.level_result_document.url }}"><input
                                                type="text"
                                                readonly name="level_result_document_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 50%"
                                                value="{{ attachment_obj.level_result_document }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="level_result_document_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type" accept="application/pdf,"
                                           title="Select Academic Certificate" id="level_result_document"
                                           name="level_result_document">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-4 control-label">Transcript:<br><span
                                        style="color:red;font-size: 12px">(Only formats are allowed pdf)</span></label>
                                <div class="col-md-3" id="parent3">
                                    {% if attachment_obj.transcript_document %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a
                                                href="
                                                        {{ attachment_obj.transcript_document.url }}"><input
                                                type="text"
                                                readonly name="transcript_document_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 50%"
                                                value="{{ attachment_obj.transcript_document }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="transcript_document_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type" accept="application/pdf,"
                                           title="Select Transcript" id="transcript_document"
                                           name="transcript_document">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-4 control-label">English Language Proficiency Certificate:<br><span
                                        style="color:red;font-size: 12px">(Only formats are allowed pdf)</span></label>
                                <div class="col-md-3" id="parent4">
                                    {% if attachment_obj.english_test_result_document %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a target="_blank"
                                                                                      href="{{ attachment_obj.english_test_result_document.url }}"><input
                                                type="text"
                                                readonly name="english_test_result_document_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 50%"
                                                value="{{ attachment_obj.english_test_result_document }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="english_test_result_document_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type" accept="application/pdf,"
                                           title="Select English Language Proficiency Certificate"
                                           id="english_test_result_document"
                                           name="english_test_result_document">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-4 control-label">Recommendation
                                    Letter:<br><span
                                            style="color:red;font-size: 12px">(Only formats are allowed pdf)</span></label>
                                <div class="col-md-3" id="parent5">
                                    {% if attachment_obj.recommendation_letter %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a
                                                href="
                                                        {{ attachment_obj.recommendation_letter.url }}"><input
                                                type="text"
                                                readonly name="recommendation_letter_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 50%"
                                                value="{{ attachment_obj.recommendation_letter }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="recommendation_letter_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type" accept="application/pdf,"
                                           title="Select Recommendation Letter" id="recommendation_letter"
                                           name="recommendation_letter">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>

                            </div>
                        </div>


{#                        <div class="row">#}
{#                            <div class="col-md-offset-4 col-md-7">#}
{#                                {% if user.get_application %}#}
{#                                                                        {% if user.get_application.is_submitted %}#}
{#                                    <button type="submit" class="btn green" id="save" style="">Submit</button>#}
{#                                                                        <button type="submit" class="btn green" id="save" style="">Submit</button>#}
{#                                                                        {% endif %}#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}

                    <hr>

                    <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="save" style="margin-left: 70%"
                                        onclick="window.location='{% url "student:applicant_additional_information" %}'">
                                    Back
                                </button>

                                {% if user.get_application %}
{#                                    {% if not user.get_application.is_submitted %}#}
                                        <button type="submit" class="btn green" id="save" style="">Save/Next

                                        </button>
{#                                    {% endif %}#}
                                {% endif %}

                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
