{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {

            $(document).ready(function () {

                $(document).on("change", ".doc", function (e) {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['pdf'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                });


                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Qualification Info </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Co-Curriculum Details </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:save_update_applicant_curriculum_experience_info' %}"
                      id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Co-Curriculum-1:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Co-Curriculum-1" id="curriculum_name_one"
                                           name="curriculum_name_one"
                                           value="{{ curriculum_obj.curriculum_name_one }}" class="form-control"
                                           required>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Year:</label>
                                <div class="col-md-2">
                                    <select id='curriculum_year_one' title="Select Year" name="curriculum_year_one"
                                            class="form-control" required>
                                        {% if curriculum_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ curriculum_obj.curriculum_year_one }}"
                                                    value="">{{ curriculum_obj.curriculum_year_one }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in passing_year_recs %}
                                            <option value='{{ rec.year }}'>{{ rec.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Result:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select Result document"
                                           id="curriculum_result_document_one"
                                           value="{{ curriculum_obj.curriculum_result_document_one }}"
                                           name="curriculum_result_document_one" class="form-control doc">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Co-Curriculum-2:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Co-Curriculum-2" id="curriculum_name_two"
                                           name="curriculum_name_two"
                                           value="{{ curriculum_obj.curriculum_name_two }}" class="form-control"
                                           required>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Year:</label>
                                <div class="col-md-2">
                                    <select id='curriculum_year_two' title="Select Year" name="curriculum_year_two"
                                            class="form-control" required>
                                        {% if curriculum_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ curriculum_obj.curriculum_year_two }}"
                                                    value="">{{ curriculum_obj.curriculum_year_two }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in passing_year_recs %}
                                            <option value='{{ rec.year }}'>{{ rec.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Result:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select Result document"
                                           id="curriculum_result_document_two"
                                           value="{{ curriculum_obj.curriculum_result_document_two }}"
                                           name="curriculum_result_document_two" class="form-control doc">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Co-Curriculum-3:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Co-Curriculum-3" id="curriculum_name_three"
                                           name="curriculum_name_three"
                                           value="{{ curriculum_obj.curriculum_name_three }}" class="form-control"
                                           required>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Year:</label>
                                <div class="col-md-2">
                                    <select id='curriculum_year_three' title="Select Year" name="curriculum_year_three"
                                            class="form-control" required>
                                        {% if curriculum_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ curriculum_obj.curriculum_year_three }}"
                                                    value="">{{ curriculum_obj.curriculum_year_three }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in passing_year_recs %}
                                            <option value='{{ rec.year }}'>{{ rec.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Result:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select Result document"
                                           id="curriculum_result_document_three"
                                           value="{{ curriculum_obj.curriculum_result_document_three }}"
                                           name="curriculum_result_document_three" class="form-control doc">
                                </div>
                            </div>
                        </div>

                        <br>


                        <br>
                        <br>
                        <hr>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase"> Experience Details</span>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Work Experience 1 :</label>
                                <div class="col-md-1">
                                    <input type="text" title="Enter Work Experience 1" id="work_experience_one"
                                           value="{{ experience_obj.work_experience_one }}" name="work_experience_one"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Start Date:</label>
                                <div class="col-md-2">
                                    <input type="date" id="from_date_one" name="from_date_one"
                                           value="{{ experience_obj.from_date_one|date:"Y-m-d" }}" class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">End Date:

                                </label>
                                <div class="col-md-2" id="EndDate">
                                    <input type="date" id="to_date_one" name="to_date_one"
                                           value="{{ experience_obj.to_date_one|date:"Y-m-d" }}" class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Result Doc:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select Result document" id="work_experience_document_one"
                                           name="work_experience_document_one" class="form-control doc">
                                </div>
                            </div>
                        </div>


                        <br>
                        <br>
                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Work Experience 2 :</label>
                                <div class="col-md-1">
                                    <input type="text" title="Enter Work Experience 2" id="work_experience_two"
                                           name="work_experience_two" value="{{ experience_obj.work_experience_two }}"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Start Date:</label>
                                <div class="col-md-2">
                                    <input type="date" id="from_date_two" name="from_date_two"
                                           value="{{ experience_obj.from_date_two|date:"Y-m-d" }}" class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">End Date:</label>
                                <div class="col-md-2" id="EndDate">
                                    <input type="date" id="to_date_two" name="to_date_two"
                                           value="{{ experience_obj.to_date_two|date:"Y-m-d" }}" class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-1 control-label">Result Doc:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select Result document" id="work_experience_document_two"
                                           value="{{ experience_obj.work_experience_document_two }}"
                                           name="work_experience_document_two" class="form-control doc">
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <br><br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="save" style="margin-left: 70%"
                                        onclick="window.location='{% url "student:applicant_academic_english_qualification" %}'">
                                    Back
                                </button>
                                <button type="submit" class="btn green" id="save" style="">Save/Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
