{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {

            {% comment %}File.prototype.convertToBase64 = function (callback) {
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    callback(e.target.result, e.target.error);
                };
                reader.readAsDataURL(this);
            };{% endcomment %}


            $(document).ready(function () {

                {% comment %}$(document).on("change", "#partner_photo", function (e) {

                    var selectedFile = this.files[0];
                    selectedFile.convertToBase64(function (base64) {
                        var converted_base64_image = (base64);
                        $("#pic").val(converted_base64_image);
                        {#alert($('#pic').val())#}
                    })


                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                });
            });{% endcomment %}


                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Qualification Info </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Scholarship Selection </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:submit_application' %}"
                      id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Scholarship Applied:</label>
                                <div class="col-md-3">
                                    <select id='scholarship' title="Select Scholarship" name="scholarship"
                                            class="form-control">
                                        {% if scholarship_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ scholarship_obj.scholarship.id }}"
                                                    value="">{{ scholarship_obj.scholarship.scholarship_name|title }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in scholarship_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.scholarship_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Course Applied:</label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter Course Applied" id="course_applied"
                                           name="course_applied"
                                          value="{{ scholarship_obj.course_applied }}" class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">University:</label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter University" id="university" name="university"
                                         value="{{ scholarship_obj.university }}"  class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Admission Letter:</label>
                                <div class="col-md-3">
                                    <input type="file" title="Select admission letter" id="admission_letter_document"
                                          value="{{ scholarship_obj.admission_letter_document }}" name="admission_letter_document" class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>
                        <br>
                        <hr>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase"> About Yourself</span>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="">
                                {#                                <label class="col-md-2 control-label">About Yourself:</label>#}
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-6">
                                    <label>Write 600 word about yourself</label>
                                    <textarea id="about_yourself" style="height: 200px" name="about_yourself"
                                              class="form-control"> {{ about_obj.about_yourself }}</textarea>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <br><br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="save" style="margin-left: 70%"
                                        onclick="window.location='{% url "student:applicant_curriculum_experience_info" %}'">
                                    Back
                                </button>
                                <button type="submit" class="btn green" id="save" style="">Submit</button>
                                {% comment %}<button type="button" class="btn blue" id="next"
                                        onclick="window.location='{% url "student:generate_PDF" %}'">
                                    View
                                </button>{% endcomment %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
