{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                {% comment %}$(document).on("change", ".doc", function (e) {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['pdf'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                });{% endcomment %}

                $(document).on("click", ".remove_doc", function (e) {
                    var parent_id = $(this).closest('div').attr('id');
                    $('#' + parent_id + ' .emp').val('');
                });

                $(document).on("click", ".file", function (e) {
                    $(this).parent('.form-control').next('.file_type').trigger('click');
                });

                $('.file_type').change(function (evt) {

                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['pdf'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }

                    var file_name = $(this).val().split('\\')[2];
                    $(this).prev().children().children('.file_value').val(file_name);
                });


                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Psychometric Test </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Psychometric Test </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:save_psychometric_test' %}"
                      id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-3 control-label">Application Id:</label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter Application id" id="id_application_id"
                                           name="application_id"
                                           value="{{ user.get_application_id }}" class="form-control" disabled required>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-3 control-label">Result:</label>
                                <div class="col-md-3">
                                    <input type="text" title="Enter Result" id="id_result"
                                           name="result"
                                           value="{{ psychometric_test_obj.result }}" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-3 control-label">Test Result:</label>

                                <div class="col-md-3" id="item1">
                                    {% if psychometric_test_obj.test_result_document %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a
                                                href="

                                                        {{ psychometric_test_obj.applicant_id.report_path }}{{ psychometric_test_obj.test_result_document }}"><input
                                                type="text"
                                                readonly name="test_result_document_text"
                                                class="file_value emp"
                                                style="cursor: pointer;border: none; width: 100px"
                                                value="{{ psychometric_test_obj.test_result_document }}"></a>
                                        </label>
                                    {% else %}
                                        <label class="form-control"
                                               style="border-color: #b1ad9f;  width: 100%;text-align: left;"><input
                                                class="file" style="width: 50%"
                                                type='button' value='Choose File:'><a><input type="text"
                                                                                             readonly
                                                                                             name="test_result_document_text"
                                                                                             class="file_value emp"
                                                                                             style="cursor: pointer;border: none;width: 50%; color: #292328"></a></label>
                                    {% endif %}
                                    <input type="file" style="display: none" class="file_type"
                                           title="Select Test Result" id="id_test_result_document"
                                           name="test_result_document">
                                    <span style="float: right; color: darkred; cursor: pointer;margin-top: -25px"
                                          class="remove_doc fa fa-close"></span>
                                </div>
                                {% comment %}<div class="col-md-3">
                                    <input type="file" title="Select Test Result" id="id_test_result_document"
                                           name="test_result_document" class="doc form-control">
                                </div>{% endcomment %}
                            </div>
                        </div>

                        <br>
                        <br>
                        <br>

                        <div class="row">
                            <div class="col-md-offset-4 col-md-7">
                                {% if user.get_application %}
                                    {% if user.get_application.is_submitted %}
                                        <button type="submit" class="btn green" id="save" style="">Submit</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
