{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $(document).on("change", ".doc", function (e) {
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['pdf'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                });

                $(document).on("click", ".remove_doc", function (e) {
                    {#alert($(this).prev().attr('id'))#}
                    var id = $(this).prev().attr('id');
                    $('#'+id).val('');
                });


                $(document).on("click", "#course_applied", function (e) {
                    var course_applied = $(this).val();
                    var url = '/student/get_degrees/';
                    get_degrees(url, course_applied)
                })

                function get_degrees(url, course_applied) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            course_applied: course_applied,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            $('#university').empty();
                            $('#id_university').empty();

                            {#alert(data[0]['university_id'])#}

                            $('#university').val(data[0]['university']);
                            $('#id_university').val(data[0]['university_id']);

                            $('#degree_applied').empty();
                            $('#degree_applied').append(
                                '<option value="">Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#degree_applied').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['name'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Qualification Info </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Scholarship Selection </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:save_update_applicant_scholarship_about_yourself_info' %}"
                      id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Scholarship Applied:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <select id='scholarship' title="Select Scholarship" name="scholarship"
                                            class="form-control" required>
                                        {% if scholarship_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ scholarship_obj.scholarship.id }}"
                                                    value="">{{ scholarship_obj.scholarship.scholarship_name|title }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in scholarship_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.scholarship_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Course Applied:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <select id='course_applied' title="Select Course" name="course_applied"
                                            class="form-control" required>
                                        {% if scholarship_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ scholarship_obj.course_applied.id }}"
                                                    value="">{{ scholarship_obj.course_applied.program_name|title }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in course_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.program_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Degree:<span style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <select id='degree_applied' title="Select degree" name="degree_applied"
                                            class="form-control" required>
                                        {% if scholarship_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ scholarship_obj.degree.id }}"
                                                    value="">{{ scholarship_obj.degree.degree_name|title }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% comment %}{% for rec in degree_obj %}
                                            <option value='{{ rec.id }}'>{{ rec.degree_name|title }}</option>
                                        {% endfor %}{% endcomment %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>


                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">University:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <input hidden id="id_university" name="university" value="{{ scholarship_obj.university.id }}">
                                    <input id="university" readonly class="form-control" value="{{ scholarship_obj.university.university_name|title }}">
                                    {% comment %}  <select id='university' title="Select University" name="university"
                                            class="form-control" required>
                                        {% if scholarship_obj %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ scholarship_obj.university.id }}"
                                                    value="">{{ scholarship_obj.university.university_name|title }}</option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id="" value="">Please
                                                Select
                                            </option>
                                        {% endif %}

                                        {% for rec in university_obj %}
                                            <option value='{{ rec.id }}'>{{ rec.university_name|title }}</option>
                                        {% endfor %}
                                    </select>{% endcomment %}

                                    {% comment %}<input type="text" title="Enter University" id="university" name="university"
                                         value="{{ scholarship_obj.university }}"  class="form-control" required>{% endcomment %}
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Admission Letter: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-3">
                                    <input type="file" title="Select admission letter" id="admission_letter_document"
                                           value="{{ scholarship_obj.admission_letter_document }}"
                                           name="admission_letter_document" class="doc form-control" required>
                                    <span style="float: right; margin-top: -25px; color: darkred"
                                        class="remove_doc fa fa-close"></span>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>
                        <br>
                        <hr>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase"> About Yourself</span>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-6">
                                    <label>Write 600 word about yourself</label>
                                    <textarea id="about_yourself" style="height: 200px" name="about_yourself"
                                              class="form-control" required> {{ about_obj.about_yourself }}</textarea>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <br><br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="save" style="margin-left: 70%"
                                        onclick="window.location='{% url "student:applicant_curriculum_experience_info" %}'">
                                    Back
                                </button>
                                <button type="submit" class="btn green" id="save" style="">Save/Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
