{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {

            {% comment %}File.prototype.convertToBase64 = function (callback) {
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    callback(e.target.result, e.target.error);
                };
                reader.readAsDataURL(this);
            };{% endcomment %}


            $(document).ready(function () {

                {% comment %}$(document).on("change", "#partner_photo", function (e) {

                    var selectedFile = this.files[0];
                    selectedFile.convertToBase64(function (base64) {
                        var converted_base64_image = (base64);
                        $("#pic").val(converted_base64_image);
                        {#alert($('#pic').val())#}
                    })


                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        alert("Only formats are allowed : " + fileExtension.join(', '));
                        $(this).val('');
                        return false;
                    }
                });
            });{% endcomment %}


                $('#sample_1').dataTable().fnDestroy();
                $('#sample_1').dataTable({
                    "aoColumnDefs": [
                        {'bSortable': false}
                    ]
                });
            }
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Family Info </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Wife Info</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form {% comment %}action="{% url 'masters:save_manage_partner_master' %}"{% endcomment %}
                        id="form_sample_1"
                        class="form-horizontal"
                        method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Wife Name:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter First Name" id="wife_name" name="wife_name"
                                           class="form-control" required>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">DOB:</label>
                                <div class="col-md-2">
                                    <input type="date" title="Enter DOB" id="dob" name="dob"
                                           class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <br>


                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Income($):</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Income" id="wife_income"
                                           name="wife_income" class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Pay Slip:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select wife pay slip" id="wife_pay_slip"
                                           name="wife_pay_slip" class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">E-mail:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter E-mail ID" id="wife_email" name="wife_email"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Telephone (Home):</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Telephone number (Home)" id="wife_number"
                                           name="wife_number"
                                           class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Occupation:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Occupation" id="wife_occupation"
                                           name="wife_occupation"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Country:</label>
                                <div class="col-md-2">
                                    <select id='country' title="Select Country" name="country"
                                            class="form-control">
                                        <option style="display:none" selected="selected" id=""
                                                value="">Please Select
                                        </option>

                                        {% for rec in country_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.country_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <br>
                        <br>
                        <hr>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase"> Father Info</span>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Father Name:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter First Name" id="father_name" name="father_name"
                                           class="form-control" required>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">DOB:</label>
                                <div class="col-md-2">
                                    <input type="date" title="Enter DOB" id="dob" name="dob"
                                           class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <br>


                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Income($):</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Income" id="father_income"
                                           name="father_income" class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Pay Slip:</label>
                                <div class="col-md-2">
                                    <input type="file" title="Select father pay slip" id="father_pay_slip"
                                           name="father_pay_slip" class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">E-mail:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter E-mail ID" id="father_email" name="father_email"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Telephone (Home):</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Telephone number (Home)" id="father_number"
                                           name="father_number"
                                           class="form-control">
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Occupation:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Enter Occupation" id="father_occupation"
                                           name="father_occupation"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Country:</label>
                                <div class="col-md-2">
                                    <select id='country' title="Select Country" name="country"
                                            class="form-control">
                                        <option style="display:none" selected="selected" id=""
                                                value="">Please Select
                                        </option>

                                        {% for rec in country_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.country_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <br><br>

                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="save" style="margin-left: 70%"
                                        onclick="window.location='{% url "student:applicant_personal_info" %}'">Back
                                </button>
                                <button type="submit" class="btn green" id="save" style="">Save</button>
                                <button type="button" class="btn blue" id="next"
                                        onclick="window.location='{% url "student:applicant_family_mother_sibling_info" %}'">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
