{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}
{% block styleBlock %}

    </head>
    <!-- END HEAD -->
    <style type="text/css">
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {


            $(document).ready(function () {

                 $("#id_credit_based").removeClass("active");
                $("#tab_1_1_2").removeClass("active");

                $("#id_semester_based").addClass("active");
                $("#tab_1_1_1").addClass("active");

                $('#id_credit_based').css('pointer-events', 'none');





                $(document).on("change", "#year", function (e) {
                    var year_id = $(this).val();
                    var program_id = $('#program_id').val();
                    var url = '/student/get_semester_from_year/';
                    get_semester_from_year(url, year_id, program_id)
                })

                 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("data-id")
                    var priorities = target
                   if (parseInt(priorities) == 1) {
                        $(location).prop('href', "{% url 'student:semester_course_registration' %}")

                    }
                     else if(parseInt(priorities) == 2){
                         $(location).prop('href', "{% url 'student:credit_course_registration' %}")

                     }


                });

                function get_semester_from_year(url, year_id, program_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            year_id: year_id,
                            program_id: program_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#semester').empty();
                            $('#semester').append(
                                '<option value="" >Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#semester').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['semester'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $('#example').dataTable();
                $('#example_2').dataTable();


                $('.select_all').click(function () {
                    var checked_status = this.checked;
                    $(this).closest('table').find('input:checkbox').each(function () {
                        this.checked = checked_status;
                    });
                })

                $('.select_all_2').click(function () {
                    var checked_status = this.checked;
                    $(this).closest('table').find('input:checkbox').each(function () {
                        this.checked = checked_status;
                    });
                })

                $('.select_all_3').click(function () {
                    var checked_status = this.checked;
                    $(this).closest('table').find('input:checkbox').each(function () {
                        this.checked = checked_status;
                    });
                })


                $('.status_change').click(function () {
                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());
                    });
                    {#alert(JSON.stringify(favorite));#}
                    $("#check_ids").val(JSON.stringify(favorite));
                    $('#form_submit').submit()
                })


                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("data-id")
                    $("#priorities").val(target);
                    var priorities = $("#priorities").val();
                    if (parseInt(priorities) == 1) {
                        $('#example').find('input[name="select_all"]:checked').removeAttr("checked");
                        $('#example').find('input[name="check"]:checked').removeAttr("checked");
                        $('#example_2').find('input[name="select_all_2"]:checked').removeAttr("checked");
                        $('#example_2').find('input[name="check"]:checked').removeAttr("checked");
                        $('#example_3').find('input[name="select_all_3"]:checked').removeAttr("checked");
                        $('#example_3').find('input[name="check"]:checked').removeAttr("checked");
                    } else if (parseInt(priorities) == 2) {
                        $('#example').find('input[name="select_all"]:checked').removeAttr("checked");
                        $('#example').find('input[name="check"]:checked').removeAttr("checked");
                        $('#example_2').find('input[name="select_all_2"]:checked').removeAttr("checked");
                        $('#example_2').find('input[name="check"]:checked').removeAttr("checked");
                        $('#example_3').find('input[name="select_all_3"]:checked').removeAttr("checked");
                        $('#example_3').find('input[name="check"]:checked').removeAttr("checked");
                    } else if (parseInt(priorities) == 3) {
                        $('#example').find('input[name="select_all"]:checked').removeAttr("checked");
                        $('#example').find('input[name="check"]:checked').removeAttr("checked");
                        $('#example_2').find('input[name="select_all_2"]:checked').removeAttr("checked");
                        $('#example_2').find('input[name="check"]:checked').removeAttr("checked");
                        $('#example_3').find('input[name="select_all_3"]:checked').removeAttr("checked");
                        $('#example_3').find('input[name="check"]:checked').removeAttr("checked");

                    }


                });


            });

            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>

{% endblock %}


{% block content %}





    <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li id="id_semester_based" class="active">
                                    <a data-id="1" href="#tab_1_1_1" data-toggle="tab" >
                                        COURSE REGISTRATION (Semester Based System) </a>
                                </li>
                                <li id="id_credit_based">
                                    <a data-id="2" href="#tab_1_1_2" data-toggle="tab">
                                        COURSE REGISTRATION (Credit Based System) </a>
                                </li>

                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1_1">
                                <br>

                <br><div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Name:</label>
                        <div class="col-md-3">
                            <span style="text-transform: uppercase">{{ application_obj.first_name|default_if_none:"" }} {{ application_obj.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Matric No:</label>
                        <div class="col-md-3">
                            {{ matric_no|default_if_none:"" }}
                        </div>
                    </div>


                </div>
                <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Status:</label>
                        <div class="col-md-3">
                            <span style="color: green">ACTIVE</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">University:</label>
                        <div class="col-md-3">
                            {{ application_obj.university.university_name|default_if_none:"" }}
                        </div>
                    </div>


                </div>
                <br>
                <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Programme:</label>
                        <div class="col-md-3">
                            {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}
                                {{ application_obj.program.program_name|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}
                                {{ application_obj.program_2.program_name|default_if_none:"" }}
                                {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.program_3.program_name|default_if_none:"" }} {% else %}
                                {{ application_obj.program.program_name|default_if_none:"" }}{% endif %}
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Mode:</label>
                        <div class="col-md-3">
                            {% if application_obj.choice_1 == True and application_obj.choice_2 == False and application_obj.choice_3 == False %}
                                {{ application_obj.program_mode.study_type|default_if_none:"" }}{% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == False %}
                                {{ application_obj.program_mode_2.study_type|default_if_none:"" }}
                                {% elif  application_obj.choice_1 == True and application_obj.choice_2 == True and application_obj.choice_3 == True %}{{ application_obj.program_mode_3.study_type|default_if_none:"" }} {% else %}
                                {{ application_obj.program_mode.study_type|default_if_none:"" }}{% endif %}
                        </div>
                    </div>


                </div>


                <hr>
                <form action="{% url 'student:semester_course_registration' %}"
                      id="edit_study_plan_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="program_id" id="program_id" value="{{ program_id }}">

                    <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">


                        <div class="">
                            <label style="text-align:left" class="col-md-2 control-label">Select Year:</label>
                            <div class="col-md-3">
                                <select id='year' title="Select Year" required
                                        name="year"
                                        class="form-control chk">
                                    {% if year_obj %}
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ year_obj.id }}">
                                            {{ year_obj.year_name|default_if_none:"" }}
                                        </option>
                                    {% else %}
                                        <option style="display:none" selected="selected" id="" value="">
                                            Please
                                            Select
                                        </option>
                                    {% endif %}
                                    {% for rec in year_list %}
                                        <option value='{{ rec.id }}'>{{ rec.year_name|default_if_none:"" }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>



                    </div>
                    <br>
                    <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">
                        <div class="">
                            <label style="text-align:left" class="col-md-2 control-label">Select Semester:</label>
                            <div class="col-md-3">
                                <select id='semester' title="Select Semester" required
                                        name="semester"
                                        class="form-control chk">

                                    {% if study_plan_obj %}
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ study_plan_obj.id }}">
                                            {{ study_plan_obj.study_semester.semester|default_if_none:"" }} {{ study_plan_obj.study_semester.start_date|date:"Y-m-d" }} - {{ study_plan_obj.study_semester.end_date|date:"Y-m-d" }}
                                        </option>
                                    {% else %}
                                        <option style="display:none" selected="selected" id="" value="">
                                            Please
                                            Select
                                        </option>
                                    {% endif %}

                                    {% for rec in semester_list %}
                                        <option value='{{ rec.id }}'>{{ rec.semester|default_if_none:"" }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="">
                            <div class="col-md-3">
                                <button type="submit" class="btn green" id="back"
                                >
                                    Filter
                                </button>
                            </div>
                        </div>

                    </div>


                </form>
                <hr>

                {% if course_filter %}
                     <form method="post" action="{% url 'payments:course_registration_checkout' study_plan_obj.id %}" id="form_submit">


                            {% csrf_token %}

                    <input type="text" hidden id="check_ids" name="check_ids">
                    <input type="text" hidden id="total_unit" name="total_unit" value="{{ unit_count }}">

                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-red"></i>
                            <span class="caption-subject font-red sbold uppercase"> {% trans 'ADD COURSES' %}</span>
                        </div>
                    </div>
                    <br>
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a data-id="1" href="#tab_1_1_1" data-toggle="tab" style="text-align: left">
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <table name="data"
                                       class="data table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                                       id="example" role="grid" aria-describedby="sample_1_info">
                                    <thead>
                                    <tr>
                                        <th style="display: none"></th>
                                        <th>
                                            <input name="select_all" id="select_all" class="select_all" value="1"
                                                   type="checkbox" disabled checked>

                                        </th>
                                        <th>{% trans 'Code' %}</th>
                                        <th>{% trans 'Title' %}</th>
                                        <th>{% trans 'Type' %}</th>
                                        <th>{% trans 'Unit' %}</th>
                                    </tr>
                                    </thead>

                                    <tbody id="tbody">
                                    {% for rec in course_recs %}
                                        <tr id="item{{ forloop.counter }}" class="item">
                                            <td style="display: none">
                                                <input id="application_id" class="application_id"
                                                       value="{{ rec.id }}">
                                            </td>

                                            <td>
                                                <input name="check" type="checkbox" class="checkboxes" disabled checked
                                                       value="{{ rec.id }}">
                                            </td>
                                            <td>
                                                {{ rec.code|default_if_none:"" }}
                                            </td>
                                            <td>
                                                {{ rec.title|default_if_none:"" }}
                                            </td>
                                            <td>
                                                {{ rec.type|default_if_none:"" }}
                                            </td>
                                            <td>
                                                {{ rec.unit|default_if_none:"" }}
                                            </td>


                                        </tr>


                                    {% endfor %}

                                    <tr id="item{{ forloop.counter }}" class="item">
                                            <td style="display: none">
                                                <input id="application_id" class="application_id"
                                                       value="{{ rec.id }}">
                                            </td>

                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <b>{{ unit_count }}</b>
                                            </td>


                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-offset-10 col-md-7">

                            <button type="submit" class="btn blue status_change" id="save_form" style="margin-left:14%">
                                Proceed
                            </button>
                        </div>
                    </div>

                     </form>

                {% endif %}
                                </div>
                                <div class="tab-pane" id="tab_1_1_2">


                                </div>


                            </div>
                        </div>






{% endblock %}
