{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}
{% block styleBlock %}

    </head>
    <!-- END HEAD -->
    <style type="text/css">
    </style>
{% endblock %}
{% block ScriptBlock %}
    <script>
        window.onload = function () {


            $(document).ready(function () {

                    $("#id_semester_based").removeClass("active");
                     $("#tab_1_1_1").removeClass("active");

                     $("#id_credit_based").addClass("active");
                     $("#tab_1_1_2").addClass("active");

                     $('#id_semester_based').css('pointer-events', 'none');


                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("data-id")
                    var priorities = target
                    if (parseInt(priorities) == 1) {
                        $(location).prop('href', "{% url 'student:semester_course_registration' %}")

                    } else if (parseInt(priorities) == 2) {
                        $(location).prop('href', "{% url 'student:credit_course_registration' %}")

                    }


                });


                $('#example').dataTable();
                $('#example_2').dataTable();


                $('.select_all').click(function () {
                    var checked_status = this.checked;
                    $(this).closest('table').find('input:checkbox').each(function () {
                        this.checked = checked_status;
                    });
                })

                  $(document).on("change", "#year", function (e) {
                    var year_id = $(this).val();
                    var program_id = $('#program_id').val();
                    var url = '/student/get_credit_semester_from_year/';
                    get_credit_semester_from_year(url, year_id, program_id)
                })

                function get_credit_semester_from_year(url, year_id, program_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            year_id: year_id,
                            program_id: program_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#semester').empty();
                            $('#semester').append(
                                '<option value="" >Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#semester').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['semester'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $('.credit_status_change').click(function () {
                    var min_credit = parseInt($('#min_credit').val());
                    var max_credit = parseInt($('#max_credit').val());

                    var checked = $('#example').find('input[name="check"]:checked').length;
                    if (!checked) {
                        alert('Please select at least one record to proceed..!');
                        return false;
                    }

                    var total_unit = 0;
                    $.each($("input[name='check']:checked"), function () {
                        var parent_id = $(this).closest('tr').attr('id');
                        var unit = parseInt($('#' + parent_id + ' .unit').val());
                        total_unit = total_unit + unit
                    });

                    if (total_unit < min_credit) {
                        alert('Reminder of Credit Hours Below limit. Return and make sure not bellowing ' + min_credit + ' credit hours.');
                        return false;
                    } else if (total_unit > max_credit) {
                        alert('Reminder of Credit Hours Exceeds limit. Return and make sure not exceeding ' + max_credit + ' credit hours.');
                        return false;
                    }


                    var favorite = [];
                    $.each($("input[name='check']:checked"), function () {
                        favorite.push($(this).val());
                    });
                    {#alert(JSON.stringify(favorite));#}
                    $("#check_ids").val(JSON.stringify(favorite));
                    $('#credit_form_submit').submit()
                })


            });

            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });

            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        }
    </script>

{% endblock %}


{% block content %}




    <div class="tabbable-custom nav-justified">
        <ul class="nav nav-tabs nav-justified">
            <li id="id_semester_based">
                <a data-id="1" href="#tab_1_1_1" data-toggle="tab">
                    COURSE REGISTRATION (Semester Based System) </a>
            </li>
            <li id="id_credit_based" class="active">
                <a data-id="2" href="#tab_1_1_2" data-toggle="tab">
                    COURSE REGISTRATION (Credit Based System) </a>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tab_1_1_1">
            </div>
            <div class="tab-pane active" id="tab_1_1_2">
                <br>


                <br>
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">

                        <li  class="active">
                            <a data-id="11" href="#tab_1_1_1_1" data-toggle="tab">
                                Available Courses </a>
                        </li>

                        <li  class="">
                            <a data-id="12" href="#tab_1_1_1_2" data-toggle="tab">
                                Registered Courses </a>
                        </li>

                    </ul>

                    <div class="tab-content">
                     <br>

                        <div class="tab-pane active" id="tab_1_1_1_1">
                <form action="{% url 'student:credit_course_registration' %}"
                      id="edit_study_plan_form"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="program_id" id="program_id" value="{{ program_id }}">

                    <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">


                        <div class="">
                            <label style="text-align:left" class="col-md-2 control-label">Select Year:</label>
                            <div class="col-md-3">
                                <select id='year' title="Select Year" required
                                        name="year"
                                        class="form-control chk">
                                    {% if year_obj %}
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ year_obj.id }}">
                                            {{ year_obj.year_name|default_if_none:"" }}
                                        </option>
                                    {% else %}
                                        <option style="display:none" selected="selected" id="" value="">
                                            Please
                                            Select
                                        </option>
                                    {% endif %}
                                    {% for rec in year_list %}
                                        <option value='{{ rec.id }}'>{{ rec.year_name|default_if_none:"" }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">
                        <div class="">
                            <label style="text-align:left" class="col-md-2 control-label">Select Semester:</label>
                            <div class="col-md-3">
                                <select id='semester' title="Select Semester" required
                                        name="semester"
                                        class="form-control chk">

                                    {% if credit_study_plan_obj %}
                                        <option style="display:none" selected="selected" id=""
                                                value="{{ credit_study_plan_obj.id }}">
                                            {{ credit_study_plan_obj.semester.semester|default_if_none:"" }} {{ credit_study_plan_obj.semester.start_date|date:"Y-m-d" }} - {{ credit_study_plan_obj.semester.end_date|date:"Y-m-d" }}
                                        </option>
                                    {% else %}
                                        <option style="display:none" selected="selected" id="" value="">
                                            Please
                                            Select
                                        </option>
                                    {% endif %}

                                    {% for rec in semester_list %}
                                        <option value='{{ rec.id }}'>{{ rec.semester|default_if_none:"" }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="">
                            <div class="col-md-3">
                                <button type="submit" class="btn green" id="back"
                                >
                                    Filter
                                </button>
                            </div>
                        </div>

                    </div>


                </form>


                    <hr>

                        {% if credit_course_filter %}

                            <form method="post" action="{% url 'student:submit_credit_course' %}"
                                  id="credit_form_submit">


                                {% csrf_token %}
                                <input type="hidden" value="{{ credit_study_plan_obj.min_credit|default_if_none:"" }}"
                                       name="min_credit" id="min_credit">
                                <input type="hidden" value="{{ credit_study_plan_obj.max_credit|default_if_none:"" }}"
                                       name="max_credit" id="max_credit">
                                <input type="hidden" name="program_id" id="program_id" value="{{ program_id }}">
                                <input type="text" hidden id="check_ids" name="check_ids">

                                <br>
                                <div style="margin-left: 0px !important; margin-right: 0px !important;" class="row">

                                    <div class="">
                                        <label class="col-md-2 control-label">Min Number of Credits:</label>
                                        <div class="col-md-2">
                                            <span style="text-transform: uppercase">{{ credit_study_plan_obj.min_credit|default_if_none:"" }}</span>
                                        </div>
                                    </div>

                                    <div class="">
                                        <label class="col-md-2 control-label">Max Number of Credits:</label>
                                        <div class="col-md-2">
                                            {{ credit_study_plan_obj.max_credit|default_if_none:"" }}
                                        </div>
                                    </div>


                                </div>
                                <hr>
                                <table name="data"
                                       class="data table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                                       id="example" role="grid" aria-describedby="sample_1_info">
                                    <thead>
                                    <tr>
                                        <th style="display: none"></th>
                                        <th>
                                            <input name="select_all" id="select_all" class="select_all" value="1"
                                                   type="checkbox">

                                        </th>
                                        <th>{% trans 'Code' %}</th>
                                        <th>{% trans 'Title' %}</th>
                                        <th>{% trans 'Type' %}</th>
                                        <th>{% trans 'Prerequisite' %}</th>
                                        <th>{% trans 'Action' %}</th>
                                        {#                                        <th>{% trans 'Course' %}</th>#}
                                        <th>{% trans 'Unit' %}</th>
                                    </tr>
                                    </thead>

                                    <tbody id="tbody">
                                    {% for rec in credit_course_list %}
                                        <tr id="item{{ forloop.counter }}" class="item">
                                            <td style="display: none">
                                                <input id="application_id" class="application_id"
                                                       value="{{ rec.id }}">
                                            </td>

                                            <td>
                                                <input name="check" type="checkbox" class="checkboxes"
                                                       value="{{ rec.id }}">
                                            </td>
                                            <td>
                                                {{ rec.code|default_if_none:"" }}
                                            </td>
                                            <td>
                                                {{ rec.title|default_if_none:"" }}
                                            </td>
                                            <td>
                                                {{ rec.type|default_if_none:"" }}
                                            </td>

                                            <td>
                                                {{ rec.is_prerequisite|default_if_none:"" }}
                                            </td>

                                            <td>
                                                {% if rec.is_prerequisite == 'Yes' %}
                                                    {% if rec.course_registered %}
                                                    <i style="color: green" class="fa fa-check" aria-hidden="true"></i>
                                                {% else %}
                                                    <a href="{% url 'student:add_prerequisite_courses' rec.id %}" id="add" class="">Add Prerequisite Course</a>

                                                {% endif %}
                                                {% endif %}




                                            </td>

                                            <td width="5%">
                                                <input class="form-control data unit" name="" type="text"
                                                       id="unit_{{ forloop.counter }}"
                                                       value="{{ rec.unit|default_if_none:"" }}"

                                                       disabled>

                                            </td>


                                        </tr>


                                    {% endfor %}


                                    </tbody>
                                </table>
                                {% if credit_course_recs %}
                                    <br>


                                    <div class="row">
                                        <div class="col-md-offset-10 col-md-7">

                                            <button type="submit" class="btn blue credit_status_change"
                                                    id="save_form_credit" style="margin-left:14%">
                                                Proceed
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                            </form>
                        {% endif %}

                             </div>





                        <div class="tab-pane" id="tab_1_1_1_2">
                            <table name="data"
                                   class="data table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
                                   id="example_2" role="grid" aria-describedby="sample_1_info">
                                <thead>
                                <tr>
                                    <th style="display: none"></th>

                                    <th>{% trans 'Code' %}</th>
                                    <th>{% trans 'Title' %}</th>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'Prerequisite' %}</th>
                                    <th>{% trans 'Course' %}</th>
                                    <th>{% trans 'Unit' %}</th>
                                </tr>
                                </thead>

                                <tbody id="tbody">
                                {% for rec in registered_course_recs %}
                                    <tr id="item{{ forloop.counter }}" class="item">
                                        <td style="display: none">
                                            <input id="application_id" class="application_id"
                                                   value="{{ rec.id }}">
                                        </td>


                                        <td>
                                            {{ rec.course.code|default_if_none:"" }}
                                        </td>
                                        <td>
                                            {{ rec.course.title|default_if_none:"" }}
                                        </td>
                                        <td>
                                            {{ rec.course.type|default_if_none:"" }}
                                        </td>

                                        <td>
                                            {% if rec.course.is_prerequisite == True %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if rec.course.course %}
                                                {{ rec.course.course.course|default_if_none:"" }}
                                            {% else %}
                                                -

                                            {% endif %}
                                        </td>
                                        <td width="5%">
                                            <input class="form-control data unit" name="" type="text"
                                                   id="unit_{{ forloop.counter }}"
                                                   value="{{ rec.course.unit|default_if_none:"" }}"

                                                   disabled>

                                        </td>


                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>


            </div>


        </div>
    </div>






{% endblock %}
