{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }

        {% comment %} hr {
     display: block;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     margin-left: auto;
     margin-right: auto;
     border-style: inset;
     border-width: 0.5px;
 }{% endcomment %}

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {


            $(document).ready(function () {

                /*
                var university = $('#university').val();
                var url = '/masters/get_year_from_university/';
                get_year_from_university(url,university)
                */


                $(document).on("change", "#country", function (e) {
                    var country_id = $(this).val();
                    var url = '/student/get_learning_centre_from_country/';
                    get_learning_center_from_country(url, country_id)
                })
                $('input[type="radio"]').on('change', function () {
                    var university_type = $('input[name="university_type"]:checked').val();
                    var url = '/student/get_university_from_type/';
                    get_university_from_university_type(url, university_type)


                })

                $(document).on("change", "#year", function (e) {
                    var year = $(this).val();
                    var university = $('#university').val();
                    var url = '/masters/get_intake_semester_from_year/';
                    get_intake_semester_from_year(url, year, university)
                })

                $(document).on("change", "#university", function (e) {
                    var university = $(this).val();
                    var url = '/masters/get_year_from_university/';
                    get_year_from_university(url, university)
                    {#var study_mode = $('#study_mode').val();#}
                    {#var study_level = $('#study_level').val();#}
                    {#var faculty = $('#faculty').val();#}
                    {#var department = $('#department').val();#}
                    {#var url = '/masters/get_programs_from_filter/';#}
                    {#get_programs_from_filter(url, study_mode,university,study_level,faculty,department)#}
                })


                $(document).on("change", "#study_mode", function (e) {
                    var study_mode = $(this).val();
                    var study_level = $('#study_level').val();
                    var url = '/masters/get_faculty_from_study_mode/';
                    get_faculty_from_study_mode(url, study_mode, study_level)
                })


                function get_faculty_from_study_mode(url, study_mode, study_level) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            study_mode: study_mode,
                            study_level: study_level,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#faculty').empty();
                            $('#faculty').append(
                                '<option value="" >Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#faculty').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['faculty'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                $(document).on("change", "#study_level", function (e) {
                    var study_level = $(this).val();
                    var study_mode = $('#study_mode').val();
                    {#var university = $('#university').val();#}
                    {#var faculty = $('#faculty').val();#}
                    {#var department = $('#department').val();#}
                    var url = '/masters/get_faculty_from_study_level/';
                    get_faculty_from_study_level(url, study_mode, study_level)
                })

                function get_faculty_from_study_level(url, study_mode, study_level) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            study_mode: study_mode,
                            study_level: study_level,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            $('#faculty').empty();
                            $('#faculty').append(
                                '<option value="" >Please select</option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#faculty').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['faculty'] + '</option>')
                            }
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $(document).on("change", "#faculty1", function (e) {
                    var faculty = $(this).val();
                    var study_mode = $('#study_mode').val();
                    var university = $('#university').val();
                    var department = $('#department').val();
                    var study_level = $('#study_level').val();
                    var url = '/masters/get_programs_from_filter/';
                    get_programs_from_filter(url, study_mode, university, study_level, faculty, department)
                })

                $(document).on("change", "#department", function (e) {
                    var department = $(this).val();
                    var study_mode = $('#study_mode').val();
                    var university = $('#university').val();
                    var study_level = $('#study_level').val();
                    var faculty = $('#faculty').val();
                    var url = '/masters/get_programs_from_filter/';
                    get_programs_from_filter(url, study_mode, university, study_level, faculty, department)
                })

                $(document).on("change", "#faculty", function (e) {
                    var faculty_id = $(this).val();
                    var url = '/masters/get_departments_from_faculty/';
                    get_departments_from_faculty(url, faculty_id)
                })


                $(document).on("change", "#program1", function (e) {
                    var program_id = $(this).val();
                    var url = '/student/get_branch_campus_from_program/';
                    get_branch_from_program(url, program_id)
                })





                {% if user.get_application %}
                    {% if user.get_application.is_submitted %}
                        $('.submitted').prop('readonly', 'True')
                    {% endif %}
                {% endif %}




            });

            function get_year_from_university(url, university) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university: university,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#year').empty();
                        $('#year').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#year').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['year'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_intake_semester_from_year(url, year, university) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        year: year,
                        university: university,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#semester').empty();
                        $('#semester').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#semester').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['semester'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_learning_center_from_country(url, country_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        country_id: country_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {


                        $('#learning_centre').empty();
                        $('#learning_centre').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#learning_centre').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['learning_centre_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_departments_from_faculty(url, faculty_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        faculty_id: faculty_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#department').empty();
                        $('#department').append(
                            '<option value="" >Please Select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#department').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['department'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_programs_from_filter(url, study_mode, university, study_level, faculty, department) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        study_mode: study_mode,
                        university: university,
                        study_level: study_level,
                        faculty: faculty,
                        department: department,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#program').empty();
                        $('#program').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#program').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['program'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_university_from_university_type(url, university_type) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        university_type: university_type,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#university').empty();
                        $('#university').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            $('#university').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['university_name'] + '</option>')
                        }
                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }

            function get_branch_from_program(url, program_id) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        program_id: program_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {

                        $('#campus').empty();
                        $('#campus').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length - 1; i++) {
                            $('#campus').append(
                                '<option value="' + data[i]['id'] + '">'
                                + data[i]['campus_name'] + '</option>')
                        }

                        $('#faculty').empty();
                        $('#faculty').append(
                            '<option value="" >Please select</option>');
                        for (var i = 0; i < data.length; i++) {
                            if (i === (data.length - 1)) {
                                $('#faculty').append(
                                    '<option value="' + data[i]['id'] + '">'
                                    + data[i]['faculty_name'] + '</option>')

                            }

                        }

                    },
                    error: function (xhr, msg, err) {
                        alert(xhr.responseJSON.error);
                    }
                });
            }


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">{% trans 'Home' %}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>{% trans 'Intake Info' %}</span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% trans 'Intake Info' %}</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'student:save_update_applicant_intake_info' %}"
                      id="form_save"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" value="{{ application_obj.id }}" id="application_id" name="application_id">

                    <div class="form-body">
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'University Type' %}: <span
                                        style="color: red">*</span></label>
                                {% if application_obj.university %}
                                    <div class="col-md-4">
                                        {% if  application_obj.university.is_partner_university == False %}
                                            <input class="current" type="radio" checked name="university_type"
                                                   id="university_main"
                                                   value="Main">
                                            <span style="padding:inherit">{% trans 'Main' %}</span>&nbsp;&nbsp;
                                            <input class="current" type="radio" name="university_type" value="Partner"
                                                   id="university_partner">
                                            <span style="padding:inherit">{% trans 'International' %}</span>
                                        {% else %}
                                            <input class="current" type="radio" name="university_type"
                                                   id="university_main"
                                                   value="Main">
                                            <span style="padding:inherit">{% trans 'Main' %}</span>&nbsp;&nbsp;
                                            <input class="current" type="radio" checked name="university_type"
                                                   value="Partner"
                                                   id="university_partner">
                                            <span style="padding:inherit">{% trans 'International' %}</span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="col-md-4">
                                        <input class="current" type="radio" checked name="university_type"
                                               id="university_main"
                                               value="Main">
                                        <span style="padding:inherit">{% trans 'Main' %}</span>&nbsp;&nbsp;
                                        <input class="current" type="radio" name="university_type" value="Partner"
                                               id="university_partner">
                                        <span style="padding:inherit">{% trans 'International' %}</span>
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'University' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='university' title="Select University" name="university"
                                            class="form-control value_check" required>

                                        {% if application_obj.university %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.university.id }}"
                                            >{{ application_obj.university.university_name|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected"
                                                    value="">{% trans 'Please Select' %}</option>
                                        {% endif %}

                                        {% for rec in university_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.university_name|default_if_none:"" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <input hidden id="value_check" name="value_check">


                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Academic Year' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='year' title="Select Year" name="year"
                                            class="form-control value_check" required>

                                        {% if application_obj.academic_year %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.year.id }}"
                                            >{{ application_obj.academic_year.year_name|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in year_recs %}
                                            <option value='{{ rec.year.id }}'>{{ rec.year.year_name|default_if_none:"" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                        </div>


                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Intake/Semester' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='semester' title="Select Semester" name="semester"
                                            class="form-control value_check" required>

                                        {% if application_obj.semester %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.semester.id }}"
                                            >{{ application_obj.semester.semester|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in semester_recs %}
                                            {% for sem in rec.semester.all %}
                                                <option value='{{ sem.id }}'>{{ sem.semester|default_if_none:"" }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <hr>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">{% trans 'LEARNING CENTRE INFO' %}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label">Country:</label>
                                <div class="col-md-4">
                                    <select id='country' title="Select Country" name="country"
                                            class="form-control value_check" data-live-search="true">

                                        {% if application_obj.learning_country %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.learning_country.id }}"
                                                    value="">{{ application_obj.learning_country.country_name|title }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in country_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.country_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                            </div>


                        </div>
                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Learning Centre' %}:</label>
                                <div class="col-md-4">
                                    <select id='learning_centre' title="Select Learning Centre" name="learning_centre"
                                            class="form-control value_check" data-live-search="true">

                                        {% if application_obj.learning_centre %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.learning_centre.id }}"
                                                    value="">{{ application_obj.learning_centre.lc_name|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in learning_centre_list %}
                                            <option value='{{ rec.id }}'>{{ rec.learning_centre_name|default_if_none:"" }}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                            </div>

                        </div>
                        <br>

                        <hr>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">{% trans 'ACADEMIC PROGRAM DETAILS' %}</span>
                            </div>
                        </div>
                        <hr>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Mode of Study' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='study_mode' title="Select Mode of Study" name="study_mode"
                                            class="form-control value_check" data-live-search="true" required>

                                        {% if application_obj.study_mode %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.study_mode }}"
                                                    value="">{{ application_obj.study_mode|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in study_mode_list %}
                                            <option value='{{ rec }}'>{{ rec }}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                            </div>


                        </div>
                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Level of Study' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='study_level' title="Select Level of Study" name="study_level"
                                            class="form-control value_check" data-live-search="true" required>

                                        {% if application_obj.study_level %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.study_level.id }}"
                                                    value="">{{ application_obj.study_level|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in study_level_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.study_level|default_if_none:"" }}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                            </div>
                        </div>
                        <br>
                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Faculty' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='faculty' title="Select Faculty" name="faculty"
                                            class="form-control value_check" data-live-search="true" required>

                                        {% if application_obj.faculty %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.faculty.id }}"
                                                    value="">{{ application_obj.faculty.faculty_name|default_if_none:"" }}</option>
                                        {% else %}
                                            <option disabled selected="selected" id=""
                                                    value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in faculty_final_list %}
                                            <option value='{{ rec.id }}'>{{ rec.faculty|default_if_none:"" }}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                            </div>


                        </div>
                        <br>
                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Department' %}:<span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='department' title="Select Department" name="department"
                                            class="form-control value_check" data-live-search="true" required>

                                        {% if application_obj.department %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.department.id }}"
                                                    value="">{{ application_obj.department.department|default_if_none:"" }}</option>
                                        {% else %}
                                            <option selected="selected" id="" value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in department_recs %}
                                            <option value='{{ rec.id }}'>{{ rec.department|default_if_none:"" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                            </div>

                        </div>
                        <br>

                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Program' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='program' title="Select Program" name="program"
                                            class="form-control value_check" data-live-search="true" required>

                                        {% if application_obj.program %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.program.id }}"
                                                    value="">{{ application_obj.program.program_name|default_if_none:"" }}</option>
                                        {% else %}
                                            <option selected="selected" id="" value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in program_final_list %}
                                            <option value='{{ rec.id }}'>{{ rec.program|default_if_none:"" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                            </div>


                        </div>
                        <br>


                        <div class="row">


                            <div class="">
                                <label class="col-md-2 control-label">{% trans 'Program Mode' %}: <span
                                        style="color: red">*</span></label>
                                <div class="col-md-4">
                                    <select id='program_mode' title="Select Program Mode" name="program_mode"
                                            class="form-control value_check" data-live-search="true" required>

                                        {% if application_obj.program_mode %}
                                            <option style="display:none" selected="selected"
                                                    value="{{ application_obj.program_mode.id }}"
                                                    value="">{{ application_obj.program_mode.study_type|default_if_none:"" }}</option>
                                        {% else %}
                                            <option selected="selected" id="" value="">{% trans 'Please Select' %}
                                            </option>
                                        {% endif %}

                                        {% for rec in study_type_recs %}
                                                <option value="{{ rec.id }}">{{ rec.study_type|default_if_none:"" }}</option>
                                            {% endfor %}
                                    </select>
                                </div>


                            </div>


                        </div>
                        <br>


                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "student:applicant_personal_info" %}'">{% trans 'Back' %}
                                </button>

                                {#                            {% if application_obj.application_id %}#}
                                <button type="submit" class="btn green" id="save">{% trans 'Save/Next' %}</button>
                                {#                            {% endif %}#}
                                {% comment %}
                                    <button type="button" class="btn blue" id="next"
                                            onclick="window.location='{% url "student:applicant_academic_english_qualification" %}'">
                                        Next
                                    </button>{% endcomment %}
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
