{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $(".pdf_class").on('click', function (e) {
                    window.open($(this).attr("data-href"), '_blank');
                });

                $(document).on("click", "#save_form", function () {
                    $('#id_accept_student_model').modal();
                    {#$("#form_sample_1").submit();#}
                });

                $(document).on("click", "#submit_appplication", function () {
                    $('#id_accept_student_model').modal();
                    $("#form_sample_1").submit();
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> My Application </span>

            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">My Application</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> PERSONAL INFO (BIOGRAPHICAL INFORMATION)</span>
                    <form action="{% url 'partner:application_all_details_pdf' application_obj.id %}" id="form_pdf_id"
                          class="form-horizontal" target="_blank"
                          method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    </form>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Profile Pic:</label>
                        <div class="col-md-2">
                            <a href="{{ attachement_obj.0.image.url }}" download>
                                <img src="{{ attachement_obj.0.image.url }}" alt="image"
                                     width="104" height="142">
                            </a>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">First Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.first_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Middle Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.middle_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Last Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Surname:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.surname|default_if_none:"" }}</span>
                        </div>
                    </div>
                    <div class="">
                        <label class="col-md-1 control-label">Passport No:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.passport_number|default_if_none:"" }}</span>

                        </div>
                    </div>

                </div>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> CONTACT INFO</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">E-mail:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.email|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Mobile:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.mobile|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">WhatsApp:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.whats_app|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.country|title|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Postcode:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.post_code|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Address line 1:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.residential_address|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Address line 2:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.street|title|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">City:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.district|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> INTAKE INFO</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">University Type:</label>
                        <div class="col-md-3">
                            {% if application_obj.university.is_partner_university == True %}
                            <span class="">Partner</span>
                            {% else %}
                                <span class="">Main</span>
                            {% endif %}

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">University:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.university.university_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Academic Year:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.academic_year.year_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Semester:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.semester.semester_name|title|default_if_none:"" }}</span>

                        </div>
                    </div>




                </div>
                <hr>
            <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> LEARNING CENTRE INFO</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.learning_country.country_name|title }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Learning Centre:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.learning_centre.lc_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                </div>
            <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> ACADEMIC PROGRAM DETAILS</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Program:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.program.program_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Faculty:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.faculty.faculty_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Campus:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.campus.campus_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase"> ACADEMIC QUALIFICATION DETAILS</span>
                </div>
                {% for qualification_obj in qualification_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Qualification:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.degree|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Major:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.major|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Institution:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_institution|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">Result:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_result|default_if_none:"" }}</span>

                            </div>
                        </div>


                        <div class="">
                            <label class="col-md-1 control-label">Year:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_year|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Country:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.country.country_name|default_if_none:"" }}</span>

                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">English Language Proficiency</span>
                </div>
                {% for english_competency_obj in english_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">English Competency Test:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_competency_test.english_competency_test|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Institution:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_test|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">Grade/Level:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_test_result|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">  Professional Qualifications</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Qualification Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.qualification_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">License No:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.license_certificate_no|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Professional Body:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.professional_body|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Date Awarded:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.awarded_date|date:"Y-m-d" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Agency Name/No:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.agency_name_no|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Issued in Country:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.country.country_name|title|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Expiration Date:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.expiration_date|date:"Y-m-d" }}</span>

                        </div>
                    </div>


                </div>

                <hr>


                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">  EMPLOYMENT HISTORY</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Name of Employer:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.employer_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Job Designation:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.designation|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">From Date:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.from_date|date:"Y-m-d" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">To Date:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.to_date|date:"Y-m-d" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Country:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.country.country_name|title|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Type of Industry:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.industry_type|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Number of Years Employed:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.employed_years|default_if_none:"" }}</span>

                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">NEXT OF KEN DETAILS</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Name:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">ID:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_id|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Relationship:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_relationship|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Tel No:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_tel_no|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Email:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_email|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">OTHER INFORMATION (How did you know about us)</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Student:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ref_by_student.user.first_name|default_if_none:"" }} {{ addition_info_obj.ref_by_student.user.last_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Agent:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ref_by_agent.first_name|default_if_none:"" }} {{ addition_info_obj.ref_by_agent.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">SPONSORSHIP</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Name of the Organisation:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_organisation|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Address:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_address|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">Email:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_email|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">Contact dept/person:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_contact|default_if_none:"" }}</span>
                        </div>
                    </div>
                </div>

                <hr>


                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Attachment</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">Passport ID:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.passport_image %}
                                <a href="{{ attachement_obj.0.passport_image.url }}" target="_blank">Preview Passport
                                    ID</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">Academic Certificate:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.level_result_document %}
                                <a href="{{ attachement_obj.0.level_result_document.url }}" target="_blank">Preview
                                    Academic Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                </div>
                <br>
                <div class="row">


                    <div class="">
                        <label class="col-md-2 control-label">Transcript:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.transcript_document %}
                                <a href="{{ attachement_obj.0.transcript_document.url }}" target="_blank">Preview
                                    Transcript</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                    <div class="">
                        <label class="col-md-2 control-label">English Language Proficiency Certificate:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.english_test_result_document %}
                                <a href="{{ attachement_obj.0.english_test_result_document.url }}" target="_blank">Preview
                                    English Language Proficiency Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                </div>
                <br>
                <div class="row">

                    <div class="">
                        <label class="col-md-2 control-label">Recommendation Letter:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.recommendation_letter %}
                                <a href="{{ attachement_obj.0.recommendation_letter.url }}" target="_blank">Preview
                                    Recommendation Letter</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>
                </div>

                <hr>


            </div>
        </div>

    </div>

{% endblock %}
