{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>

    </head>
    <!-- END HEAD -->
    <style type="text/css">

        div.dataTables_wrapper div.dataTables_filter label {
            font-weight: normal;
            white-space: nowrap;
            text-align: left;
            padding-top: 10px;
            padding-left: 30px;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-right: 40px;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                $(".pdf_class").on('click', function (e) {
                    window.open($(this).attr("data-href"), '_blank');
                });

                $(document).on("click", "#save_form", function () {
                    $('#id_accept_student_model').modal();
                    {#$("#form_sample_1").submit();#}
                });

                $(document).on("click", "#submit_appplication", function () {
                    $('#id_accept_student_model').modal();
                    $("#form_sample_1").submit();
                });
            });
        }

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);


    </script>

{% endblock %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'student:student_home' %}">{% trans 'Home' %}</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span>{% trans 'My Application' %}</span>

            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">{% trans 'My Application' %}</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'PERSONAL INFO (BIOGRAPHICAL INFORMATION)' %}</span>
                    <form action="{% url 'partner:application_all_details_pdf' application_obj.id %}" id="form_pdf_id"
                          class="form-horizontal" target="_blank"
                          method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    </form>
                </div>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Profile Pic' %}:</label>
                        <div class="col-md-2">
                            <a href="{{ attachement_obj.0.image.url }}" download>
                                <img src="{{ attachement_obj.0.image.url }}" alt="image"
                                     width="104" height="142">
                            </a>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'First Name' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.first_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Middle Name' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.middle_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Last Name' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Surname' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.surname|default_if_none:"" }}</span>
                        </div>
                    </div>
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Passport No' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.passport_number|default_if_none:"" }}</span>

                        </div>
                    </div>

                </div>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'CONTACT INFO' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'E-mail' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.email|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Mobile' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.mobile|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'WhatsApp' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.whats_app|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Country' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.country|title|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Postcode' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.post_code|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Address line 1' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.residential_address|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Address line 2' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.street|title|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'City' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.address.district|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'INTAKE INFO' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'University Type' %}:</label>
                        <div class="col-md-3">
                            {% if application_obj.university.is_partner_university == True %}
                            <span class="">{% trans 'Partner' %}</span>
                            {% else %}
                                <span class="">{% trans 'Main' %}</span>
                            {% endif %}

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'University' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.university.university_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Academic Year' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.academic_year.year_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Semester' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.semester.semester_name|title|default_if_none:"" }}</span>

                        </div>
                    </div>




                </div>
                <hr>
            <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'LEARNING CENTRE INFO' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Country' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.learning_country.country_name|title }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Learning Centre' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.learning_centre.lc_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                </div>
            <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'ACADEMIC PROGRAM DETAILS' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Program' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.program.program_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Faculty' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.faculty.faculty_name|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Campus' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ application_obj.campus.campus_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <hr>
                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'ACADEMIC QUALIFICATION DETAILS' %}</span>
                </div>
                {% for qualification_obj in qualification_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Qualification' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.degree|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Major' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.major|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Institution' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_institution|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Result' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_result|default_if_none:"" }}</span>

                            </div>
                        </div>


                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Year' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.level_year|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Country' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ qualification_obj.country.country_name|default_if_none:"" }}</span>

                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

            <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'Arabic Language Proficiency' %}</span>
                </div>
                {% for arabic_obj in arabic_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Arab Competency Test' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ arabic_obj.arab_competency_test.arab_competency_test|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Institution' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ arabic_obj.arab_test|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Grade/Level' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ arabic_obj.arab_test_result|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'English Language Proficiency' %}</span>
                </div>
                {% for english_competency_obj in english_recs %}

                    <div class="row">
                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'English Competency Test' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_competency_test.english_competency_test|default_if_none:"" }}</span>

                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Institution' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_test|default_if_none:"" }}</span>
                            </div>
                        </div>

                        <div class="">
                            <label class="col-md-1 control-label">{% trans 'Grade/Level' %}:</label>
                            <div class="col-md-3">
                                <span class="">{{ english_competency_obj.english_test_result|default_if_none:"" }}</span>
                            </div>
                        </div>


                    </div>
                    <br>

                {% endfor %}

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'Professional Qualifications' %}</span>
                </div>

             {% for postgraduate_obj in postgraduate_recs %}

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Qualification Name' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.qualification_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'License No' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.license_certificate_no|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Professional Body' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.professional_body|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Date Awarded' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.awarded_date|date:"Y-m-d" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Agency Name/No' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.agency_name_no|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Issued in Country' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.country.country_name|title|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Expiration Date' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ postgraduate_obj.expiration_date|date:"Y-m-d" }}</span>

                        </div>
                    </div>


                </div>
                 <hr>
            {% endfor %}



                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'EMPLOYMENT HISTORY' %}</span>
                </div>

            {% for employement_history_obj in employement_history_recs %}

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Name of Employer' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.employer_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Job Designation' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.designation|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'From Date' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.from_date|date:"Y-m-d" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'To Date' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.to_date|date:"Y-m-d" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Country' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.country.country_name|title|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Type of Industry' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.industry_type|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Number of Years Employed' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ employement_history_obj.employed_years|default_if_none:"" }}</span>

                        </div>
                    </div>


                </div>
                <hr>
            {% endfor %}


                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'NEXT OF KEN DETAILS' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Name' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'ID' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_id|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Relationship' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_relationship|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Tel No' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_tel_no|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Email' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ken_email|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'OTHER INFORMATION (How did you know about us)' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Student' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ref_by_student.user.first_name|default_if_none:"" }} {{ addition_info_obj.ref_by_student.user.last_name|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Agent' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.ref_by_agent.first_name|default_if_none:"" }} {{ addition_info_obj.ref_by_agent.last_name|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'SPONSORSHIP' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Name of the Organisation' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_organisation|default_if_none:"" }}</span>

                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Address' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_address|default_if_none:"" }}</span>
                        </div>
                    </div>

                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Email' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_email|default_if_none:"" }}</span>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="">
                        <label class="col-md-1 control-label">{% trans 'Contact dept/person' %}:</label>
                        <div class="col-md-3">
                            <span class="">{{ addition_info_obj.sponsore_contact|default_if_none:"" }}</span>
                        </div>
                    </div>
                </div>

                <hr>


                <div class="portlet light portlet-fit portlet-form ">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">{% trans 'Attachment' %}</span>
                </div>

                <div class="row">
                    <div class="">
                        <label class="col-md-2 control-label">{% trans 'Passport ID' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.passport_image %}
                                <a href="{{ attachement_obj.0.passport_image.url }}" target="_blank">Preview Passport
                                    ID</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">{% trans 'Academic Certificate' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.level_result_document %}
                                <a href="{{ attachement_obj.0.level_result_document.url }}" target="_blank">Preview
                                    Academic Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                </div>
                <br>
                <div class="row">


                    <div class="">
                        <label class="col-md-2 control-label">{% trans 'Transcript' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.transcript_document %}
                                <a href="{{ attachement_obj.0.transcript_document.url }}" target="_blank">Preview
                                    Transcript</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                    <div class="">
                        <label class="col-md-2 control-label">{% trans 'English Language Proficiency Certificate' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.english_test_result_document %}
                                <a href="{{ attachement_obj.0.english_test_result_document.url }}" target="_blank">Preview
                                    English Language Proficiency Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>


                </div>
                <br>
                <div class="row">

                <div class="">
                        <label class="col-md-2 control-label">{% trans 'Arab Language Proficiency Certificate' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.arab_test_result_document %}
                                <a href="{{ attachement_obj.0.arab_test_result_document.url }}" target="_blank">Preview
                                    Arab Language Proficiency Certificate</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>

                    <div class="">
                        <label class="col-md-2 control-label">{% trans 'Recommendation Letter' %}:</label>

                        <div class="col-md-4">
                            {% if attachement_obj.0.recommendation_letter %}
                                <a href="{{ attachement_obj.0.recommendation_letter.url }}" target="_blank">Preview
                                    Recommendation Letter</a>
                            {% else %}
                                ----
                            {% endif %}
                        </div>

                    </div>
                </div>

                <hr>


            </div>
        </div>

    </div>

{% endblock %}
