{% extends "template_base_page.html" %}
{% load  i18n %}
{% load staticfiles %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'tanseeq_app:tanseeq_student' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'Personal Info' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Personal Info </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form
                        action="{% url 'tanseeq_app:add_personal_info' %}"
                    method="POST"
                    enctype="multipart/form-data"
                    id="id_form"
                    class="form-horizontal"
                >
                    {% csrf_token %}
                    {% if instance %}
                        <input type="hidden" name="_method" value="PATCH">
                    {% endif %}
                    <div class="form-body">
                        <div class="row item_experience" id="item_experience_1">

                            <div class="row">

                                <label class="col-md-2 control-label">{% trans form.first_name.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.first_name}}
                                </div>
                                <label class="col-md-2 control-label">{% trans form.last_name.label %}:
                                    <span style="color: red">*</span></label>
                                <div class="col-md-3">
                                    {{form.last_name}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="">
                                    <label class="col-md-2 control-label">{% trans 'Email' %}:<span
                                            style="color: red">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" title="Enter Type" id="id_email"
                                               value="{{ request.user.email|default_if_none:"" }}"
                                               name="email"
                                               class="form-control" disabled>

                                    </div>
                                </div>
                                <label class="col-md-2 control-label">{% trans form.gender_type.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.gender_type}}
                                </div>
                            </div>
                            <br>
                            <div class="row">

                                <label class="col-md-2 control-label">{% trans form.nationality.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.nationality}}
                                </div>
                                <label class="col-md-2 control-label">{% trans form.birth_date.label %}:
                                    <span style="color: red">*</span></label>
                                <div class="col-md-3">
                                    {{form.birth_date}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-2 control-label">{% trans form.country.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.country}}
                                </div>
                                <label class="col-md-2 control-label">{% trans form.city.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.city}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-2 control-label">{% trans form.contact_number.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-3">
                                    {{form.contact_number}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-2 control-label">{% trans form.address.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-8">
                                    {{form.address}}
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-10 col-md-7">
                                <button type="submit" class="btn green" id="save_form">Save Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
