{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <style type="text/css">

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {

                $("#id_student").chosen();

                $('#export_button').attr('disabled', true);
                 $(document).on("click", "#export_button", function (e) {
                        $('#form_sample_export').submit();
                });


                $(document).on("click", "#save", function (e) {

                    if( Number($("#id_voucher_amount").val()) <= Number($("#id_scholarship_fee").val())){

                        if( $("#id_voucher_date").val() != "" ) {
                            $('#form_sample_1').submit();
                            $("#data_error_msg").hide();
                        }else{
                            $("#data_error_msg").show();
                            return false;
                        }
                    }else{
                        $("#error_msg").show();
                        return false;
                    }

                });


                $(document).on("change", "#id_student", function (e) {
                     $("#error_msg").hide();
                     $("#data_error_msg").hide();
                    var student = $(this).val();
                    var url = '/accounting/get_payment_voucher_data_by_student/';
                    get_voucher_data(url, student);
                    $('#export_student_value').val(student);
                      $('#export_button').attr('disabled', false);

                });


                function get_voucher_data(url, student) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            student: student,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {


                            {#alert(JSON.stringify(data));#}

                            $('#id_app_id').val(data['application_rec']['id']);
                            $('#id_voucher_number').val(data['application_rec']['voucher_number']);
                            $('#id_voucher_number_id').val(data['application_rec']['voucher_number']);

                            if (data['application_rec']['semester'] != null) {
                                $('#id_semester').val(data['application_rec']['semester']['semester_name']);
                                $('#id_semester_id').val(data['application_rec']['semester']['semester_name']);
                            }


                            $('#id_scholarship_fee').val(data['application_rec']['scholarship_fee']);
                            $('#id_balance').val(data['application_rec']['balance']);

                            if (data['application_rec']['country'] != null) {
                                $('#id_country').val(data['application_rec']['country']['country_name']);
                                $('#id_country_id').val(data['application_rec']['country']['country_name']);
                            }

                            if (data['application_rec']['university'] != null) {
                                $('#id_university').val(data['application_rec']['university']['university_name']);
                                $('#id_university_id').val(data['application_rec']['university']['university_name']);
                            }

                            if (data['application_rec']['scholarship'] != null) {
                                $('#id_scholarship').val(data['application_rec']['scholarship']['scholarship_name']);
                                $('#id_scholarship_id').val(data['application_rec']['scholarship']['scholarship_name']);
                            }

                            if (data['application_rec']['scholarship_fee'] != null) {
                                $('#id_scholarship_fee').val(data['application_rec']['scholarship_fee']);
                            }

                            if (data['application_rec']['donor'] != null) {
                                $('#id_donor').val(data['application_rec']['donor']['user']['first_name']);
                                $('#id_donor_id').val(data['application_rec']['donor']['user']['first_name']);
                            }

                            if (data['application_rec']['program'] != null) {
                                $('#id_program').val(data['application_rec']['program']['program_name']);
                                $('#id_program_id').val(data['application_rec']['program']['program_name']);
                            }


                            var output_html = "";

                            for(var i= 0; i< (data['voucher_rec']).length ; i++) {

                                if(data['voucher_rec'][i]['voucher_type'] == "credit") {
                                    output_html += "" +
                                    "<tr id='item{{ forloop.counter }}' class='item'>"
                                    + "<td><input id='id_voucher_number_list' class='form-control data voucher_number' value='"+ data['voucher_rec'][i]['voucher_number'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_date' class='form-control data voucher_date' value='"+ data['voucher_rec'][i]['voucher_date'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_description' class='form-control data voucher_description' value='"+ data['voucher_rec'][i]['voucher_description'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_amount_credit' class='form-control data voucher_number' value='' disabled> </td>"
                                    + "<td><input id='id_voucher_amount_debit' class='form-control data voucher_amount' value='" + data['voucher_rec'][i]['voucher_amount'] + "' disabled> </td>"

                                }

                                if(data['voucher_rec'][i]['voucher_type'] == "debit") {
                                    output_html += "" +
                                    "<tr id='item{{ forloop.counter }}' class='item'>"
                                    + "<td><input id='id_voucher_number_list' class='form-control data voucher_number' value='"+ data['voucher_rec'][i]['voucher_number'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_date' class='form-control data voucher_date' value='"+ data['voucher_rec'][i]['voucher_date'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_description' class='form-control data voucher_description' value='"+ data['voucher_rec'][i]['voucher_description'] +"' disabled> </td>"
                                    + "<td><input id='id_voucher_amount_credit' class='form-control data voucher_amount' value='" + data['voucher_rec'][i]['voucher_amount'] + "' disabled> </td>"
                                    + "<td><input id='id_voucher_amount_debit' class='form-control data voucher_number' value='' disabled> </td>"

                                }

                                output_html+= "</tr>"
                            }

                            output_html+= "<tr id='item_total' class='item'><td colspan='3'></td>"
                            + "<td style='width:150px;'><input id='id_debit_total' class='form-control data total_amount' value='"+ data['total_debit_amount'] +"' disabled> </td>"
                            + "<td style='width:150px;'><input id='id_credit_total' class='form-control data total_amount' value='"+ data['total_amount'] +"' disabled> </td></tr>"


                            $("#tbody").html(output_html);

                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "bFilter": false,
                "paging": false,
                "info": false,
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>

{% endblock %}



{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Student Payment & Receipt Report </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Student Payment & Receipt Report </span>
            </div>

        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'accounting:save_student_receipt_voucher' %}" id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="id_app_id" name="application">
                    <input type="hidden" id="id_scholarship_fee">
                    <div class="form-body">

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Student:</label>
                                <div class="col-md-2">
                                    <select id='id_student' title="Select country" name="student"
                                            autocomplete="off" class="form-control" data-live-search="true"
                                            required>
                                        <option style="display:none" selected="selected" id=""
                                                value="">Please Select
                                        </option>

                                        {% for rec in student_list %}
                                            <option value='{{ rec.student.id }}'>{{ rec.get_full_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Voucher Number:
                                </label>
                                <div class="col-md-2">
                                    <input type="text" title="Voucher Number" placeholder="Voucher Number"
                                           id="id_receipt_voucher_number" name="voucher_number"
                                           class="form-control" required disabled>
                                    <input type="hidden" name="voucher_number" id="id_voucher_number_id">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Country:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Country" placeholder="Country"
                                           id="id_country" name="country"
                                           class="form-control" required disabled>

                                    <input type="text" id="id_country_id" name="country" hidden>
                                </div>
                            </div>

                        </div>

                        <br><br>

                        <div class="row">



                            <div class="">
                                <label class="col-md-2 control-label">University:</label>
                                <div class="col-md-2">
                                    <input type="text" title="University" placeholder="University"
                                           id="id_university" name="university"
                                           class="form-control" required disabled>

                                    <input type="text" id="id_university_id" name="university" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Scholarship:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Scholarship" placeholder="Scholarship"
                                           id="id_scholarship" name="scholarship"
                                           class="form-control" required disabled>

                                    <input type="text" id="id_scholarship_id" name="scholarship" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Program:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Program" placeholder="Program"
                                           id="id_program" name="program"
                                           class="form-control" required disabled>

                                     <input type="text" id="id_program_id" name="program" hidden>
                                </div>
                            </div>

                        </div>


                        <br><br>

                        <h3 class="form-section">Receipt Vouchers</h3>
                        <hr>


                    </div>
                </form>
            </div>
         <div class="col-md-2">
                                <button style="width: 100px;" type="button" id="export_button" class="btn blue">
                                    Export
                                </button>
                            </div>

        </div>

        <div class="portlet-body">
            <div class="table-toolbar">
            </div>

            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Voucher Date</th>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                    </thead>

                    <tbody id="tbody">

                    </tbody>
                </table>
            </form>



        </div>
    <form method="post" action="{% url 'accounting:export_payment_receipt_report' %}"
                  id="form_sample_export">
                {% csrf_token %}
               <input hidden name="student_id" id="export_student_value" value="">


            </form>
    </div>

{% endblock %}
