{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <style type="text/css">

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {

                webshims.setOptions('forms-ext', {
                    replaceUI: 'auto',
                    types: 'number'
                });
                webshims.polyfill('forms forms-ext');


                $('#export_button').attr('disabled', true);

                $("#id_donor_id").chosen();

                $("#id_donor_id").change(function () {

                    var donor = $(this).val();
                    //var url = '/accounting/get_voucher_data_by_donor/';

                    $("#id_donar_name").val(donor);
                    $("#form_sample_get").submit();

                    {#get_voucher_data(url, donor);#}
                    {% comment %} $('#export_student_value').val(donor);
                      $('#export_button').attr('disabled', false);{% endcomment %}

                });
                {% comment %} $(document).on("click", "#export_button", function (e) {

                         $('#form_sample_export').submit();

                 });{% endcomment %}


                {% comment %}function get_voucher_data(url, donor) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            donor: donor,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            var output_html = "";

                            for(var i= 0; i< (data['voucher_records']).length ; i++) {

                                output_html += "" +
                                "<tr id='item"+ i +"' class='item'>"
                                + "<td style='width:150px;'><input id='id_voucher_number' class='form-control data voucher_number' value='"+ data['voucher_records'][i]['voucher_rec']['voucher_number'] +"' disabled> </td>"
                                + "<td><input id='id_student"+ i +"' class='form-control data student' value='"+ data['voucher_records'][i]['voucher_rec']['student']['get_all_name'] +"' disabled> </td>"
                                + "<td><input id='id_semester"+ i +"' class='form-control data semester' value='"+ data['voucher_records'][i]['voucher_rec']['semester']['semester_name'] +"' disabled> </td>"
                                + "<td><input id='id_country"+ i +"' class='form-control data country' value='" + data['voucher_records'][i]['approval_amount'] + "' disabled> </td>"
                                + "<td><input id='id_voucher_amount"+ i +"' class='form-control data voucher_amount' value='" + data['voucher_records'][i]['credit_total'] + "' disabled> </td>"
                                + "<td><input id='id_voucher_amount"+ i +"' class='form-control data voucher_number' value='" + data['voucher_records'][i]['outstanding_amount'] + "' disabled> </td>"

                                output_html+= "</tr>"
                            }

                             output_html+= "<tr id='item_total' class='item'><td colspan='4'></td>"
                            + "<td style='width:150px;'><input id='id_total' class='form-control data total_amount' value='"+ data['total_credit_amount'] +"' disabled> </td>"
                            + "<td style='width:150px;'><input id='id_total' class='form-control data total_amount' value='"+ data['total_outstanding_amount'] +"' disabled> </td></tr>"


                            $("#tbody").html(output_html);

                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }{% endcomment %}
            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "bFilter": true,
                "paging": true,
                "info": true,
                "scrollX": true,
                "aoColumnDefs": [
                    {'bSortable': false}
                ],
                dom: 'Bfrtip',
                buttons: [
                    //'print',
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                            //columns: [ 1,2, 3,4, 5, 6, 7 ]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            //columns: [ 2, 3,4, 5, 6, 7 ]
                            columns: ':visible'
                        }
                    },
                ],
            });
        }
    </script>

{% endblock %}



{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Accounting </span>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span> Donor Receipt Report </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Donor Receipt Report </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'masters:save_manage_donor_master' %}" id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row">

                            <div class="">
                                <label class="col-md-3 control-label">Donor:</label>
                                <div class="col-md-3">
                                    <select id='id_donor_id' title="Select Donor" name="donor"
                                            autocomplete="off" class="form-control" data-live-search="true"
                                            required>
                                        {% if student_main_list.0.selected_donor %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="{{ student_main_list.0.selected_donor.id }}">{{ student_main_list.0.selected_donor.user.get_full_name|title }}
                                            </option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="">Please Select
                                            </option>
                                        {% endif %}

                                        {% for rec in donor_list %}
                                            <option value='{{ rec.id }}'>{{ rec.user.get_full_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% comment %}<div class="col-md-2">
                            <button style="width: 100%" type="button" id="export_button" class="btn blue">
                        Export
                    </button>
                             </div>
{% endcomment %}
                        </div>

                        <br><br>

                        <table class="table table-striped table-hover table-bordered" id="sample_1">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Student</th>
                                <th>Semester</th>
                                <th>Scholarship Fee</th>
                                <th>Credit</th>
                                <th>Outstanding</th>

                            </tr>
                            </thead>

                            <tbody id="tbody">
                            {% for rec in student_main_list.0.voucher_records %}
                                <tr id="{{ rec.voucher_rec.id }}" class="item">
                                    <td>
                                        <p hidden>{{ rec.voucher_rec.voucher_number }}</p>
                                        <input id="id_voucher_number{{ forloop.counter }}"
                                               class="form-control voucher_number"
                                               value="{{ rec.voucher_rec.voucher_number }}" disabled>
                                    </td>
                                    <td>
                                        <p hidden>{{ rec.voucher_rec.student.get_all_name }}</p>
                                        <input id="student{{ forloop.counter }}"
                                               class="form-control student"
                                               value="{{ rec.voucher_rec.student.get_all_name }}" disabled>
                                    </td>
                                    <td>
                                        <p hidden>{{ rec.voucher_rec.semester.semester_name|title }}</p>
                                        <input class="form-control semester_name" name="semester_name" type="text"
                                               id="semester_name{{ forloop.counter }}"
                                               value="{{ rec.voucher_rec.semester.semester_name|title }}"
                                               required="True" title='{{ rec.voucher_rec.semester.semester_name }}'
                                               disabled>
                                    </td>

                                    <td>
                                        <p hidden>{{ rec.approval_amount }}</p>
                                        <input class="form-control approval_amount" name="approval_amount"
                                               type="number"
                                               data-number-to-fixed="2" data-number-stepfactor="100"
                                               min="0" step="0.01"
                                               id="approval_amount{{ forloop.counter }}"
                                               value="{{ rec.approval_amount }}"
                                               required="True" disabled>
                                    </td>

                                    <td>
                                        <p hidden>{{ rec.credit_total }}</p>
                                        <input class="form-control credit_total  data" name="credit_total" type="number"
                                               data-number-to-fixed="2" data-number-stepfactor="100"
                                               min="0" step="0.01"
                                               id="id_credit_total{{ rec.id }}"
                                               value="{{ rec.credit_total }}" required="True"
                                               disabled>
                                    </td>
                                    
                                    <td>
                                        <p hidden>{{ rec.outstanding_amount }}</p>
                                        <input class="form-control outstanding_amount  data" name="outstanding_amount"
                                               type="number"
                                               data-number-to-fixed="2" data-number-stepfactor="100"
                                               min="0" step="0.01"
                                               id="id_outstanding_amount{{ rec.id }}"
                                               value="{{ rec.outstanding_amount }}" required="True"
                                               disabled>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                            <tr>
                                <td colspan="4"></td>
                                <td>
                                    <input id='id_total1' type="number"
                                           data-number-to-fixed="2" data-number-stepfactor="100"
                                           min="0" step="0.01" class='form-control data total_amount'
                                           value="{{ student_main_list.0.total_credit_amount }}" disabled>
                                </td>
                                <td>
                                    <input id='id_total2' type="number"
                                           data-number-to-fixed="2" data-number-stepfactor="100"
                                           min="0" step="0.01" class='form-control data total_amount'
                                           value="{{ student_main_list.0.total_outstanding_amount }}" disabled>
                                </td>
                            </tr>
                        </table>

                    </div>
                </form>
            </div>
        </div>

        <form id="form_sample_get" class="form-horizontal" method="GET" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="">

                    <input type="text" id="id_donar_name" name="donor" hidden>

                </div>
            </div>
        </form>


        {% comment %}<div class="col-md-2">
                <form method="post" action="{% url 'accounting:export_donor_receipt_report' %}" id="form_sample_export">
                    {% csrf_token %}
                    <input hidden name="donar_id" id="export_student_value" value="">


                </form>
            </div>{% endcomment %}
    </div>

{% endblock %}
