{% extends "template_base_page.html" %}
{% load staticfiles %}.


{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <style type="text/css">

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                webshims.setOptions('forms-ext', {
                    replaceUI: 'auto',
                    types: 'number'
                });
                webshims.polyfill('forms forms-ext');

                $("#id_student").chosen();

                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear() + "-" + (month) + "-" + (day);
                var date = $('#date').val();
                $('#id_voucher_date').val(today);

                $('#export_button').attr('disabled', true);

                function validate() {
                    var flag = false;

                    if ($("#id_student").val() == '') {
                        flag = true;
                        $("#id_student").css("border", "solid 1px red");
                        $("#id_student_error_msg").text("Please select Student.");
                        $("#id_student_error_msg").show();
                    } else {
                        $("#id_student").css("border", "");
                        $("#id_student_error_msg").hide();
                    }

                    if ($("#id_voucher_date").val() == "") {
                        flag = true;
                        $("#id_voucher_date").css("border", "solid 1px red");
                        $("#data_error_msg").text("Please Select Date.");
                        $("#data_error_msg").show();
                    } else {
                        $("#data_error_msg").hide();
                        $("#id_voucher_date").css("border", "");
                    }

                    if ($("#id_voucher_amount").val() != "") {

                        if (Number($("#id_voucher_amount").val()) != 0) {

                            if (Number($("#id_voucher_amount").val()) > Number($("#id_scholarship_fee").val())) {
                                flag = true;
                                $("#id_voucher_amount").css("border", "1px solid red");
                                $("#id_voucher_amount_error_msg").text("Amount should not be greater tha Scholarship Fee");
                                $("#id_voucher_amount_error_msg").show();
                            } else {
                                $("#id_voucher_amount_error_msg").hide();
                                $("#id_voucher_amount").css("border", "");
                                $("#id_voucher_amount_error_msg").text("");
                            }


                        } else {
                            flag = true;
                            $("#id_voucher_amount").css("border", "1px solid red");
                            $("#id_voucher_amount_error_msg").text("Please enter Amount greater than 0");
                            $("#id_voucher_amount_error_msg").show();
                        }
                    } else {

                        flag = true;
                        $("#id_voucher_amount").css("border", "1px solid red");
                        $("#id_voucher_amount_error_msg").text("Please enter Amount!");
                        $("#id_voucher_amount_error_msg").show();
                    }

                    if ($("#id_voucher_description").val() == '') {
                        flag = true;
                        $("#id_voucher_description").css("border", "solid 1px red");
                        $("#id_voucher_description_error_msg").text("Please enter Voucher description.");
                        $("#id_voucher_description_error_msg").show();
                    } else {
                        $("#id_voucher_description").css("border", "");
                        $("#id_voucher_description_error_msg").hide();
                    }

                    return flag;

                }

                $(document).on("click", "#save", function (e) {

                    if (validate() == false) {
                        $("#id_btn_type").val("save");
                        $('#form_sample_1').submit();
                    }

                });


                $(document).on("click", "#save_and_send", function (e) {

                    if (validate() == false) {
                        $("#id_btn_type").val("save_and_send");
                        $('#form_sample_1').submit();
                    }

                });

                $(document).on("click", "#save_and_print", function (e) {

                    if (validate() == false) {
                        $("#id_btn_type").val("save_and_print");
                        $('#form_sample_1').submit();
                    }

                });


                $(document).on("click", ".update", function (e) {
                    var voucher_id = $(this).closest('tr').attr('id');
                    var voucher_amount = $('#id_voucher_amount' + voucher_id).val();
                    var url = '/accounting/update_student_payment_voucher/';
                    update_student_payment_voucher(url, voucher_id, voucher_amount)
                });

                $(document).on("click", ".delete", function (e) {
                    var voucher_id = $(this).closest('tr').attr('id');
                    var url = '/accounting/delete_student_payment_voucher/';
                    delete_student_payment_voucher(url, voucher_id)
                });

                function delete_student_payment_voucher(url, voucher_id) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            voucher_id: voucher_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }

                function update_student_payment_voucher(url, voucher_id, voucher_amount) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            voucher_id: voucher_id,
                            voucher_amount: voucher_amount,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            location.reload(true)
                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }


                $(document).on("click", ".edit", function (e) {
                    var parent_id = $(this).closest('tr').attr('id');
                    var id = $(this).attr('id');
                    var i = id.split("edit")[1]

                    $(".data").prop("disabled", true);
                    $(".edit").show();
                    $(".update").hide();

                    $("#update" + i).show();
                    $("#edit" + i).hide();


                    $("#" + parent_id + " .data").prop("disabled", false);

                });


                $(document).on("change", "#id_student", function (e) {
                    $(".overlay").show();
                    $("#loading-img").show();
                    $("#id_voucher_description").css("border", "");
                    $("#id_voucher_description_error_msg").hide();
                    $("#id_voucher_amount").css("border-color", "");
                    $("#id_voucher_amount_error_msg").hide();
                    $("#data_error_msg").hide();
                    $("#data_error_msg").css("border", "");
                    $("#id_voucher_amount_error_msg").hide();
                    $("#id_voucher_amount_error_msg").css("border", "");
                    $("#id_student").css("border", "");
                    $("#id_student_error_msg").hide();
                    $("#data_error_msg").hide();
                    $("#id_voucher_date").css("border", "");
                    {#var student = $(this).val();#}
                    {#var url = '/accounting/get_payment_voucher_data_by_student/';#}
                    {#get_voucher_data(url, student);#}

                    $("#form_sample").submit();

                    // $('#export_student_value').val(student);
                    // $('#export_button').attr('disabled', false);
                });


            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "bFilter": true,
                "paging": true,
                "info": true,
                "scrollX": true,
                "ordering": false,
                "aoColumnDefs": [
                    {'bSortable': false}
                ],
                dom: 'Bfrtip',
                buttons: [
                    /* {
                         extend: 'copyHtml5',
                         exportOptions: {
                             columns: [ 0, ':visible' ]
                         }
                     },*/
                    //'print',
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                            //columns: [ 1,2, 3,4, 5, 6, 7 ]
                        }
                    },
                    {
                        title: 'Finance Statement Details',
                        extend: 'pdfHtml5',
                        exportOptions: {
                            //columns: [ 2, 3,4, 5, 6, 7 ]
                            columns: ':visible'
                        }
                    },
                    //'colvis'
                ],


                /*ajax: {
                        url: '/accounting/get_payment_voucher_data_by_student/?student='+ 2,
                        type: 'GET',

                    },*/

            });

        }
    </script>

{% endblock %}



{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> Accounting </span>
                <i class="fa fa-angle-right"></i>
            </li>


            <li>
                <span> Student Payment Voucher </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Student Payment Voucher </span>
            </div>

            <div style="float: right;">
                <div class="btn-group">
                    <button type="button" class="btn green" id="save">Save</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn green" id="save_and_print">Save & Print PDF</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn green" id="save_and_send">Save & Send</button>
                </div>
            </div>

        </div>

        <div class="portlet-body">
            <div class="form-body">

                <div class="form-body">


                    <form id="form_sample"
                          class="form-horizontal"
                          method="GET" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Student:</label>
                                <div class="col-md-2">
                                    <select id='id_student' title="Select country" name="student"
                                            autocomplete="off" class="form-control" data-live-search="true"
                                            required>
                                        {% if raw_dict.application_rec.student %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="{{ raw_dict.application_rec.student.id }}">{{ raw_dict.application_rec.student.get_all_name }}
                                            </option>
                                        {% else %}
                                            <option style="display:none" selected="selected" id=""
                                                    value="">Please Select
                                            </option>
                                        {% endif %}

                                        {% for rec in student_list %}
                                            <option value='{{ rec.student.id }}'>{{ rec.get_full_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                    <span id="id_student_error_msg" style="display: none;color: red;"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br><br>
                    <form action="{% url 'accounting:save_payment_voucher_data_by_student' %}" id="form_sample_1"
                          class="form-horizontal"
                          method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" id="id_app_id" name="application"
                                   value="{{ raw_dict.application_rec.id }}">
                            <input type="hidden" name="btn_type" id="id_btn_type">

                            <div class="">
                                <label class="col-md-2 control-label">Voucher Number:
                                </label>
                                <div class="col-md-2">
                                    <input type="text" title="Voucher Number" placeholder="Voucher Number"
                                           id="id_receipt_voucher_number" name="voucher_number"
                                           class="form-control" required disabled>
                                    <input type="hidden" name="voucher_number" id="id_voucher_number_id">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Date:</label>
                                <div class="col-md-2">
                                    <input type="date" title="Date" placeholder="Date"
                                           id="id_voucher_date" name="voucher_date"
                                           class="form-control" required max="9999-12-31">
                                    <span id="data_error_msg" style="display: none;color: red;"></span>
                                </div>
                            </div>

                        </div>

                        <br><br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Semester:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Semester" id="id_semester"
                                           name="semester" placeholder="Semester"
                                           class="form-control" required disabled
                                           value="{{ raw_dict.application_rec.semester.semester_name }}">

                                    <input type="text" id="id_semester_id" name="semester" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Scholarship Fee:</label>
                                <div class="col-md-2">
                                    <input type="number" title="Scholarship Fee" id="id_scholarship_fee"
                                           name="scholarship_fee" placeholder="0.00"
                                           data-number-to-fixed="2" data-number- stepfactor="100"
                                           class="form-control currency" required disabled
                                           value="{{ raw_dict.application_rec.scholarship_fee }}">
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Balance:</label>
                                <div class="col-md-2">
                                    <input type="number" title="Balance" placeholder="0.00"
                                           id="id_balance" name="balance"
                                           data-number-to-fixed="2" data-number- stepfactor="100"
                                           class="form-control currency" required disabled
                                           value="{{ raw_dict.application_rec.balance }}">
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">
                            <div class="">
                                <label class="col-md-2 control-label">Country:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Country" placeholder="Country"
                                           id="id_country" name="country"
                                           class="form-control" required disabled
                                           value="{{ raw_dict.application_rec.country.country_name }}">

                                    <input type="text" id="id_country_id" name="country" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">University:</label>
                                <div class="col-md-2">
                                    <input type="text" title="University" placeholder="University"
                                           id="id_university" name="university"
                                           class="form-control" required disabled
                                           value="{{ raw_dict.application_rec.university.university_name }}">

                                    <input type="text" id="id_university_id" name="university" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Scholarship:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Scholarship" placeholder="Scholarship"
                                           id="id_scholarship" name="scholarship"
                                           class="form-control" required disabled
                                           value="{{ raw_dict.application_rec.scholarship.scholarship_name }}">

                                    <input type="text" id="id_scholarship_id" name="scholarship" hidden>
                                </div>
                            </div>
                        </div>


                        <br><br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Program:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Program" placeholder="Program"
                                           id="id_program" name="program"
                                           class="form-control" required disabled
                                           value="{{ raw_dict.application_rec.program.program_name }}">

                                    <input type="text" id="id_program_id" name="program" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Donor:</label>
                                <div class="col-md-2">
                                    <input type="text" title="Donor" placeholder="Donor"
                                           id="id_donor" name="donor"
                                           class="form-control" required disabled
                                           value="{{ raw_dict.application_rec.donor.user.first_name }}">

                                    <input type="text" id="id_donor_id" name="donor" hidden>
                                </div>
                            </div>

                            <div class="">
                                <label class="col-md-2 control-label">Amount:</label>
                                <div class="col-md-2">
                                    {#                                <input type="number" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number- stepfactor="100" class="currency"  />#}

                                    <input type="number" title="Amount" placeholder="0.00" min="0" step="0.01"
                                           data-number-to-fixed="2" data-number- stepfactor="100"
                                           id="id_voucher_amount" name="voucher_amount"
                                           class="form-control currency" required
                                           value="{{ voucher_rec.voucher_amount }}">
                                    <span id="id_voucher_amount_error_msg" style="display: none;color: red;"></span>
                                </div>
                            </div>

                        </div>

                        <br><br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Beneficiary:</label>
                                <div class="col-md-2">
                                    <input type="text" name="voucher_beneficiary"
                                           class="form-control" required id="id_voucher_beneficiary">

                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row">

                            <div class="">
                                <label class="col-md-2 control-label">Description:</label>
                                <div class="col-md-10">
                                    <textarea rows="5" cols="95" name="voucher_description"
                                              id="id_voucher_description"></textarea><br>
                                    <span id="id_voucher_description_error_msg"
                                          style="display: none;color: red;"></span>

                                </div>
                            </div>
                        </div>


                        <h3 class="form-section">Receipt Vouchers</h3>
                        <hr>
                    </form>

                </div>
                {#                <div class="col-md-2">#}
                {#                    <form method="post" action="{% url 'accounting:export_student_payment_voucher' %}" id="">#}
                {#                        {% csrf_token %}#}
                {#                        <input hidden name="student_id" id="export_student_value" value="">#}
                {##}
                {#                        <button style="width: 100%" type="submit" value="Submit" id="export_button" class="btn blue">#}
                {#                            Export#}
                {#                        </button>#}
                {#                    </form>#}
                {#                </div>#}
            </div>
        </div>

        <div class="portlet-body">


            <form id="form_sample_1" class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-hover table-bordered" id="sample_1">
                    <thead>
                    <tr>
                        <th>Voucher No</th>
                        <th>Voucher Date</th>
                        <th>Student Name</th>
                        <th>Semester</th>
                        <th>Country</th>
                        <th>University</th>
                        <th>Scholarship</th>
                        <th>Program</th>
                        <th>Donor</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody id="tbody">
                    {% for rec in voucher_record %}
                        <tr id="{{ rec.id }}" class="item">
                            <td>
                                <p hidden>{{ rec.voucher_number }}</p>
                                <input id="id_voucher_number{{ forloop.counter }}" class="form-control voucher_number"
                                       value="{{ rec.voucher_number }}" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.voucher_date }}</p>
                                <input id="id_voucher_date{{ forloop.counter }}" class="form-control voucher_number"
                                       value="{{ rec.voucher_date }}" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.student.user.get_full_name|title }}</p>
                                <input class="form-control voucher_number" name="student" type="text"
                                       id="student{{ forloop.counter }}"
                                       value="{{ rec.application.student.user.get_full_name|title }}"
                                       required="True" title='Student Name' disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.applicant_progress_rel.all.0.semester.semester_name }}</p>
                                <input class="form-control semester" name="semester" type="text"
                                       id="semester{{ forloop.counter }}"
                                       value="{{ rec.application.applicant_progress_rel.all.0.semester.semester_name }}"
                                       required="True" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.address.country.country_name }}</p>
                                <input class="form-control start_date" name="country" type="text"
                                       id="start_date{{ forloop.counter }}"
                                       value="{{ rec.application.address.country.country_name }}" required="True"
                                       disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.applicant_scholarship_rel.all.0.university.university_name }}</p>
                                <input class="form-control end_date" name="university" type="text"
                                       id="end_date{{ forloop.counter }}"
                                       value="{{ rec.application.applicant_scholarship_rel.all.0.university.university_name }}"
                                       required="True" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.applicant_scholarship_rel.all.0.scholarship.scholarship_name }}</p>
                                <input class="form-control end_date" name="scholarship" type="text"
                                       id="end_date{{ forloop.counter }}"
                                       value="{{ rec.application.applicant_scholarship_rel.all.0.scholarship.scholarship_name }}"
                                       required="True" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.applicant_module_rel.all.0.program.program_name }}</p>
                                <input class="form-control end_date" name="program" type="text"
                                       id="end_date{{ forloop.counter }}"
                                       value="{{ rec.application.applicant_module_rel.all.0.program.program_name }}"
                                       required="True" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.application.student.student_donor_rel.all.0.donor }}</p>
                                <input class="form-control end_date" name="donor" type="text"
                                       id="end_date{{ forloop.counter }}"
                                       value="{{ rec.application.student.student_donor_rel.all.0.donor }}"
                                       required="True" disabled>
                            </td>
                            <td>
                                <p hidden>{{ rec.voucher_amount }}</p>
                                <input class="form-control data end_date currency" name="voucher_amount" type="number"
                                       id="id_voucher_amount{{ rec.id }}"
                                       data-number-to-fixed="2" data-number- stepfactor="100"
                                       min="0" step="0.01"
                                       value="{{ rec.voucher_amount }}" required="True" disabled>
                            </td>
                            <td>
                                <span type="button" name="updt" id="update{{ forloop.counter }}"
                                      class=" update btn green glyphicon glyphicon-ok" style="display:none;">
                                </span>
                                <span type="button" name="edit" id="edit{{ forloop.counter }}"
                                      class=" edit btn blue glyphicon glyphicon-pencil">
                                </span>
                                <span type="button" name="delete" id="delete{{ forloop.counter }}"
                                      class=" delete btn red glyphicon glyphicon-trash">
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

{% endblock %}
