{% extends "template_base_page.html" %}
{% load staticfiles %}

{% block styleBlock %}
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <style type="text/css">

    </style>
{% endblock %}

{% block ScriptBlock %}
    <script>
        window.onload = function () {
            $(document).ready(function () {
                 $('#export_button').attr('disabled', true);

                  $("#id_donor_id").chosen();

                $("#id_donor_id").change(function () {

                    var donor = $(this).val();
                    var url = '/accounting/get_voucher_data_by_donor/';
                    get_voucher_data(url, donor);
                     $('#export_student_value').val(donor);
                      $('#export_button').attr('disabled', false);

                });
                $(document).on("click", "#export_button", function (e) {

                        $('#form_sample_export').submit();

                });


                function get_voucher_data(url, donor) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            donor: donor,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {

                            var output_html = "";

                            for(var i= 0; i< (data['voucher_records']).length ; i++) {

                                output_html += "" +
                                "<tr id='item"+ i +"' class='item'>"
                                + "<td style='width:150px;'><input id='id_voucher_number' class='form-control data voucher_number' value='"+ data['voucher_records'][i]['voucher_rec']['voucher_number'] +"' disabled> </td>"
                                + "<td><input id='id_student"+ i +"' class='form-control data student' value='"+ data['voucher_records'][i]['voucher_rec']['student']['get_all_name'] +"' disabled> </td>"
                                + "<td><input id='id_semester"+ i +"' class='form-control data semester' value='"+ data['voucher_records'][i]['voucher_rec']['semester']['semester_name'] +"' disabled> </td>"
                                + "<td><input id='id_country"+ i +"' class='form-control data country' value='" + data['voucher_records'][i]['approval_amount'] + "' disabled> </td>"
                                + "<td><input id='id_voucher_amount"+ i +"' class='form-control data voucher_amount' value='" + data['voucher_records'][i]['credit_total'] + "' disabled> </td>"
                                + "<td><input id='id_voucher_amount"+ i +"' class='form-control data voucher_number' value='" + data['voucher_records'][i]['outstanding_amount'] + "' disabled> </td>"

                                output_html+= "</tr>"
                            }

                             output_html+= "<tr id='item_total' class='item'><td colspan='4'></td>"
                            + "<td style='width:150px;'><input id='id_total' class='form-control data total_amount' value='"+ data['total_credit_amount'] +"' disabled> </td>"
                            + "<td style='width:150px;'><input id='id_total' class='form-control data total_amount' value='"+ data['total_outstanding_amount'] +"' disabled> </td></tr>"


                            $("#tbody").html(output_html);

                        },
                        error: function (xhr, msg, err) {
                            alert(xhr.responseJSON.error);
                        }
                    });
                }
            });


            $('#sample_1').dataTable().fnDestroy();
            $('#sample_1').dataTable({
                "bFilter": false,
                "aoColumnDefs": [
                    {'bSortable': false}
                ]
            });
        }
    </script>

{% endblock %}



{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'accounts:home' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                <span> Donor Receipt Report </span>
            </li>
        </ul>
    </div>


    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}


    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase"> Donor Receipt Report </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
                <form action="{% url 'masters:save_manage_donor_master' %}" id="form_sample_1"
                      class="form-horizontal"
                      method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-body">

                        <div class="row">

                            <div class="">
                                <label class="col-md-3 control-label">Donor:</label>
                                <div class="col-md-3">
                                    <select id='id_donor_id' title="Select Donor" name="donor"
                                            autocomplete="off" class="form-control" data-live-search="true"
                                            required>
                                        <option style="display:none" selected="selected" id=""
                                                value="">Please Select
                                        </option>

                                        {% for rec in donor_list %}
                                            <option value='{{ rec.id }}'>{{ rec.user.get_full_name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        <div class="col-md-2">
                            <button style="width: 100%" type="button" id="export_button" class="btn blue">
                        Export
                    </button>
                             </div>

                        </div>

                        <br><br>

                        <table class="table table-striped table-hover table-bordered" id="">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Student</th>
                            <th>Semester</th>
                            <th>Scholorship Fee</th>
                            <th>Credit</th>
                            <th>Outstanding</th>
                        </tr>
                        </thead>

                        <tbody id="tbody">

                        </tbody>
                    </table>

                    </div>
                </form>
            </div>
        </div>
             <div class="col-md-2">
                <form method="post" action="{% url 'accounting:export_donor_receipt_report' %}" id="form_sample_export">
                    {% csrf_token %}
                    <input hidden name="donar_id" id="export_student_value" value="">


                </form>
            </div>
    </div>

{% endblock %}
