{% extends 'template_admin_applications_base.html' %}
{% load  i18n %}
{% load staticfiles %}

{% block content %}
    <div class="page-bar" style="margin-bottom: 1px;">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{% url 'tanseeq_app:tanseeq_student' %}">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> {% trans 'Study Mode' %} </span>
            </li>
        </ul>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="color: black;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        </div>
    {% endfor %}

    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet light portlet-fit portlet-form ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Study Mode </span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="form-body">
               <form method="POST">
            {% csrf_token %}

                    <div class="row">

                                <label class="col-md-2 control-label">{% trans form.study_mode.label %}:
                                    <span style="color: red">*</span>
                                </label>
                                <div class="col-md-4">
                                    {{form.study_mode}}
                                </div>



                            </div>



                   <div class="row">

                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn blue" id="back" style="margin-left: 70%"
                                        onclick="window.location='{% url "tanseeq_app:attachment_details" %}'"
                                >
                                    Back
                                </button>

                                 {% if  tanseeq_application.application_status == 'Not Submitted' %}
                                    <button type="submit" class="btn green" id="save_form" style="">Save Next</button>
                                 {% else %}
                                    <button type="button"
                                            onClick="location.href='{% url 'tanseeq_app:list_student_programs' %}'"
                                            class="btn green" id="next" >Next
                                    </button>
                                {% endif %}

                            </div>

                        </div>


        </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block ajax %}
    <script>
        {% if tanseeq_application.application_status == 'Submitted' %}
            $('input').prop('disabled', 'true');
            $('textarea').prop('disabled', 'true');
            $('select').prop('disabled', 'true');
            $('label').prop('readonly', 'true');
        {% endif %}
    </script>
{% endblock %}